// ------------------------------------------------------------
// Asides
// ------------------------------------------------------------

.aside {
	margin-top: 3em;
	&:first-of-type {
		margin-top: $internal-spacing*1.2;
	}
	&--clipping {
		background-color: #fff;
		padding: 2em;
		@include respond-to($c-vp) {
			&:first-of-type {
				margin-top: -100px;
			}
		}
	}
}

.aside__heading {
	position: relative;
	display: inline-block;
	margin-bottom: 1em;
	@include font-size($gamma);
	&:after {
		content: "";
		position: absolute;
		top: 18px;
		right: -4em;
		height: 1px;
		width: 3em;
		background-color: $poppy;
	}
}

.aside__excerpt {
	@include font-size($para);
	margin-bottom: 1em;
}

.aside__button-group {
	.button {
		margin-bottom: 1em;
	}
}
