// ------------------------------------------------------------
// Banner
// ------------------------------------------------------------

.banner {
    position: relative;
    background-color: $slate;
    margin-top: 6em;
    .is-typeset {
        h1,h2,h3,h4,h5,p {
            color: #fff;
        }
        color: #fff;
    }
}

.banner__media {
    transform: translate(-2em, -2em);
    img {
        @extend %max-width;
    }
}

.banner__heading {
    @include font-size($gamma);
    color: #fff;
    margin-bottom: 1em;
}

.banner__excerpt {
    @include font-size($para);
    color: #fff;
    margin-bottom: 1em;
}

.banner__list {
    @include font-size($para);
    color: #fff;
    li {
        margin-bottom: 1em;
        &:last-child {
            margin-bottom: 2em;
        }
    }
    .banner__subeading {
        @extend %font-heading;
        color: #fff;
    }
}

.banner__meta {
    @include font-size($eta);
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}
