// ------------------------------------------------------------
// Banner
// ------------------------------------------------------------

.banner {
    position: relative;
    background-color: $slate;
    margin-top: 6em;
    .is-typeset {
        h1,h2,h3,h4,h5,p {
            color: #fff;
        }
        color: #fff;
    }
    .button {
        margin-right: 1em;
        margin-bottom: 1em;
    }
    &--light {
        background-color: $cloud-dark;
    }
    &--publication {
        background-color: #fff;
        margin-top: 3em;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: -10px;
        background-color: $poppy;
        width: 30px;
        height: 30px;
        z-index: -1;
    }
}

.banner__media {
    position: relative;
    transform: translate(-2em, -2em);
    img {
        @extend %max-width;
    }
}

.banner__credit {
    position: absolute;
    bottom: 0;
    left: 0;
    @include font-size($zeta);
    color: #fff;
    @include rgba(#000, 0.75);
    padding: 0.25em 0.5em;
    a {
        color: #fff;
        text-decoration: underline;
    }
}

.banner__heading {
    @include font-size($gamma);
    color: #fff;
    margin-bottom: 1em;
    .banner--light &, .banner--publication & {
        color: $heading-color;
    }
}

.banner__content {
    a {
        color: #fff;
        text-decoration: underline;
    }
}

.banner__excerpt {
    @include font-size($para);
    color: #fff;
    margin-bottom: 1em;
    a {
        color: #fff;
        text-decoration: underline;
    }
    .banner--light &, .banner--publication & {
        color: $base-color;
        a {
            color: $action;
        }
    }
}

.banner__list {
    @include font-size($para);
    color: #fff;
    li {
        margin-bottom: 0.75em;
        &:last-child {
            margin-bottom: 2em;
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    .banner__subeading {
        @extend %font-heading;
        color: #fff;
        margin-bottom: 0.5em;
    }
}

.banner__meta {
    @include font-size($eta);
    color: #fff;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}
