// -----------------------------------------------------------
// Add brand items such as logos here
// -----------------------------------------------------------


.branding {
    background-image: url(/assets/svg/source/logo-white.svg);
    background-repeat: no-repeat;
    width: 194px;
    height: 37px;
    display: inline-block;
    text-indent: -999em;
}
