// ------------------------------------------------------------
// Breadcrumbs
// ------------------------------------------------------------

.breadcrumbs {
    @extend %pie-clearfix;
    display: none;
    @include respond-to($d-vp) {
        position: relative;
        display: block;
        margin-bottom: 2em;
        .hero & {
            @include respond-to($d-vp) {
                position: absolute;
                bottom: -52px;
                right: 0;
                max-width: 550px;
            }
            @include respond-to($e-vp) {
                max-width: 800px;
            }
        }
        &__item {
            @include font-size($epsilon - 1);
            //background-color: #fff;
            padding: 0.25em 0.75em;
            padding-left: 1.7em;
            position: relative;
            float: left;
            margin-right: 0.25em;
            &:before {
                content: "/";
                position: absolute;
                z-index: 1;
                top: 2px;
                left: 0;
                width: 0;
                height: 0;
                // border-top: 16px solid transparent;
                // border-bottom: 16px solid transparent;
                // border-left: 16px solid $body-color;
            }
            // &:after {
            //     content: "";
            //     position: absolute;
            //     z-index: 2;
            //     top: 0;
            //     right: -16px;
            //     width: 0;
            //     height: 0;
            //     border-top: 16px solid transparent;
            //     border-bottom: 16px solid transparent;
            //     border-left: 16px solid #fff;
            // }
            &:first-child {
                padding-left: 0.75em;
                a {
                    color: $heading-color;
                }
                &:before {
                    content: none;
                }
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
        .spotlight & {
            border-top: 1px solid $cloud;
            margin-top: 1em;
            padding-top: 1em;
            margin-bottom: 0;
            .breadcrumbs__item {
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}
