// ------------------------------------------------------------
// Breadcrumbs
// ------------------------------------------------------------

.breadcrumbs {
    @extend %pie-clearfix;
    display: none;
    @include respond-to($d-vp) {
        position: relative;
        display: block;
        margin-bottom: 2em;
        .hero & {
            @include respond-to($d-vp) {
                background-color: #fff;
                padding: 0.5em 1em;
                position: absolute;
                bottom: -52px;
                right: 0;
                max-width: 480px;
            }
            @include respond-to($e-vp) {
                max-width: 800px;
            }
        }
        &__item {
            position: relative;
            @include font-size($zeta);
            float: left;
            margin-right: 1em;
            &:after {
                content: "/";
                position: absolute;
                top: 0;
                right: -9px;
                color: $heading-color;
            }
            a   {
                &:hover {
                    border-bottom: 1px solid $poppy;
                }
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }
}
