// ------------------------------------------------------------
// Button styles
// ------------------------------------------------------------

.button {
	background: transparent; // // Reset button and reset elements
	border: none; // Reset button and reset elements
	// ------- //
	display: inline-block;
	text-align: left;
	padding: 1em;
	@include font-size($para - 1);
	line-height: 1.3;
	color: $action;
	border: 1px solid $action;
	text-decoration: none;
	position: relative;
	vertical-align: middle;
	transition: all, ease-in-out, 0.3s;
	@include link-active-styles {
		background-color: $action;
		border-color: $action;
		color: #fff;
	}
	&--minor {
		padding: 0.5em;
	}

}

// Give actual buttons some love
button.button {
	background-color: $poppy-dark;
	color: #fff;
	@include link-active-styles {
		background-color: $slate;
	};
}

// ------------------------------------------------------------
// Accessible labels
// ------------------------------------------------------------

.button-a11y {
	position: relative;
	overflow: hidden;
	span {
		top: -10em;
		position: absolute;
		display: inline-block;
	}
	&:after {
		 content: attr(title);
		 display: inline-block;
		 color: inherit;
	}
}

// We want this available as a BEM to extend .button, as well as being stand alone
.button--a11y {
	@extend .button-a11y;
}

// ------------------------------------------------------------
// Variation styles
// ------------------------------------------------------------

.button--summary {
		.chapter-nav__list & {
			margin-top: 2em;
			margin-left: 2em;
			@include respond-to($menu-respond) {
				margin-left: 20%;
				margin-top: 0;
			}
		}
	}

.button--block {
	display: block;
	width: 100%;
}

.button--faux {
	.aside &, .l-3up & {
		display: block;
		width: 100%;
	}
	&__meta {
		color: $slate;
		@include font-size($eta);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 1.25em;
		display: block;
	}
	&__heading {
		@extend %font-heading;
		margin-bottom: 0.75em;
		display: block;
		line-height: 1.3;
	}
	&__list {
		li {
			margin-bottom: 0.5em;
			line-height: 1.3;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__note {
		color: $base-color;
		margin-top: 1em;
		line-height: 1.2;
		@include font-size($zeta + 1);
	}
	&:hover {
		background-color: transparent;
	}
	.aside & {
		margin-top: 1em;
	}
}

.button--icon {
	position: relative;
	padding-right: 5em;
	.ico {
		position: absolute;
		top: 14px;
		right: 14px;
	}
}

.button--secondary {
	border-color: $action-respond;
	color: $action-respond;
	@include link-active-styles {
		border-color: $action;
		background-color: $action;
		color: #fff;
	}
}

.button--reverse {
	border-color: #fff;
	color: #fff;
	.button--faux__meta {
		color: #fff;
	}
	.button--faux__heading {
		color: #fff;
	}
	.button--faux__list a {
		color: #fff;
	}
	&.button--faux {
		&:hover {
			background-color: transparent;
		}
	}
	@include link-active-styles {
		border-color: #fff;
		background-color: #fff !important;
		color: $heading-color;
	}
}

.button--disabled {
	opacity: 0.5;
	cursor: not-allowed;
	filter: grayscale(100%);
}

// ------------------------------------------------------------
// Download button
// ------------------------------------------------------------
.download-button {
	position: relative;
	padding: 1.5rem 1.75rem 1.3rem;
	.ico {
		margin-left: 10px;
	}
	ul {
		position: absolute;
		z-index: 100;
		zoom: 1;
		left: -1px;
		top: calc(100% + 1px);
		width: calc(100% + 2px);
		background: #fff;
		border: 1px solid $slate;
		border-top: 0;
		// transform: translateY(50px);
		transition: $transition;
		pointer-events: none;
		opacity: 0;
		html.no-js & {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			pointer-events: auto;
		}
	}
	li {
		color: $slate;
		padding: 1rem 1.5rem;
		a {
			color: $slate;
			display: block;
			&:hover {
				color: $action;
				span {
					&:after {
						background: $action;
					}
				}
			}
		}
	}
	&:hover, &:focus, &:focus-within {
		border-left-width: 1px;
		background-color: $slate;
		color: #fff;
		ul {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			pointer-events: auto;
		}
	}
	// ie
	&:hover {
		ul {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			pointer-events: auto;
		}
	}
	&.show {
		ul {
			opacity: 1;
			transform: translateY(0);
			-webkit-transform: translateY(0);
			pointer-events: auto;
		}
	}
}

.downloadSize {
	position: relative;
	margin-left: 5px;
	padding-left: 8px;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 5%;
		height: 90%;
		width: 1px;
		background: rgba($slate, 0.75);
		transition: $transition;
	}
}

.download-button--reverse {
    border-color: #fff;
    color: #fff;
    background-blend-mode: multiply;
    ul {
    	border-color: $action;
    }
    &:hover {
        border-color: $action;
        background: $action;
    }
}

.download-button--white {
	background: #fff;
	color: $slate;
	border-color: #fff;
	ul {
		border-color: $action;
	}
	&:hover {
		border-color: $action;
	}
}

.download-button--action {
	background: $action;
	color: #fff;
	border-color: #action;
	ul {
		border-color: $action;
	}
	&:hover {
		border-color: $action;
	}
}
