
// Plotly
// https://chart-studio.plot.ly/create/?fid=urlsangel:1&fid=urlsangel:0
// confusing/unintuitive data entry interface
.plot-container.plotly {
    @include font-size($para - 3);
    text {
        font-family: sans-serif !important;
    }
    .legendtext, .g-ytitle text {
        font-family: "Geomanist Regular", sans-serif !important;
    }
    .js-plot-link-container,
    .modebar-container {
        display: none;
    }
    .svg-container {
        > .main-svg {
            background: none !important;
        }
    }
    .legend {
        .bg {
            fill: none !important;
        }
    }
}
.plotly-notifier span {
    font-family: "Geomanist Regular", sans-serif !important;
}

.chart-container {
    position: relative;
    margin-top: -3em;
    margin-bottom: -3em;
    .data-selector {
        position: absolute;
        top: 7em;
        left: 5em;
        z-index: 100;
    }
}
