$min-chart-width: 700px;


// Plotly
// https://chart-studio.plot.ly/create/?fid=urlsangel:1&fid=urlsangel:0
// confusing/unintuitive data entry interface
.plot-container.plotly {
    @include font-size($para - 3);
    text {
        font-family: sans-serif !important;
    }
    .legendtext, .g-ytitle text {
        font-family: "Geomanist Regular", sans-serif !important;
    }
    .js-plot-link-container,
    .modebar-container {
        //display: none;
    }
    .svg-container {
        > .main-svg {
            background: none !important;
        }
    }
    .legend {
        .bg {
            fill: none !important;
        }
    }
}
.plotly-notifier {
    top: 50% !important;
    transform: translateY(-50%);
    span {
        font-family: "Geomanist Regular", sans-serif !important;
    }
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
    font-family: "Geomanist Regular", sans-serif !important;
}

.xaxislayer-above .xtick text {
    fill: $grey2 !important;
}

.yaxislayer-above .ytick text {
    fill: $grey2 !important;
}

.g-xtitle text, .g-ytitle text, .legendtext {
    fill: $grey5 !important;
}

.gridlayer .xgrid, .gridlayer .ygrid, .zerolinelayer .crisp {
    stroke: $grey2 !important;
}

.xlines-above, .ylines-above {
    stroke: $grey5 !important;
}

.chart-tablet {
    max-width: $min-chart-width;
    .chart-container .charts__chart, .chart-container .data-selector {
        display: none;
    }
}

.chart-mobile {
    max-width: 500px;
    .chart-container .charts__chart, .chart-container .data-selector {
        display: none;
    }
}

.chart-container {
    position: relative;
    .charts__chart {
        background-color: #fff;
        min-height: 450px;
        @include respond-to-max($min-chart-width) {
            display: none;
        }
    }
    .data-selector {
        display: none;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        z-index: 100;
        width: auto;
        height: 35px;
        @include font-size($zeta);
        background-color: transparent;
        padding-left: $form-padding/2;
        padding-right: 25px;
        vertical-align: middle;
        border: $default-border-width solid $default-border-color;
        appearance: none;
        background: url(../svg/png/sort-dark.png) #fff no-repeat 99% 50%;
        background: url(../svg/source/sort-dark.svg) #fff no-repeat 99% 50%;
        background-color: #fff;
        background-size: 14px 14px;
        &:hover, &:focus {
            border-color: $action;
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
        &::-ms-expand {
            display: none;
        }
        &--active {
            display: block;
            @include respond-to-max($min-chart-width) {
                display: none;
            }
        }
    }
    html.no-js & {
        .data-selector, .charts__chart {
            display: none;
        }
    }
    &--ms {
        .charts__chart, .data-selector {
            @include respond-to-max($min-chart-width) {
                display: none;
            }
        }
    }
}

.chart-fallback {
    a {
        .no-js & {
            display: block;
            margin-top: 3em;
        }
        @include respond-to($min-chart-width) {
            .js & {
                display: none;
            }
        }
    }
    img {
        @extend %max-width;
    }
    @include respond-to($min-chart-width) {
        .js & {
            display: none;
        }
    }
    &__no-js-small-screen-image {
        height: 0;
        padding-top: 57%;
        background-size: contain;
        background-repeat: no-repeat;
        .chart-tablet &, .chart-mobile & {
            display: block;
        }
        @include respond-to-max($min-chart-width) {
            display: block;
        }
        .no-js & {
            display: block;
        }
    }
    .chart-tablet &, .chart-mobile & {
        a {
            .js & {
                display: block;
            }
        }
        .js & {
            display: block;
        }
    }
}

.chart-fallback__alert {
    @extend .alert;
    @extend .alert--notice;
    padding-left: 15px;
    display: none;
    @include respond-to($min-chart-width) {
        display: none;
    }
    .no-js & {
        display: block;
    }
    &--ss {
        display: block;
        @include respond-to($min-chart-width) {
            display: none;
        }
        .no-js & {
            display: none;
        }
    }
}

.chart__accordion {
    margin-top: -2em;
    .no-js & {
        display: none;
    }
    @include respond-to-max($min-chart-width) {
        display: none;
    }
}

.chart-loading {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    display: none;
    .chart-container--loading & {
        display: block;
    }
}

.chart-loading__block {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.chart-loading__block div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $poppy-dark;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $poppy-dark transparent transparent transparent;
}
.chart-loading__block div:nth-child(1) {
  animation-delay: -0.45s;
}
.chart-loading__block div:nth-child(2) {
  animation-delay: -0.3s;
}
.chart-loading__block div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
