// ------------------------------------------------------------
// Duo
// ------------------------------------------------------------

.duo {
    @extend %pie-clearfix;
    &__media {
        position: relative;
        margin-bottom: 1em;
        img {
            @extend %max-width;
        }
        @include respond-to($c-vp) {
            margin-bottom: 0;
            float: left;
            width: 45%;
        }
    }
    &__main {
        @include respond-to($c-vp) {
            float: right;
            width: 50%;
        }
    }
    &--offset {
        .duo__main {
            margin-bottom: 1em;
            @include respond-to($c-vp) {
                margin-bottom: 0;
                float: left;
                width: 35%;
            }
        }
        .duo__media {
            margin-bottom: 0;
            @include respond-to($c-vp) {
                float: right;
                width: 60%;
            }
        }
    }
}

.duo__credit {
    position: absolute;
    bottom: 0;
    left: 0;
    @include font-size($zeta);
    color: #fff;
    @include rgba(#000, 0.75);
    padding: 0.25em 0.5em;
    a {
        color: #fff;
        text-decoration: underline;
    }
}
