// -----------------------------------------
// Filter
// -----------------------------------------

.filter {

}

.filter__title {
    @include font-size($delta);
    @extend %font-heading;
    margin-bottom: 1em;
}

.filter__list {
    @include font-size($epsilon);
     .filter__list__item {
         display: inline-block;
         margin-right: 0.5em;
         margin-bottom: 1em;
         a {
             border: 1px solid $action;
             padding: 0.25em 1em;
             border-radius: 1.5em;
             @include link-active-styles {
                 background-color: $poppy-dark;
                 color: #fff;
             }
         }
         &--active {
            a {
                background-color: $poppy-dark;
                color: #fff;
            }
         }
     }
}
