// -----------------------------------------
// Filter
// -----------------------------------------

.filter {

}

.filter__title {
    @include font-size($delta);
    @extend %font-heading;
    margin-bottom: 1em;
}

.filter__list {
    @include font-size($epsilon);
     li {
         display: inline-block;
         margin-right: 0.5em;
         margin-bottom: 1em;
         a {
             border: 1px solid $action;
             padding: 0.25em 1em;
             border-radius: 1.5em;
             @include link-active-styles {
                 border-color: $action-respond;
                 background-color: lighten($action-respond, 20%);
                 color: #fff;
             }
         }
     }
}
