// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------

.footer {
    position: relative;
    background-color: $slate;
    padding: $internal-spacing*3 0 $internal-spacing 0;
    @include respond-to($menu-respond) {
        margin-left: $internal-spacing*2;
        margin-right: $internal-spacing*2;
        padding-left: $internal-spacing;
        padding-right: $internal-spacing;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background-color: $cloud;
    }
    .button {
        background-color: $action;
        color: #fff;
    }
}

.footer__title {
    @include font-size($zeta);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

.footer__list {
    li {
        @include font-size($zeta);
        color: lighten($slate, 50%);
        margin-bottom: 0.5em;
        a {
            color: lighten($slate, 50%);
            @include link-active-styles {
                text-decoration: underline;
            }
        }
    }
}

.footer__meta {
    border-top: 1px solid lighten($slate, 15%);
    margin-top: 3em;
    padding-top: 3em;
}

.footer__meta-copy {
    @include font-size($zeta);
    color: lighten($slate, 50%);
    max-width: 75%;
}
