// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

.header {
	position: relative;
	z-index: 1;
	background-color: $poppy;
	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		background-color: $poppy;
	}
	@include respond-to($menu-respond) {
		background-color: $body-color;
		&:after {
			width: 32%;
		}
	}
	.row {
		position: relative;
		padding-top: 2em;
		padding-bottom: 2em;
	}
}
