// ------------------------------------------------------------
// Heroes
// ------------------------------------------------------------

.hero {
    position: relative;
    background-color: $poppy-dark;
    padding: 8em 0 5em 0;
    @include respond-to($menu-respond) {
        padding: 22em 0 10em 0;
        width: 95%;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 60px;
            background-color: $cloud;
        }
    }
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include rgba(#000, 0.5);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 60px;
        background-color: $poppy-dark;
    }
    @include respond-to($menu-respond) {
        top: 5%;
        left: 50px;
        width: 90%;
        height: 95%;
    }
}

.hero__content {
    max-width: 650px;
    .button {
        margin-top: 1.5em;
    }
}

.hero__title {
    @extend %font-heading;
    @include font-size($alpha);
    line-height: 1.3;
    margin-bottom: 0.25em;
    color: #fff;
    @include respond-to($menu-respond) {
        @include font-size($alpha-papa);
    }
}

.hero__excerpt {
    @include font-size($para);
    color: #fff;
}

.hero__meta {
    margin-bottom: 2em;
}

.hero__meta-item {
    @include font-size($eta);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 2em;
    color: #fff;
    &--block {
        background-color: #fff;
        color: $heading-color;
        padding: 0 0.5em;
    }
}

// Heroe flourishes
// ------------------------------------------------------------

.hero__flourish {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 120px;
    opacity: 0;
    background: $poppy;
    animation: herofade 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    mix-blend-mode: color;
    &:nth-child(2) {
        left: 50px;
        width: 100px;
        height: 100px;
        animation: herofade2 1s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    &:nth-child(3) {
        top: 200px;
        left: 700px;
        width: 80px;
        height: 80px;
        animation: herofade3 1s;
        animation-delay: 0.75s;
        animation-fill-mode: forwards;
    }
    &:nth-child(4) {
        top: 140px;
        left: 780px;
        width: 60px;
        height: 60px;
        animation: herofade4 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    &:nth-child(5) {
        top: 30px;
        left: 950px;
        width: 40px;
        height: 40px;
        animation: herofade5 1s;
        animation-delay: 1.6s;
        animation-fill-mode: forwards;
    }
    &:nth-child(6) {
        top: 60px;
        left: 320px;
        width: 70px;
        height: 70px;
        animation: herofade6 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    &:nth-child(7) {
        bottom: 90px;
        right: -30px;
        width: 30px;
        height: 30px;
        animation: herofade6 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    &:nth-child(8) {
        bottom: -50px;
        right: 70px;
        width: 50px;
        height: 50px;
        animation: herofade2 1s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
}
