// ------------------------------------------------------------
// Heroes
// ------------------------------------------------------------

.hero {
    position: relative;
    background-color: $poppy;
    padding: 8em 0 5em 0;
    @include respond-to($menu-respond) {
        padding: 10em 0 8em 0;
        width: 95%;
        min-height: 400px;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 60px;
            background-color: $cloud;
        }
        &--minor {
            padding: 8em 0 5em 0;
        }
    }
    @include respond-to($e-vp) {
        padding: 20em 0 15em 0;
        &--short {
            padding: 8em 0 15em 0;
        }
    }
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: $poppy;
    }
    @include respond-to($menu-respond) {
        top: 5%;
        left: 50px;
        width: 90%;
        height: 95%;
    }
}

.hero__credit {
    position: absolute;
    bottom: 0;
    left: $internal-spacing;
    @include font-size($zeta);
    color: #fff;
    @include rgba(#000, 0.75);
    padding: 0.25em 0.5em;
    a {
        color: #fff;
        text-decoration: underline;
    }
    @include respond-to($c-vp) {
        left: 3.8em;
    }
}

.hero__content {
    max-width: 650px;
    .button {
        margin-top: 1.5em;
    }
    @include respond-to($c-vp) {
        max-width: 500px;
    }
    @include respond-to($d-vp + 175px) {
        max-width: 650px;
    }
    .hero--profile & {
        @include respond-to($b-vp + 75px) {
            width: 75%;
            float: left;
        }
    }
}

.hero__profile {
    position: relative;
    margin-bottom: 1em;
    img {
        @extend %max-width;
    }
    &:before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        height: 30px;
        width: 30px;
        background-color: #fff;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        right: -10px;
        height: 30px;
        width: 30px;
        background-color: lighten($poppy, 5%);
    }
    @include respond-to($b-vp + 75px) {
        width: 20%;
        float: left;
        margin-right: 5%;
        margin-bottom: 3em;
    }
    @include respond-to($c-vp) {
        margin-bottom: 0;
    }
}

.hero__title {
    @extend %font-heading;
    @include font-size($alpha);
    line-height: 1.3;
    margin-bottom: 0.25em;
    color: #fff;
    display: block;
    @include respond-to($menu-respond) {
        @include font-size($alpha-papa);
    }
    span {
        display: inline-block;
        @include rgba($poppy-dark, 0.75);
        padding: 0.25em;
    }
    .hero--image & {
        span {
            padding: 0;
            background-color: transparent;
        }
    }
}

.hero__subtitle {
    @include font-size($delta);
    line-height: 1.3;
    margin-bottom: 0.25em;
    color: #fff;
    display: block;
    span {
        display: inline-block;
        @include rgba($poppy-dark, 0.75);
        padding: 0.25em;
    }
}

.hero__list {
    @include font-size($para);
    color: #fff;
    margin-top: 1em;
    li {
        a {
            color: #fff;
            text-decoration: underline;
        }
        .ico {
            margin-right: 5px;
        }
    }
}

.hero__excerpt {
    @include font-size($para);
    color: #fff;
    display: inline-block;
    span {
        display: inline-block;
        @include rgba($poppy-dark, 0.75);
        padding: 0.25em 0.5em;
    }
    .hero--image & {
        span {
            padding: 0;
            background-color: transparent;
        }
    }
}

.hero__meta {
    margin-bottom: 2em;
}

.hero__meta-item {
    @include font-size($eta);
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-right: 2em;
    color: #fff;
    &--block {
        background-color: #fff;
        color: $heading-color;
        padding: 0 0.5em;
    }
    &--block--alt {
        color: #fff;
        background-color: $slate;
    }
}

.hero__button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 4em;
}

// Heroe flourishes
// ------------------------------------------------------------

.hero__flourish {
    display: none;
    @include respond-to($menu-respond) {
        position: absolute;
        display: block;
        bottom: 0;
        right: 0;
        width: 120px;
        height: 120px;
        opacity: 0;
        background: $poppy-dark;
        animation: herofade 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        &:nth-child(2) {
            left: 50px;
            width: 100px;
            height: 100px;
            animation: herofade2 1s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
        }
        &:nth-child(3) {
            top: 200px;
            right: 435px;
            width: 80px;
            height: 80px;
            animation: herofade3 1s;
            animation-delay: 0.75s;
            animation-fill-mode: forwards;
        }
        &:nth-child(4) {
            top: 140px;
            right: 375px;
            width: 60px;
            height: 60px;
            animation: herofade4 1s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
        }
        &:nth-child(5) {
            top: 30px;
            right: 220px;
            width: 40px;
            height: 40px;
            animation: herofade5 1s;
            animation-delay: 1.6s;
            animation-fill-mode: forwards;
        }
        &:nth-child(6) {
            top: 60px;
            left: 250px;
            width: 70px;
            height: 70px;
            animation: herofade6 1s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
        &:nth-child(7) {
            display: none;
            @include respond-to($menu-respond) {
                display: block;
                bottom: 90px;
                right: -30px;
                width: 30px;
                height: 30px;
                animation: herofade6 1s;
                animation-delay: 2s;
                animation-fill-mode: forwards;
            }
        }
        &:nth-child(8) {
            bottom: -50px;
            right: 70px;
            width: 50px;
            height: 50px;
            animation: herofade2 1s;
            animation-delay: 2s;
            animation-fill-mode: forwards;
        }
    }
}
