// ------------------------------------------------------------
// Highlights
// ------------------------------------------------------------

.highlight {
    @extend %pie-clearfix;
    position: relative;
    background-color: darken($cloud, 5%);
    padding: 3em;
    padding-left: 0;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        display: block;
        background-color: darken($cloud, 5%);
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $body-color;
    }
}

.highlight__heading {
    @include font-size($gamma);
    margin-bottom: 1em;
}

.highlight__media {
    img {
        @extend %max-width;
    }
}

.highlight__flag {
    background-color: $poppy-dark;
    color: #fff;
    @include font-size($zeta);
    padding: 0.5em 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.highlight__list {
    @include font-size($para);
    li {
        margin-bottom: 0.5em;
        &:last-child {
            margin-bottom: 0;
        }
        span {
            @extend %font-heading;
            margin-right: 8px;
        }
    }
}
