// ------------------------------------------------------------
// Keyframes
// ------------------------------------------------------------

@keyframes herofade {
    from { opacity: 0; }
    to   { opacity: 0.7; }
}

@keyframes herofade2 {
    from { opacity: 0; }
    to   { opacity: 0.4; }
}

@keyframes herofade3 {
    from { opacity: 0; }
    to   { opacity: 0.25; }
}

@keyframes herofade4 {
    from { opacity: 0; }
    to   { opacity: 0.5; }
}

@keyframes herofade5 {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

@keyframes herofade6 {
    from { opacity: 0; }
    to   { opacity: 0.2; }
}
