// Basic responsive videos
// ------------------------------------------------------------

.media-video-wrapper,
.media-wrapper {
	position: relative;
	@include maintain-ratio(16 9);
	object,embed,iframe  {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.is-typeset & {
		margin: 2em 0;
	}
}

.media-figure {
	position: relative;
	.is-typeset & {
		margin: 2em 0;
		@include respond-to($d-vp) {
			margin-bottom: 4em;
		}
	}
	img {
		display: block;
		margin-bottom: 0.5em;
		width: 100%;
		height: auto;
	}
	&__caption {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
		background-color: $slate;
		color: #fff;
		@include font-size($para - 3);
		display: block;
		padding: 1em 1.5em;
		max-width: 500px;
		@include respond-to($d-vp) {
			bottom: -2em;
			left: -2em;
		}
	}
}
