// ------------------------------------------------------------
// Modules
// prefix with m-
// ------------------------------------------------------------

.m-author {
    overflow: hidden;
    background-color: $poppy-dark;
    max-width: 300px;
    .hero & {
        position: absolute;
        bottom: -85px;
        left: $internal-spacing;
        @include respond-to($menu-respond) {
    		left: $internal-spacing*4;
            bottom: -35px;
    	}
    }
    .hero--image & {
        @include respond-to($menu-respond) {
            left: auto;
    		right: $internal-spacing;
    	}
    }
    .card & {
        margin-top: 2em;
        background-color: #fff;
    }
}

a.m-author {
    transition: all, ease-in-out, 0.3s;
    @include link-active-styles {
        background-color: darken($poppy-dark, 5%);
        .m-author__title {
            text-decoration: underline;
        }
    }
}

.m-author__image {
    float: left;
    width: 27%;
    img {
        @extend .max-width;
    }
}

.m-author__body {
    padding-left: 32%;
    padding-top: 10px;
}

.m-author__title {
    @include font-size($zeta);
    @extend %font-heading;
    color: #fff;
    .card & {
        color: $heading-color;
    }
}

.m-author__job {
    @include font-size($zeta);
    color: #fff;
    .card & {
        color: $base-color;
    }
}

// Multiple authors //

.m-authors {
    position: relative;
    background-color: #fff;
    padding: 2em;
    margin-bottom: 3em;
    .chapter-block_content & {
        background-color: transparent;
        padding: 0;
        padding-left: 2em;
        border-left: 2px solid $default-border-color;
    }
    &__title {
        @extend %font-heading;
        @include font-size($eta);
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 0.5em;
    }
    &__list {
        @include font-size($epsilon);
        li {
            display: inline-block;
            margin-right: 3px;
            &:after {
                content: ","
            }
            a {
                font-size: inherit;
                text-decoration: underline;
            }
        }
    }
}

.m-stat {
    border-top: 3px solid darken($cloud, 5%);
    padding-top: 2em;
    margin-top: 2em;
    .ico {
        margin-bottom: 1em;
    }
    &--simple {
        border-top: none;
        padding-top: 0;
    }
}

.m-stat__icon {
    width: auto;
    margin-bottom: 2em;
    img {
        @extend %max-width;
        height: 100px;
        vertical-align: bottom;
        margin-left: auto;
        margin-right: auto;
    }
}

.m-stat__title {
    @include font-size($gamma);
    margin-bottom: 0.5em;
    line-height: 1.3;
    &--center {
        text-align: center;
    }
}

.m-stat__excerpt {
    @include font-size($para - 2);
}

.m-downloads {
    position: relative;
    background-color: #fff;
    padding: 3em;
    &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: $poppy;
        right: -15px;
        bottom: -15px;
        z-index: 1;
    }
    &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        @include rgba($poppy, 0.5%);
        right: 15px;
        bottom: 15px;
        z-index: 2;
    }
}

.m-downloads__heading {
    @include font-size($beta);
    margin-bottom: 0.75em;
}

.m-downloads__list {
    @include font-size($epsilon);
    li {
        margin-bottom: 0.5em;
        a {
            text-decoration: underline;
        }
    }
    @include respond-to($c-vp) {
        columns: 2;
    }
}

.m-service {
    position: relative;
    margin-top: 1em;
    background-color: #fff;
    padding: 2em;
    .ico {
        position: absolute;
        top: 2.5em;
        left: 1.75em;
    }
}

.m-service__copy {
    @include font-size($epsilon);
    padding-left: 30px;
    a:hover {
        text-decoration: underline;
    }
}

// downloadChapter --------------------------------------------
.mainAction {
}

.download {
    margin-bottom: 3rem;
    @include respond-to($d-vp) {
        margin-bottom: 0;
        width: 40%;
        width: calc(40% - 40px);
        float: left;
    }
    &-full {
        @include respond-to($d-vp) {
            width: 100%;
        }
        .download__item {
            &:last-of-type {
                border-bottom: 1px solid rgba($slate, 0.25);
            }
        }
    }
}

.download__item {
    position: relative;
    padding: 1rem 0;
    border-bottom: 1px solid rgba($slate, 0.25);
    &:last-of-type {
        border-bottom: 0;
    }
}

.download__img {
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 50px;
}

.download__label {
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size($eta / 1.25);
    @include respond-to($d-vp) {
        @include font-size($eta);
    }
}

.download__link {
    font-size: 1.3rem !important;
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}

// orderReport ------------------------------------------------
.orderReport {
    position: relative;
    @include respond-to($d-vp) {
        width: 60%;
        float: right;
    }
}

.orderReport__img {
    display: none;
    @include respond-to($d-vp) {
        display: block;
        max-width: 250px;
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
    }
    &-standardAction {
        width: 100%;
        height: 200px;
        max-width: 100%;
        @include respond-to($d-vp) {
            max-width: 250px;
            width: 100%;
            height: 350px;
        }
    }
}

.orderReport__content {
    background: #fff;
    padding: 3rem;
    @include respond-to($d-vp) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        left: 30%;
        width: 70%;
    }
}

// shareBlock -------------------------------------------------
.share {
    position: relative;
    padding: 3rem;
    overflow: hidden;
    text-align: center;
    background-color: $bluebell;
    @include respond-to($c-vp) {
        text-align: left;
    }
}

.share__wrapper {
    @extend %pie-clearfix;
    &[data-js="share-section"] {
        @include leader($para);
        @include trailer($beta);
        .js & {
            display: none;
        }
    }
}

.share__media {
    @include respond-to($c-vp) {
        float: left;
    }
}

.share__item {
    width: 40px;
    display: inline-block;
}


.share__content {
    background: #fff;
    padding: 3rem;
}

.share__copy {
    max-width: 100%;
    width: 100%;
    @include respond-to($c-vp) {
        width: calc(100% - 140px);
        float: left;
        margin-left: 5px;
    }
    .button {
        display: inline-block;
        position: relative;
        top: -4px;
        width: auto;
        border: 1px solid $action;
        margin-left: 3px;
        @include font-size($zeta);
        .no-js & {
            display: none;
        }
    }
    input {
        @include font-size($delta);
        display: inline-block;
        width: calc((100% - 74px);
        padding: 9px 1.5rem;
        border: 1px solid $slate;
        opacity: 0.5;
    }
}

// footnotes --------------------------------------------------
.footnotes {
    max-width: 800px;
    margin: 0 auto;
}

.footnotes__list {
    margin-bottom: 1rem;
    padding-left: 1rem;
    @include respond-to($c-vp) {
        padding-left: 2rem;
    }
}

.footnotes__sub {
    position: relative;
    display: inline-block;
    padding-top: 1.5rem;
    margin-bottom: 2rem;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        width: 100%;
        height: 3px;
        background: $slate;
    }
}

.footnotes__item {
    margin-bottom: 2rem
}

.footnotes__text {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    @include respond-to($c-vp) {
        @include font-size($eta*1.25);
    }
}

.footnotes__link {
    word-break: break-all;
    text-decoration: underline;
}

.footnotes__return {
    text-transform: uppercase;
    color: $action;

}
