/* Overlay */

.modal {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-transition: 0.5s;
	overflow: auto;
	transition: all 0.3s linear;
	@include respond-to($c-vp) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&--share {
		display: none;
	}
	&--share-open {
		display: block;
	}
}

.modal__content {
	position: relative;
	background-color: #fefefe;
	margin: 0 auto;
	padding: 20px;
	border-radius: 8px;
	max-width: 680px;
	box-shadow: 20px 40px 50px rgba(0, 0, 0, 0.1);
	height: 100vh;
	overflow-y: scroll;
	@include respond-to($c-vp) {
		height: 100%;
		overflow-y: auto;
		&--minor {
			height: auto;
			transform: translateY(-50%);
			top: 50%;
		}
	}
	iframe {
		width: 100% !important;
		// height: 100% !important;
		@include respond-to($c-vp) {
			margin-bottom: 20px;
		}
	}
}

.modal__heading {
	@include font-size($beta);
	margin-bottom: 0.5em;
}

.is-hidden { display: none; }

.is-visually-hidden { opacity: 0; }

.is-blurred {
	filter: blur(2px);
	-webkit-filter: blur(2px);
}
.modal-button-close {
	color: #fff;
	background-color: #000;
	font-size: 26px;
	position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0px 15px;
	border-bottom-left-radius: 8px;
	cursor: pointer;
}

.modal-dismiss{
	margin-left: 30px;
}

.modal-button-close:hover, .modal-button-close:focus {
	background-color: $poppy-dark;
}
