// ------------------------------------------------------------
// Profile
// ------------------------------------------------------------

.profile {
    position: relative;
    &:hover {
        .profile__caption {
            background-color: $poppy-dark;
            @include respond-to($c-vp) {
                transform: translate(0,-20px);
            }
        }
    }
}

.profile__media {
    img {
        @extend %max-width;
    }
}

.profile__caption {
    background-color: $slate;
    padding: 1.5em;
    transition: all, ease-in-out, 0.3s;
    @include respond-to($c-vp) {
        transform: translate(-10px,-20px);
    }
}

.profile__title {
    @include font-size($delta + 1);
    line-height: 1.2;
    color: #fff;
    margin-bottom: 0.5em;
}

.profile__meta {
    color: #fff;
    @include font-size($epsilon - 1);
}
