// ------------------------------------------------------------
// case study block
// ------------------------------------------------------------
.pullout {
	position: relative;
	padding: 3em;
	margin-bottom: 1rem;
    background-color: $bluebell;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $bluebell;
    }
}

.pullout__heading-wrapper {
	display: inline-block;
	//border-bottom: $border-width solid $gnr-aqua;
	padding-bottom: 0.5rem;
	margin-bottom: 3rem;
	@include respond-to($d-vp + 180px) {
		position: absolute;
		left: -60px;
		top: 30px;
		max-width: 250px;
	}
	@include respond-to($e-vp) {
		left: 10%;
		max-width: 150px;
	}
}

.pullout__heading {
	position: relative;
	color: #fff;
    @include font-size($beta);
    border-bottom: 3px solid #fff;
}

.pullout__content {
	background: #fff;
	padding: 2rem;
	@include respond-to($c-vp) {
		padding: 3rem;
	}
}
