// -----------------------------------------
// Section
// -----------------------------------------

.section {
    @extend .space-section-both;
    &--post {
        margin-top: $internal-spacing*3.5;
    }
    &__heading {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        @include font-size($beta);
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: -4em;
            height: 1px;
            width: 3em;
            background-color: $poppy;
        }
    }
    &--alt {
        background-color: #fff;
        padding-top: $internal-spacing*1.5;
        padding-bottom: $internal-spacing*1.5;
    }
}

.section__highlight {
    position: relative;
    background-color: $slate;
    @include respond-to($menu-respond) {
        margin-left: $internal-spacing*2;
        margin-right: $internal-spacing*2;
        padding: $internal-spacing;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $cloud;
    }
}
