// -----------------------------------------
// Section
// -----------------------------------------

.section {
    @extend .space-section-both;
    &--paddless {
        margin: 0;
    }
    &--post {
        margin-top: $internal-spacing*3.5;
    }
    &--scroll {
        overflow-y: scroll;
    }
    &__heading {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        @include font-size($beta);
        @include respond-to($menu-respond) {
            &:after {
                content: "";
                position: absolute;
                top: 20px;
                right: -4em;
                height: 1px;
                width: 3em;
                background-color: $poppy;
            }
        }
    }
    &__sub-heading {
        @include font-size($gamma);
        margin-bottom: 1em;
    }
    &--alt {
        background-color: #fff;
        padding-top: $internal-spacing*1.5;
        padding-bottom: $internal-spacing*1.5;
    }
    &--large {
        margin: $internal-spacing*3 0;
    }
}

.section__highlight {
    position: relative;
    background-color: $slate;
    @include respond-to($menu-respond) {
        margin-left: $internal-spacing*2;
        margin-right: $internal-spacing*2;
        padding: $internal-spacing;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: $cloud;
    }
}

// ------------------------------------------------------------
// Chapter sub-sections
// ------------------------------------------------------------

.section-chapter {
    position: relative;
    @include respond-to($d-vp + 150px) {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -110%;
            height: 100%;
            width: 100%;
            background-color: $poppy;
            display: block;
        }
    }
}

.section-chapter__number {
    @include font-size($beta);
    color: $bluebell;
    border-bottom: 3px solid $bluebell;
    margin-bottom: 0.5em;
    display: inline-block;
    @include respond-to($d-vp + 150px) {
        @include font-size($alpha + 8);
        position: absolute;
        top: 0.25em;
        left: 0;
        line-height: 1;
    }
}

.section-chapter__link {
    @include font-size($eta);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
    display: block;
    text-decoration: underline;
    .ico {
        margin-right: 5px;
        top: -1px;
    }
}

.section-chapter__heading {
    @include font-size($alpha / 1.25);
    line-height: 1.3;
    @include respond-to($menu-respond) {
        @include font-size($alpha + 8);
        max-width: 70%;
    }
}
