// -----------------------------------------
// Section
// -----------------------------------------

.section {
    @extend .space-section-both;
    &--post {
        margin-top: $internal-spacing*2.5;
    }
    &__heading {
        position: relative;
        display: inline-block;
        margin-bottom: 1em;
        @include font-size($beta);
        &:after {
            content: "";
            position: absolute;
            top: 20px;
            right: -4em;
            height: 1px;
            width: 3em;
            background-color: $poppy;
        }
    }
}
