// ------------------------------------------------------------
// Spotlight
// ------------------------------------------------------------

.spotlight-banner {
    @extend %pie-clearfix;
    position: relative;
    background-color: #fff;
    padding: 2em;
    &__aside {
        margin-bottom: 2em;
    }
    @include respond-to($c-vp) {
        &__aside {
            float: left;
            width: 30%;
            padding-right: 2em;
            margin-bottom: 0;
        }
        &__main {
            float: left;
            width: 70%;
            padding-left: 2em;
            border-left: 1px solid $default-border-color;
        }
        &--alt {
            .spotlight-banner__aside {
                width: 40%;
            }
            .spotlight-banner__main {
                width: 60%;
            }
        }
    }
}

.spotlight-banner__form {
    display: block;
    @include respond-to($b-vp) {
        .form-field--inline {
            margin-top: 0;
        }
        button.button {
            margin-top: 1.9em;
        }
    }
    // @include respond-to($c-vp) {
    //     display: block;
    //     html.js & {
    //         display: none;
    //     }
    // }
}

.spotlight {
    @extend %pie-clearfix;
    margin-top: 3px;
    &--leader {
        margin-top: 2em;
    }
    &--full {
        margin-top: 2em;
    }
    &__aside {
        margin-bottom: 2em;
        overflow: hidden;
        &--padded {
            background-color: #fff;
            padding: 2em;
        }
    }
    &__main--interactive {
        position: relative;
    }
    @include respond-to($c-vp) {
        @supports (display: flex) {
            display: flex;
        }
        &--full {
            display: block;
        }
        &__aside {
            float: left;
            width: 30%;
            margin-bottom: 0;
        }
        &__main {
            float: left;
            width: 70%;
            .spotlight--full & {
                width: 100%;
                float: none;
                display: block;
            }
            &--interactive {
                border: 1px solid $poppy;
                div {
                    position: absolute;
            		top: 0;
            		left: 0;
            		width: 100%;
            		height: 100%;
                }
            }
        }
    }
}

.spotlight__select {
    .button {
        transform: translateY(2px);
    }
}

.spotlight__select-container {
    display: block;
    width: 100%;
}

.select2-selection {
    border-color: $default-border-color !important;
    border-radius: 0 !important;
    height: $form-item-height !important;
    @include font-size($para);
}

.select2-selection__rendered {
    padding-top: 7px;
}

.select2-selection__arrow {
    top: 10px !important;
}

.select2-results__option {
    @include font-size($para);
}

.select2-selection--multiple  {
    @include font-size($para);
    min-height: 53px !important;
    border-color: $default-border-color;
}

.select2-selection__choice {
    background-color: $cloud !important;
    color: $heading-color;
    border-color: $default-border-color !important;
    margin-top: 10px !important;
}

.spotlight__heading {
    position: relative;
    @include font-size($beta);
    .button {
        display: none;
        html.js & {
            display: block;
            float: right;
        }
    }
}

.spotlight__subheading {
    @include font-size($delta);
    margin-bottom: 0.5em;
}

.spotlight__excerpt {
    @include font-size($zeta);
}

.spotlight__content {
    position: relative;
    border-top: 1px solid $cloud;
    margin-top: 1em;
    padding-top: 1em;
    .button {
        margin-top: 1em;
    }
}

.spotlight-legend {
    margin-top: 2em;
    @include font-size($zeta);
    span {
        display: block;
        text-align: center;
        padding: 0.5em;
        background-color: $cloud;
    }
    &--red {
        span {
            &:first-child {
                background-color: lighten($poppy-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($poppy-light, 10%);
            }
            &:nth-child(3) {
                background-color: $poppy-light;
            }
            &:nth-child(4) {
                background-color: $poppy;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $poppy-dark;
                color: #fff;
            }
        }
    }
    &--blue {
        span {
            &:first-child {
                background-color: lighten($bluebell-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($bluebell-light, 10%);
            }
            &:nth-child(3) {
                background-color: $bluebell-light;
            }
            &:nth-child(4) {
                background-color: $bluebell;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $bluebell-dark;
                color: #fff;
            }
        }
    }
    &--yellow {
        span {
            &:first-child {
                background-color: lighten($sunflower-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($sunflower-light, 10%);
            }
            &:nth-child(3) {
                background-color: $sunflower-light;
            }
            &:nth-child(4) {
                background-color: $sunflower;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $sunflower-dark;
                color: #fff;
            }
        }
    }
    &--orange {
        span {
            &:first-child {
                background-color: lighten($marigold-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($marigold-light, 10%);
            }
            &:nth-child(3) {
                background-color: $marigold-light;
            }
            &:nth-child(4) {
                background-color: $marigold;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $marigold-dark;
                color: #fff;
            }
        }
    }
    &--pink {
        span {
            &:first-child {
                background-color: lighten($rose-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($rose-light, 10%);
            }
            &:nth-child(3) {
                background-color: $rose-light;
            }
            &:nth-child(4) {
                background-color: $rose;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $rose-dark;
                color: #fff;
            }
        }
    }
    &--purple {
        span {
            &:first-child {
                background-color: lighten($lavendar-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($lavendar-light, 10%);
            }
            &:nth-child(3) {
                background-color: $lavendar-light;
            }
            &:nth-child(4) {
                background-color: $lavendar;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $lavendar-dark;
                color: #fff;
            }
        }
    }
    &--green {
        span {
            &:first-child {
                background-color: lighten($leaf-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($leaf-light, 10%);
            }
            &:nth-child(3) {
                background-color: $leaf-light;
            }
            &:nth-child(4) {
                background-color: $leaf;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $leaf-dark;
                color: #fff;
            }
        }
    }
}

.spotlight__interactive {
    position: relative;
	min-height: 500px;
    border: 1px solid $poppy;
    div {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }
    .spotlight__stat & {
        min-height: auto;
        @include maintain-ratio(4 3);
    }
}


.spotlight__stat {
    text-align: center;
}

.spotlight__stat-heading {
    @include font-size($delta);
    line-height: 1.3;
    margin-bottom: 0.5em;
}

.spotlight__stat-data {
    @extend %font-heading;
    @include font-size($alpha);
    color: $poppy-dark;
    &__note {
        font-size: 45%;
        color: $base-color;
        @extend %font-sans;
        display: block;
        text-align: center;
        transform: translateY(-0.75em);
    }
}

.spotlight__comparison {
    @extend %pie-clearfix;
    display: block;
    + .spotlight__comparison {
        border-top: 1px solid $cloud;
        padding-top: 1em;
        margin-top: 2em;
    }
}

.spotlight__comparison-legend {
    width: 26px;
    height: 26px;
    background-color: $sunflower-dark;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-right: 1em;
    &--alt {
        background-color: $sunflower-light;
    }
    @include respond-to($c-vp - 100px) {
        width: 70px;
        height: 70px;
        margin-top: 7px;
    }
}

.spotlight-menu {
    transform: translateX(-100%);
    transition: all ease-in-out, 0.3s;
    &--active {
        transform: translateX(0);
    }
    display: none;
    html.js & {
        display: block;
    }
}
