// ------------------------------------------------------------
// Spotlight
// ------------------------------------------------------------

.spotlight-banner {
    @extend %pie-clearfix;
    position: relative;
    background-color: #fff;
    padding: 2em;
    &__aside {
        margin-bottom: 2em;
    }
    @include respond-to($c-vp) {
        &__aside {
            float: left;
            width: 30%;
            border-right: 1px solid $default-border-color;
            padding-right: 2em;
            margin-bottom: 0;
        }
        &__main {
            float: left;
            width: 70%;
            padding-left: 2em;
        }
        &--alt {
            .spotlight-banner__aside {
                width: 40%;
            }
            .spotlight-banner__main {
                width: 60%;
            }
        }
    }
}

.spotlight {
    @extend %pie-clearfix;
    margin-top: 3px;
    &--leader {
        margin-top: 2em;
    }
    &__aside {
        margin-bottom: 2em;
        overflow: hidden;
        &--padded {
            background-color: #fff;
            padding: 2em;
        }
    }
    &__main--interactive {
        position: relative;
    }
    @include respond-to($c-vp) {
        @supports (display: flex) {
            display: flex;
        }
        &__aside {
            float: left;
            width: 30%;
            margin-bottom: 0;
        }
        &__main {
            float: left;
            width: 70%;
            &--interactive {
                border: 1px solid $poppy;
                div {
                    position: absolute;
            		top: 0;
            		left: 0;
            		width: 100%;
            		height: 100%;
                }
            }
        }
    }
}

.spotlight__heading {
    position: relative;
    @include font-size($beta);
    .button {
        float: right;
    }
}

.spotlight__subheading {
    @include font-size($delta);
    margin-bottom: 0.5em;
}

.spotlight__excerpt {
    @include font-size($zeta);
}

.spotlight__content {
    position: relative;
    border-top: 1px solid $cloud;
    margin-top: 1em;
    padding-top: 1em;
    .button {
        margin-top: 1em;
    }
}

.spotlight-legend {
    margin-top: 2em;
    @include font-size($zeta);
    span {
        display: block;
        text-align: center;
        padding: 0.5em;
        background-color: $cloud;
    }
    &--red {
        span {
            &:first-child {
                background-color: lighten($poppy-light, 20%);
            }
            &:nth-child(2) {
                background-color: lighten($poppy-light, 10%);
            }
            &:nth-child(3) {
                background-color: $poppy-light;
            }
            &:nth-child(4) {
                background-color: $poppy;
                color: #fff;
            }
            &:nth-child(5) {
                background-color: $poppy-dark;
                color: #fff;
            }
        }
    }
}

.spotlight__interactive {
    position: relative;
	min-height: 500px;
    border: 1px solid $poppy;
    div {
        position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    }
    .spotlight__stat & {
        min-height: auto;
        @include maintain-ratio(4 3);
    }
}


.spotlight__stat {
    text-align: center;
}

.spotlight__stat-heading {
    @include font-size($delta);
    line-height: 1.3;
    margin-bottom: 0.5em;
}

.spotlight__stat-data {
    @extend %font-heading;
    @include font-size($alpha);
    color: $poppy-dark;
}

.spotlight__comparison {
    @extend %pie-clearfix;
    display: block;
    + .spotlight__comparison {
        border-top: 1px solid $cloud;
        padding-top: 1em;
        margin-top: 2em;
    }
}

.spotlight__comparison-legend {
    width: 26px;
    height: 26px;
    background-color: $sunflower-dark;
    display: inline-block;
    float: left;
    margin-top: 0;
    margin-right: 1em;
    &--alt {
        background-color: $sunflower-light;
    }
    @include respond-to($c-vp - 100px) {
        width: 70px;
        height: 70px;
        margin-top: 7px;
    }
}

.spotlight-menu {
    transform: translateX(-100%);
    transition: all ease-in-out, 0.3s;
    &--active {
        transform: translateX(0);
    }
}
