// ------------------------------------------------------------
// Accordian / tabs
// ------------------------------------------------------------

.tabs {
	display: block;
	margin: auto;
	width: 100%;
	position: relative;
	@include respond-to($c-vp) {
		min-height: 450px;
	}
	@include respond-to($e-vp + 400px) {
		min-height: 600px;
	}
}

.tabs .tabs__input {
	// left: -9999px;
	position: absolute;
	// top: -9999px;
}

.tabs .tabs__container {
  	display: block;
}

.tabs .tabs__container .tabs__label {
	position: relative;
    background-color: $poppy-dark;
    color: #fff;
    @include font-size($para);
    padding: 0.75em 1em;
    cursor: pointer;
    transition: all, ease-in-out, 0.3s;
	z-index: 100;
	line-height: 1.3;
	border-bottom: 1px solid $cloud;
    &:hover {
  	  background-color: #fff;
  	  color: $heading-color;
    }
	@include respond-to($c-vp) {
		width: 25%;
	}
}

.tabs .tabs__container .tabs__content {
	@extend %pie-clearfix;
	background-color: #fff;
	top: 0;
	padding: 2em;
	display: none;
	@include respond-to($c-vp) {
		position: absolute;
		width: 75%;
		float: right;
		left: 25%;
	}
}

.tabs__content__header {
	border-bottom: 1px solid $cloud;
	padding-bottom: 2em;
	margin-bottom: 1.5em;
}

.tabs .tabs__container .tabs__content:after {
	background-color: #fff;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.tabs .tabs__input:checked + .tabs__label {
	background-color: #fff;
	color: $heading-color;
}

.tabs .tabs__input:checked ~ .tabs__content {
	display: block;
}
