// -----------------------------------------
// Testimonial
// -----------------------------------------

.testimonial {
    @extend %pie-clearfix;
    position: relative;
    &__main {
        width: 75%;
        float: left;
        border-left: 3px solid $poppy;
        padding-left: 2em;
    }
    &__aside {
        width: 20%;
        margin-left: 5%;
        float: left;
    }
    &--reverse {
        .testimonial__main {
            float: right;
            border-left: none;
            padding-left: 1em;
        }
        .testimonial__aside {
            float: left;
            margin-left: 0;
            margin-right: 5%;
        }
    }
    &--minor {
        @include respond-to($b-vp) {
            .testimonial__main {
                width: 100%;
                display: block;
            }
            .testimonial__aside {
                display: none;
            }
        }
        @include respond-to($c-vp) {
            .testimonial__main {
                float: right;
                border-left: none;
                width: 75%;
            }
            .testimonial__aside {
                float: left;
                margin-left: 0;
                margin-right: 5%;
                display: block;
            }
        }
    }
    &--reverse {
        .testimonial__main {
            float: right;
            border-left: none;
            padding-left: 1em;
        }
        .testimonial__aside {
            float: left;
        }
    }
}

.testimonial__aside {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        z-index: 0;
        top: -15px;
        right: -10px;
        width: 50px;
        height: 50px;
        background-color: $poppy;
    }
    img {
        position: relative;
        z-index: 2;
        @extend %max-width;
    }
    .testimonial--minor & {
        &:after {
            width: 25px;
            height: 25px;
            top: -7px;
            left: 52px;
            right: auto;
        }
        img {
            max-width: 70px;
        }
    }
}

.testimonial__copy {
    @include font-size($para);
    font-style: italic;
}

.testimonial__cite {
    @include font-size($zeta);
    margin-top: 1em;
    display: block;
}
