<ul class="accordion accordion--light">
    <li class="accordion__list-item">
        <button type="button" class="accordion__heading">Interactive visualisation instructions {{ icons.icon('ico-plus-slate', '20') }} {{ icons.icon('ico-plus-blank', '20') }}</button>
        <div class="accordion__content">
            <ul class="m-icon-list">
                <li>{{ icons.icon('ico-info-slate', '20') }}<span>
                    <h3 class="m-icon-list__heading">Key controls</h3>
                    <ul class="m-icon-list__child">
                        <li>Single click to show/hide</li>
                        <li>Double click to show just one item</li>
                    </ul>
                </span></li>
                <li>{{ icons.icon('ico-info-slate', '20') }}<span>
                    <h3 class="m-icon-list__heading">Lorem ipsum</h3>
                    <ul class="m-icon-list__child">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </span></li>
                <li>{{ icons.icon('ico-zoom-slate', '20') }}<span>
                    <h3 class="m-icon-list__heading">Zoom</h3>
                    <ul class="m-icon-list__child">
                        <li>Click and drag to zoom into an of the chart</li>
                        <li>Double click to zoom out again</li>
                    </ul>
                </span></li>
                <li>{{ icons.icon('ico-info-slate', '20') }}<span>
                    <h3 class="m-icon-list__heading">Lorem ipsum</h3>
                    <ul class="m-icon-list__child">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                </span></li>
            </ul>
        </div>
    </li>
</ul>
