<ul class="accordion accordion--light">
    <li class="accordion__list-item">
        <button type="button" class="accordion__heading">Interactive visualisation instructions {{ icons.icon('ico-plus-slate', '20') }} {{ icons.icon('ico-plus-blank', '20') }}</button>
        <div class="accordion__content">
            <dl class="m-icon-list">
                <div class="m-icon-list__data m-icon-list__data--download">
                    <dt>Download</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--zoom">
                    <dt>Zoom</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--pan">
                    <dt>Pan</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--box-select">
                    <dt>Box select</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--lasso">
                    <dt>Lasso select</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--zoom-in">
                    <dt>Zoom in</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--zoom-out">
                    <dt>Zoom out</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--autoscale">
                    <dt>Autoscale</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--reset">
                    <dt>Reset axis</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--toggle-spike">
                    <dt>Toggle spike lines</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--closest-data">
                    <dt>Show closest data</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
                <div class="m-icon-list__data m-icon-list__data--compare">
                    <dt>Compare data</dt>
                    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</dd>
                </div>
            </dl>
        </div>
    </li>
</ul>
