<div class="filter">
    <h3 class="filter__title">View blogs by topic:</h3>
    <ul class="filter__list">
        <li class="filter__list__item filter__list__item--active"><a href="#">About Development Initiatives</a></li>
        <li class="filter__list__item"><a href="#">AID/ODA</a></li>
        <li class="filter__list__item"><a href="#">Data use</a></li>
        <li class="filter__list__item"><a href="#">Development finance</a></li>
        <li class="filter__list__item"><a href="#">Domestic finance</a></li>
        <li class="filter__list__item"><a href="#">Humanitarian finance</a></li>
        <li class="filter__list__item"><a href="#">Poverty</a></li>
        <li class="filter__list__item"><a href="#">Transparency</a></li>
    </ul>
</div>
