<div class="filter">
    <h3 class="filter__title">View opinions by topic:</h3>
    <ul class="filter__list">
        <li><a href="#">P20</a></li>
        <li><a href="#">Grand Bargain</a></li>
        <li><a href="#">Global Nutrition Report</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">P20</a></li>
        <li><a href="#">Grand Bargain</a></li>
        <li><a href="#">Global Nutrition Report</a></li>
        <li><a href="#">Data</a></li>
        <li><a href="#">P20</a></li>
        <li><a href="#">Grand Bargain</a></li>
        <li><a href="#">Global Nutrition Report</a></li>
        <li><a href="#">Data</a></li>
    </ul>
</div>
