<div class="filter">
    <h3 class="filter__title">View blogs by topic:</h3>
    <ul class="filter__list">
        <li class="filter__list__item filter__list__item--active"><a href="#">P20</a></li>
        <li class="filter__list__item"><a href="#">Grand Bargain</a></li>
        <li class="filter__list__item"><a href="#">Global Nutrition Report</a></li>
        <li class="filter__list__item"><a href="#">Data</a></li>
        <li class="filter__list__item"><a href="#">P20</a></li>
        <li class="filter__list__item"><a href="#">Grand Bargain</a></li>
        <li class="filter__list__item"><a href="#">Global Nutrition Report</a></li>
        <li class="filter__list__item"><a href="#">Data</a></li>
        <li class="filter__list__item"><a href="#">P20</a></li>
        <li class="filter__list__item"><a href="#">Grand Bargain</a></li>
        <li class="filter__list__item"><a href="#">Global Nutrition Report</a></li>
        <li class="filter__list__item"><a href="#">Data</a></li>
    </ul>
</div>
