<div class="l-3up">
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Measuring progress of the poorest people</h3>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Revolutionizing Data to Leave No-one Behind</h3>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Increasing transparency and effectiveness of humanitarian financing</h3>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Increasing transparency and effectiveness of development finance</h3>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Increasing transparency and effectiveness of domestic financing</h3>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-focus-poppy', '30') }}
            <h3 class="m-stat__title">Building Data Savvy Partners</h3>
        </div>
    </div>
</div>
