<div id="responsive-tabs" class="responsive-tabs">
    <ol class="resp-tabs-list tab__list">
        <li class="tab__item resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">
            <a href="#description">Description</a>
        </li>
        <li class="tab__item resp-tab-item" aria-controls="tab_item-1" role="tab">
            <a href="#sources">Sources</a>
        </li>
        <li class="tab__item resp-tab-item" aria-controls="tab_item-2" role="tab">
            <a href="#legal">Legal</a>
        </li>
    </ol>
    <div class="resp-tabs-container tab__content">
        <h2 class="resp-accordion resp-accordian__heading resp-tab-active" role="tab" aria-controls="tab_item-0">
            <span class="resp-arrow"></span>
            <a href="#description">On foot</a>
        </h2>
        <section id="description" class="resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">

        </section>
        <h2 class="resp-accordion resp-accordian__heading" role="tab" aria-controls="tab_item-1">
            <span class="resp-arrow"></span>
            <a href="#sources">By boat</a>
        </h2>
        <section id="sources" class="resp-tab-content" aria-labelledby="tab_item-1" style="display:none">

        </section>
        <h2 class="resp-accordion resp-accordian__heading" role="tab" aria-controls="tab_item-2">
            <span class="resp-arrow"></span>
            <a href="#legal">By boat</a>
        </h2>
        <section id="legal" class="resp-tab-content" aria-labelledby="tab_item-2" style="display:none">

        </section>
    </div>
</div>
