<div id="responsive-tabs" class="responsive-tabs">
    <ul class="tab__menu">
        <li class="tab__link">
            <a href="#description">Description</a>
        </li>
        <li class="tab__link">
            <a href="#sources">Sources</a>
        </li>
        <li class="tab__link">
            <a href="#legal">Legal</a>
        </li>
    </ul>
    <div class="tab__container">
        <section id="description" class="tab__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. Vivamus euismod nisl a leo pellentesque sed lobortis ipsum commodo. Nullam id turpis libero, sit amet posuere est. Fusce porttitor odio sit amet justo aliquet ac porta turpis vulputate. Nulla mi enim, venenatis at consectetur nec, aliquet a turpis. Phasellus tempus ante euismod massa luctus fermentum. Maecenas aliquam velit eget ante ullamcorper faucibus.</p>
        </section>
        <section id="sources" class="tab__content">
            <p>In dignissim mollis felis non malesuada. Morbi ullamcorper tempus metus sed lobortis. Aenean in justo dapibus quam hendrerit auctor. Phasellus vehicula nisl in felis laoreet lobortis. Suspendisse pretium rutrum diam, eget venenatis ligula placerat fringilla. Nam vitae sapien eu tortor sagittis sagittis eget vel sem. Sed aliquam porta consectetur. Quisque mattis consectetur risus, quis rutrum libero feugiat nec. In vehicula diam et elit pretium vel aliquam nisi pretium. Donec viverra posuere risus in adipiscing. Nullam at diam nisi. In vehicula sem aliquet felis suscipit et euismod neque blandit. Nam dapibus mauris feugiat est porta dignissim. Ut sit amet blandit lacus.</p>
        </section>
        <section id="legal" class="tab__content">
            <p>Nullam sagittis volutpat purus, id tristique diam vestibulum vitae. In a nulla enim, pharetra condimentum ante. Ut suscipit lacinia sem, ac rhoncus lacus fringilla non. Donec adipiscing posuere imperdiet. Vestibulum non purus tellus, vitae luctus mauris. Nunc at tempus turpis. Maecenas pharetra, felis id aliquam feugiat, felis purus imperdiet elit, malesuada varius quam odio quis elit. Donec in velit nec dui euismod gravida quis vitae elit. Praesent eget lacus sit amet ante mollis pretium. Fusce sit amet leo quam. Praesent volutpat diam quis libero consectetur lobortis. Suspendisse quam arcu, auctor non pharetra congue, mattis eu urna.</p>
        </section>
    </div>
</div>