<div id="responsive-tabs" class="responsive-tabs">
    <ul class="tab__menu">
        <li class="tab__link">
            <a href="#description">Description</a>
        </li>
        <li class="tab__link">
            <a href="#sources">Sources</a>
        </li>
        <li class="tab__link">
            <a href="#legal">Legal & Suggested Citation</a>
        </li>
    </ul>
    <div class="tab__container">
        <section id="description" class="tab__content">
            <div class="is-typeset max-meter">
                <p>Data is for the most recent available year across all categories; this is 2016, except for private finance mobilised via blending (included in international commercial estimates) and private development assistance (included in international private estimates). Data is in US$ billions, 2016.</p>
                <p>For explanations on Domestic and Official resources data used refer to <a href="#">ITEP methodology page</a></p>
            </div>
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="is-typeset">
                        <h3>Provenance</h3>
                        <p>International Monetary Fund (IMF), World Bank, UN Conference on Trade and Development, OECD DAC and national sources.</p>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="is-typeset">
                        <h3>Geography</h3>
                        <p>Global: resource flows to developing countries, as defined by ‘the <a href="#">DAC list of ODA recipients</a>’</p>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="is-typeset">
                        <h3>Variables</h3>
                        <p>Domestic resources (commercial and public), official resources (public, commercial and official). Figures available with disaggregation excluding China.</p>
                    </div>
                </div>
                <div class="l-2up__col">
                    <div class="is-typeset">
                        <h3>Topics</h3>
                        <p>Domestic finance</p>
                        <p>Development finance</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="sources" class="tab__content">
            <div class="l-3up">
                {% for item in dataset.dataset_tab %}
                    {% include 'partials/dataset.html' %}
                {% endfor %}
            </div>
            <div class="is-typeset max-meter">
                <p>Access Dates: explanation as to what the access date is and why it is relevant. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. Vivamus euismod nisl a leo pellentesque sed lobortis ipsum commodo. Nullam id turpis libero, sit amet posuere est. Fusce porttitor odio sit amet justo aliquet ac porta turpis vulputate.</p>
            </div>
        </section>
        <section id="legal" class="tab__content">
            <div class="is-typeset max-meter">
                <h3>Licence</h3>
                <p>Dataset Title by Development Initiatives Poverty Research Limited is licensed under a Creative Commons Attribution 4.0 International License.</p>
                <p>Based on a work at <a href="#">https://link-to-sources-used</a></p>
                <p>Permissions beyond the scope of this license may be available at <a href="#">https://devinit.org/data/datasets/dataset-title#licence.</a></p>
                <p><a href="#">Development Initiatives Poverty Research Limited</a></p>
                <p><a href="#">Creative Commons Attribution 4.0 International Licen</a></p>
                <h3>Suggested Citation</h3>
                <p>Investments to End Poverty, 2018, Development Initiatives Poverry Research Ltd.</p>
            </div>
        </section>
    </div>
</div>
