<div class="l-4up">
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Leadership Team</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-datascience.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Data Science & Information Architecture</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webresearch.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Research & analysis</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Project Management</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webfacilities.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">HR, Facilities, IT & Finance</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Strategic Partnerships</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-communications.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Communications</a></h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><a href="#">Policy & Engagment</a></h3>
        </div>
    </div>
</div>
