<div class="l-4up">
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Leadership Team</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-datascience.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Data Science & Information Architecture</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webresearch.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Research & analysis</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Project Management</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webfacilities.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">HR, Facilities, IT & Finance</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Strategic Partnerships</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-communications.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Communications</h3>
        </div>
    </div>
    <div class="l-4up__col">
        <div class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center">Policy & Engagment</h3>
        </div>
    </div>
</div>
