<div class="l-4up space-section-top">
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Leadership Team</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-datascience.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Data Science & Information Architecture</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webresearch.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Research & analysis</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Project Management</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webfacilities.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>HR, Facilities, IT & Finance</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-webproject.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Strategic Partnerships</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-communications.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Communications</span></h3>
        </a>
    </div>
    <div class="l-4up__col">
        <a href="#" class="m-stat m-stat--simple">
            <div class="m-stat__icon">
                <img src="{{ global.assets_root }}/svg/source/di-engagement.svg" alt="alt">
            </div>
            <h3 class="m-stat__title m-stat__title--center"><span>Policy & Engagment</span></h3>
        </a>
    </div>
</div>
