<div class="m-timeline-container">
    <div class="m-timeline">
        <label for="year" class="form-label">Year</label>
        <input type="range" id="year" name="year" value="1" min="1" max="18" steps="18">
    </div>
    <ul class="m-timeline-labels">
        <li class="m-timeline-labels__active selected" style="width: calc(100%/18);">2002</li>
        <li style="width: calc(100%/18);">2003</li>
        <li style="width: calc(100%/18);">2004</li>
        <li style="width: calc(100%/18);">2005</li>
        <li style="width: calc(100%/18);">2006</li>
        <li style="width: calc(100%/18);">2007</li>
        <li style="width: calc(100%/18);">2008</li>
        <li style="width: calc(100%/18);">2009</li>
        <li style="width: calc(100%/18);">2010</li>
        <li style="width: calc(100%/18);">2011</li>
        <li style="width: calc(100%/18);">2012</li>
        <li style="width: calc(100%/18);">2013</li>
        <li style="width: calc(100%/18);">2014</li>
        <li style="width: calc(100%/18);">2015</li>
        <li style="width: calc(100%/18);">2016</li>
        <li style="width: calc(100%/18);">2017</li>
        <li style="width: calc(100%/18);">2018</li>
        <li style="width: calc(100%/18);">2019</li>
    </ul>
</div>
