<div class="l-3up">
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Empowering</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Transparent</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Innovative</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Agile</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Impartial</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="l-3up__col">
        <div class="m-stat">
            {{ icons.icon('ico-star-poppy', '30') }}
            <h3 class="m-stat__title">Quality</h3>
            <p class="m-stat__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>
