{% extends "layouts/default.html" %}

{% load string_utils wagtailcore_tags responsive %}

{% block hero %}
    {% include 'includes/heroes/hero-news.html' %}
{% endblock hero %}

{% block main %}

    <div class="chapter-block-wrapper space-section-both-med">

        {% if page.summary_image %}
            {% responsiveimage page.summary_image fill-680x320 srcset=global.summary_srcs as image %}
            <div class="chapter-block_image subtle-move" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
        {% endif %}

        <div class="row">
            <div class="larger-center">
                <div class="chapter-block__item">
                    <div class="chapter-block_content">
                        <h2 class="chapter-block__heading heading type-xl type-s--trailer">{{ page.summary_title }}</h2>
                        <div class="is-typeset wysiwyg">
                            {{ page.content | content }}
                        </div>
                        {% include 'publications/downloads.html' with item=page button_class='download-button--action' download_title='Download the full report' download_icon='ico-arrow-down-blank' %}
                        {% include 'publications/data-downloads.html' with item=page button_class='button--secondary' download_title='Download data' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for item in page.groups %}
        {% if item.is_valid %}
            <div class="space-section-both-med">
                <div class="row">
                    <h2 class="type-xl type-xl--trailer heading">{{ item.title }}</h2>
                    <div class="l-3up">
                        {% for block in item.downloads %}
                            {% include_block block %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
