{% extends "layouts/default.html" %}

{% load string_utils wagtailcore_tags responsive wagtailimages_tags footnotes_utils %}

{% block hero %}
    {% include 'includes/heroes/hero-pubs-short.html' %}
{% endblock hero %}

{% block colour %}body--{{page.colour}}{% endblock %}

{% block body %}

    <div class="chapter-block-wrapper space-section-both-med">

        {% if page.summary_image %}
            {% responsiveimage page.summary_image fill-680x320 srcset=global.summary_srcs as image %}
            <div class="chapter-block_image subtle-move" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
        {% endif %}

        <div class="row">
            <div class="larger-center">
                <div class="chapter-block__item">
                    <div class="chapter-block_content">
                      {% if page.authors|length > 0 %}
                        {% include 'includes/partials/multi-authors.html' with authors=page.authors %}
                      {% endif %}
                        <div class="is-typeset wysiwyg">
                            {% content_with_footnotes page.content %}
                            {{ page.raw_content | safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row row-narrow">
            {% include 'publications/share.html' %}
            <div class="space-section-both" id="downloads">
                {% include 'downloads/download-list.html' %}
                {% if page.report_download %}
                <div class="orderReport">
                  {% if page.download_report_cover %}
                    {% image page.download_report_cover fill-250x340 as cover_image %}
                    <div class="orderReport__img" style="background-image: url({{cover_image.url}});"></div>
                  {% endif %}
                    <div class="orderReport__content">
                        <h2 class="type-m type-s--trailer">{{ page.download_report_title }}</h2>
                        <p class="para type-l--trailer">{{ page.download_report_body }}</p>
                        <a href="{{ page.report_download.url }}" id="" class="button button--a11y" title="{{ page.download_report_button_text }}"><span>{{ page.download_report_button_text }}</span></a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% include 'publications/footnotes.html' %}

    {% if page.publication_related_links|length > 0 %}
        {% with related_pages=page.publication_related_links.other_page heading='Related content'  %}
            {% include 'includes/partials/related_content.html' %}
        {% endwith %}
    {% endif %}

{% endblock %}
