{% extends "layouts/default.html" %}

{% load string_utils wagtailcore_tags responsive %}

{% block hero %}
    {% include 'includes/heroes/hero-news.html' %}
{% endblock hero %}

{% block body %}

    {% if page.chapter_number %}
        {% include 'publications/chapter-nav/nav.html' with page=page.get_parent.specific menu_label='Contents' chapter_number=page.chapter_number %}
    {% endif %}

    {% for block in page.content %}
        <div class="section">

            {% if block.block_type == 'case_study' %}
                <div class="pullOutBlock">
            {% endif %}

                <div class="row">
                    {% include_block block with id=block.id|string_start  %}
                </div>

            {% if block.block_type == 'case_study' %}
                </div>
            {% endif %}

        </div>
    {% endfor %}

    <section class="section">
        <div class="row">
            {% include 'publications/share.html' %}
            <div class="mainAction padd-section-both border-top">
                {% include 'downloads/download-list.html' %}
            </div>
        </div>
    </section>

    {% include 'publications/footnotes.html' %}
{% endblock %}
