{% extends 'default.html' %}

{% load string_utils wagtailcore_tags %}

{% block body_class %}report{% endblock %}
{% block body_id %}report{% endblock %}

{% block body %}
    {% include 'hero/hero.html' %}

    {% if page.chapter_number %}
        {% include 'reports/chapter-nav/nav.html' with page=page.get_parent.specific menu_label='Contents' chapter_number=page.chapter_number %}
    {% endif %}

    {% for block in page.content %}
        <div class="section">

            {% if block.block_type == 'case_study' %}
                <div class="pullOutBlock">
            {% endif %}

                <div class="row">
                    {% include_block block with id=block.id|string_start  %}
                </div>

            {% if block.block_type == 'case_study' %}
                </div>
            {% endif %}

        </div>
    {% endfor %}

    <section class="section">
        <div class="row">
            {% include 'reports/share.html' %}
            <div class="mainAction padd-section-both border-top">
                {% include 'downloads/download-list.html' %}
                {% include 'cta/cta.html' with srcs=global.report_srcs %}
            </div>
        </div>
    </section>

    {% include 'reports/footnotes.html' %}
{% endblock %}
