{% extends "layouts/default.html" %}

{% load string_utils wagtailcore_tags responsive wagtailimages_tags %}

{% block hero %}
  {% include 'includes/heroes/hero-pubs-short.html' %}
{% endblock hero %}

{% block colour %}body--{{page.colour}}{% endblock %}

{% block body %}

  {% include 'publications/chapter-nav/nav.html' with page=page.get_parent.specific menu_label='Contents' chapter_number=0 %}

  {% for block in page.content %}

    <section class="section">
        <div class="row row--narrow">

            {% include_block block with id=block.id|string_start  %}

        </div>
    </section>

  {% endfor %}

  {% include 'publications/partials/downloads.html' %}

  {% include 'publications/footnotes.html' %}

  {% if related_pages %}
    {% with heading='Related content'  %}
      {% include 'includes/partials/related_content.html' %}
    {% endwith %}
  {% endif %}

{% endblock %}
