{% extends "layouts/default.html" %}

{% load wagtailcore_tags %}

{% block hero %}
    {% include 'includes/heroes/hero-news.html' %}
{% endblock hero %}

{% block main %}
    <section class="section section--post">
        <div class="max-meter max-meter--center">
            <div class="is-typeset is-typeset--additionals wysiwyg">
                {% for block in page.body %}
                    {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                        {% include_block block %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
