{% extends "layouts/default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags static %}

{% block hero %}
  {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}
  <section class="section">
    <div class="row row--narrow">
      <div class="highlight">
        {% include 'includes/forms/publication-filter.html' %}
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row row--narrow">
      {% if search_filter %}
        <div><h2 class="section__heading">Showing results for "{{search_filter}}".</h2></div>
      {% endif %}
      {% if stories|length == 0 %}
        <div><h2 class="section__heading">Sorry, no results found</h2></div>
      {% else %}
        <div class="l-2up-3up">
          {% for item in stories %}
            {% include 'includes/cards/card-publications.html' %}
          {% endfor %}
        </div>
        {% include "includes/scaffold/pagination.html" with children=stories %}
      {% endif %}
    </div>
  </section>
{% endblock %}
