{% extends 'default.html' %}

{% load string_utils wagtailcore_tags responsive %}

{% block body_class %}report{% endblock %}
{% block body_id %}report{% endblock %}

{% block body %}
    {% include 'hero/hero.html' with class='hero--full' text_wrap_class='hero-full__center' %}

    {% include 'reports/chapter-nav/nav.html' %}

    {% for item in page.listing %}
        <div class="chapter-block-wrapper space-section-both-med {% cycle '' 'chapter-block-wrapper--alt' %}">
            {% responsiveimage item.image fill-665x320 srcset=global.teaser_srcs as image %}
            <div class="chapter-block_image subtle-move" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
            <div class="row">
                <div class="larger-center">
                    <div class="chapter-block__item">
                        <div class="chapter-block_content">
                            {% if item.chapter_number %}
                                <p class="chapter-title {% cycle 'reverse-text' '' %}">{{ item.label | title }}</p>
                            {% endif %}
                            <h2 class="chapter-block__heading heading type-xl type-s--trailer">{{ item.title }}</h2>
                            <p class="para {% cycle '' 'reverse-text' %}">{{ item | content_excerpt }}</p>
                            <a href="{{ item.url }}" id="" class="button button--a11y {% cycle '' 'button-full-white' %}" title="Read {{ item.label }}"><span>Read {{ item.label }}</span></a>
                            {% cycle 'button-slate' 'download-button--reverse' as button_class silent %}
                            {% cycle 'button--secondary' 'button--reverse' as data_button_class silent %}
                            {% cycle 'ico-arrow-down-slate' 'ico-arrow-down-blank' as download_icon silent %}
                            {% include 'reports/downloads.html' with button_class=button_class download_title='Download '|add:item.label download_icon=download_icon %}
                            {% include 'reports/data-downloads.html' with button_class=data_button_class download_title='Download data for '|add:item.label %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'reports/appendices.html' %}

    <div class="section">
        <div class="row">
            {% include 'reports/share.html' %}
            <div class="mainAction padd-section-both border-top">
                {% include 'downloads/download-list.html' %}
                {% include 'cta/cta.html' with srcs=global.report_srcs %}
            </div>
        </div>
    </div>

{% endblock %}
