
.ico-arrow-blank {
	background-image: url('png/arrow-blank.png');
	background-repeat: no-repeat;
}



.ico-arrow-poppy {
	background-image: url('png/arrow-poppy.png');
	background-repeat: no-repeat;
}



.ico-arrow-poppydark {
	background-image: url('png/arrow-poppydark.png');
	background-repeat: no-repeat;
}



.ico-arrow-slate {
	background-image: url('png/arrow-slate.png');
	background-repeat: no-repeat;
}



.ico-calendar-blank {
	background-image: url('png/calendar-blank.png');
	background-repeat: no-repeat;
}



.ico-calendar-poppy {
	background-image: url('png/calendar-poppy.png');
	background-repeat: no-repeat;
}



.ico-calendar-poppydark {
	background-image: url('png/calendar-poppydark.png');
	background-repeat: no-repeat;
}



.ico-calendar-slate {
	background-image: url('png/calendar-slate.png');
	background-repeat: no-repeat;
}



.ico-clock-blank {
	background-image: url('png/clock-blank.png');
	background-repeat: no-repeat;
}



.ico-clock-poppy {
	background-image: url('png/clock-poppy.png');
	background-repeat: no-repeat;
}



.ico-clock-poppydark {
	background-image: url('png/clock-poppydark.png');
	background-repeat: no-repeat;
}



.ico-clock-slate {
	background-image: url('png/clock-slate.png');
	background-repeat: no-repeat;
}



.ico-download-blank {
	background-image: url('png/download-blank.png');
	background-repeat: no-repeat;
}



.ico-download-poppy {
	background-image: url('png/download-poppy.png');
	background-repeat: no-repeat;
}



.ico-download-poppydark {
	background-image: url('png/download-poppydark.png');
	background-repeat: no-repeat;
}



.ico-download-slate {
	background-image: url('png/download-slate.png');
	background-repeat: no-repeat;
}



.ico-error-error {
	background-image: url('png/error-error.png');
	background-repeat: no-repeat;
}



.ico-link-blank {
	background-image: url('png/link-blank.png');
	background-repeat: no-repeat;
}



.ico-link-bluebell {
	background-image: url('png/link-bluebell.png');
	background-repeat: no-repeat;
}



.ico-link-poppy {
	background-image: url('png/link-poppy.png');
	background-repeat: no-repeat;
}



.ico-link-slate {
	background-image: url('png/link-slate.png');
	background-repeat: no-repeat;
}



.ico-location-blank {
	background-image: url('png/location-blank.png');
	background-repeat: no-repeat;
}



.ico-location-poppy {
	background-image: url('png/location-poppy.png');
	background-repeat: no-repeat;
}



.ico-location-poppydark {
	background-image: url('png/location-poppydark.png');
	background-repeat: no-repeat;
}



.ico-location-slate {
	background-image: url('png/location-slate.png');
	background-repeat: no-repeat;
}



.ico-plus-blank {
	background-image: url('png/plus-blank.png');
	background-repeat: no-repeat;
}



.ico-plus-poppy {
	background-image: url('png/plus-poppy.png');
	background-repeat: no-repeat;
}



.ico-plus-poppydark {
	background-image: url('png/plus-poppydark.png');
	background-repeat: no-repeat;
}



.ico-plus-slate {
	background-image: url('png/plus-slate.png');
	background-repeat: no-repeat;
}



.ico-star-blank {
	background-image: url('png/star-blank.png');
	background-repeat: no-repeat;
}



.ico-star-poppy {
	background-image: url('png/star-poppy.png');
	background-repeat: no-repeat;
}



.ico-star-poppydark {
	background-image: url('png/star-poppydark.png');
	background-repeat: no-repeat;
}



.ico-star-slate {
	background-image: url('png/star-slate.png');
	background-repeat: no-repeat;
}



.ico-success-success {
	background-image: url('png/success-success.png');
	background-repeat: no-repeat;
}



.ico-test {
	background-image: url('png/test.png');
	background-repeat: no-repeat;
}



.ico-warning-warning {
	background-image: url('png/warning-warning.png');
	background-repeat: no-repeat;
}


