{% extends 'layouts/default.html' %}

{% load navigation_tags wagtailcore_tags card_tags wagtailimages_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

    <section class="section">
        <div class="row row--narrow">
            <div class="is-typeset is-typeset--additionals max-meter">
                {% for block in page.body %}
                    {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                        {% include_block block %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Benefits of working at DI</h2>
            <div class="l-sidebar">
                {% for block in page.benefits %}
                    {% with block.value as val %}
                        <div class="l-sidebar__body">
                            {% include "includes/partials/benefits.html" %}
                        </div>
                        <aside class="l-sidebar__aside">
                            {% if val.logos %}
                                {% include "workforus/work_for_us_logos.html" %}
                            {% endif %}
                        </aside>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">{{ page.value_section_heading | default_if_none:"" }}</h2>
            <div class="is-typeset">
                <p>{{ page.value_section_sub_heading | default_if_none:"" }}</p>
            </div>
            <div class="l-3up">
                {% for block in page.values %}
                    {% include_block block %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            {% for block in page.team_story %}
                <h2 class="section__heading">{{ block.value.heading | default:"" }}</h2>
                <div class="is-typeset max-meter">
                    <p>{{ block.value.subtitle_text | default:"" }}</p>
                </div>
                <div class="l-4up space-section-top">
                    {% for block in block.value.stories %}
                        {% with page=block.value %}
                            {% include "workforus/work_for_us_team_stories.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="section" id="vacancies">
        <div class="row row--narrow">
            {% if vacancies %}
                <h2 class="section__heading">{{ page.vacancy_title }}</h2>
                <div class="is-typeset max-meter">
                    <p>{{ page.vacancy_subtitle_text }}</p>
                </div>
                <div class="l-2up-3up">
                    {% for vacancy in vacancies %}
                        {% include 'includes/cards/card-job.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>

{% endblock body %}
