{% extends 'layouts/default.html' %}

{% load navigation_tags wagtailcore_tags card_tags wagtailimages_tags our_values_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

    <section class="section">
        <div class="row row--narrow">
            <div class="is-typeset is-typeset--additionals max-meter">
                {% for block in page.body %}
                    {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                        {% include_block block %}
                    {% endif %}
                {% endfor %}

                <p>
                {% if page.recruitment_policy %}
                    View our <a href="{{ page.recruitment_policy }}">Recruitment Policy</a>
                {% endif %}

                {% if page.gdr_policy %}
                    and <a href="{{ page.gdr_policy }}">GDPR policy</a></p>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Benefits of working at DI</h2>
            <div class="l-sidebar">
                <div class="l-sidebar__body">
                    {% for block in page.benefits %}
                        {% with block.value as val %}
                            {% include "includes/partials/benefits.html" %}
                        {% endwith %}
                    {% endfor %}
                </div>
                <aside class="l-sidebar__aside">
                    {% for block in page.logos %}
                        {% with block.value as item %}
                            {% include "workforus/work_for_us_logos.html" %}
                        {% endwith %}
                    {% endfor %}
                </aside>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Our values</h2>
            <div class="is-typeset">
                <p>{{ page.values_text }}</p>
            </div>
            <div class="l-3up">
                {% values %}
            </div>
        </div>
    </section>

{% endblock body %}
