{% extends 'layouts/default.html' %}

{% load navigation_tags wagtailcore_tags card_tags wagtailimages_tags string_utils responsive %}

{% block hero %}
  {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

  <section class="section">
    <div class="row row--narrow">
      <div class="is-typeset is-typeset--additionals max-meter">
        {% for block in page.body %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </section>


  {% if page.benefits %}
    <section class="section">
      <div class="row row--narrow">
        <h2 class="section__heading">Benefits of working at DI</h2>
        <div class="l-sidebar">
          <div class="l-sidebar__body">
            {% for block in page.benefits %}
              {% if block.block_type == 'benefit' %}
                  {% with block.value as item %}
                    {% include "includes/partials/benefits.html" %}
                  {% endwith %}
              {% endif %}
            {% endfor %}
          </div>
          <aside class="l-sidebar__aside">
            {% for block in page.benefits %}
              {% if block.block_type == 'logo' %}
                <div class="aside">
                  <div class="aside__media">
                    {% responsiveimage block.value min-500x200 srcset=global.image_srcs as image %}
                    <img src='{{ image.url }}' alt="alt" srcset="{{ image.srcset }}">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </aside>
        </div>
      </div>
    </section>
  {% endif %}

  {% if page.values %}
    <section class="section">
      <div class="row row--narrow">
        <h2 class="section__heading">{{ page.value_section_heading | default_if_none:"" }}</h2>
        <div class="is-typeset">
          {{ page.value_section_sub_heading|richtext_strip_wrapper }}
        </div>
        <div class="l-3up">
          {% for block in page.values %}
            {% include_block block %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {% if page.team_stories %}
    <section class="section section--alt">
      <div class="row row--narrow">
        <h2 class="section__heading">{{ page.team_story_section_heading|default:"" }}</h2>
        <div class="is-typeset max-meter">
          <p>{{ page.team_story_section_sub_heading|richtext_strip_wrapper }}</p>
        </div>
        <div class="l-4up space-section-top">
          {% for block in page.team_stories %}
            <div class="l-4up__col">
              <a href="{% pageurl block.value.team_story_page %}" class="m-stat m-stat--simple">
                <div class="m-stat__icon">
                  {% responsiveimage block.value.logo min-500x200 srcset=global.image_srcs as image %}
                  <img src='{{ image.url }}' alt="{{ image.alt }}" srcset="{{ image.srcset }}">
                </div>
                <h3 class="m-stat__title m-stat__title--center">
                  <span>{{ block.value.team_story_page.specific.title }}</span>
                </h3>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

  {% if vacancies %}
    <section class="section" id="vacancies">
      <div class="row row--narrow">
        <h2 class="section__heading">{{ page.vacancy_section_heading }}</h2>
        <div class="is-typeset max-meter">
          {{ page.vacancy_section_sub_heading|richtext_strip_wrapper }}
        </div>
        <div class="l-2up-3up">
          {% for vacancy in vacancies %}
            {% include 'includes/cards/card-job.html' %}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}

{% endblock body %}
