.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
    padding-bottom: 56.25% !important;
}

.responsive-object div,
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resources-filter--button {
    margin-top: 7px;
}
@media screen and (min-width: 850px){
    .resources-filters .form-field--inline-five {
        width: 19%;
        margin-right: 3px;
        display: inline-block;
    }
}
.resources-filters .form-field--inline-full {
    width: auto;
    margin-top: 1em;
    margin-right: 3px;
    display: inline-block;
}

.form-field--inline-full .form-field__select-dropdown {
    padding: 5px;
}

.sort--active{
    border-bottom: 2px solid #8f1b13;
}


.audio-tag {
    width: 100%;
}

.download-audio, .audio-player-title {
    font-size: 14px;
    padding-bottom: 10px;
}

.hide {
    visibility: hidden;
    height: 0;
}

/** ==== CHARTS ==== **/
// .svg-container .main-svg .hoverlayer .hovertext
.plotly-charts-tooltip {
  background-color: #FFFFFF;
  border-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.10);
  display: inline-block;
  opacity: 0;
  padding: 8px;
  margin-top: 3px;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
}

.plot-container.plotly text {
  font-family: inherit !important;
  font-size: 14px !important;
}

.hovertext path {
  stroke: transparent !important;
}

.footnotes__item {
  padding-left: 10px;
}

.chart-container .data-selector--wrapper .data-selector {
  position: relative;
  margin-right: 10px;
}

.chart-container .data-selector--wrapper .data-selector.data-selector--active {
  display: inline-block;
}

/** ==== FILTER ==== **/
.js-filter--item.hidden {
  display: none;
}


/** === FOOTNOTES === **/
.footnotes button {
  margin-top: 1em;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  padding: 0.8em;
  font-size: 1.2rem;
}

.footnotes .footnotes__list.hidden {
  display: none;
}

.footnotes button.button {
  outline: none;
}

.body--leaf .footnotes button.button {
  background-color: #109E67;
  border-color: #109E67;
}

.body--bluebell .footnotes button.button {
  background-color: #0089CB;
  border-color: #0089CB;
}

.body--rose .footnotes button.button {
  background-color: #C2145B;
  border-color: #C2145B;
}

.body--sunflower .footnotes button.button {
  background-color: #F49B20;
  border-color: #F49B20;
}

.body--marigold .footnotes button.button {
  background-color: #EB632B;
  border-color: #EB632B;
}

.body--lavendar .footnotes button.button {
  background-color: #89328F;
  border-color: #89328F;
}

.body--leaf .footnotes button.button:focus,
.body--leaf .footnotes button.button:hover,
.body--bluebell .footnotes button.button:focus,
.body--bluebell .footnotes button.button:hover,
.body--rose .footnotes button.button:focus,
.body--rose .footnotes button.button:hover,
.body--sunflower .footnotes button.button:focus,
.body--sunflower .footnotes button.button:hover,
.body--marigold .footnotes button.button:focus,
.body--marigold .footnotes button.button:hover,
.body--lavendar .footnotes button.button:focus,
.body--lavendar .footnotes button.button:hover {
  background-color: #443e42;
}

/** ==== GENERAL ==== **/
select optgroup {
  font-style: normal;
}
