.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
    padding-bottom: 56.25% !important;
}

.responsive-object div,
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resources-filter--button {
    margin-top: 7px;
}
@media screen and (min-width: 850px){
    .resources-filters .form-field--inline-five {
        width: 19%;
        margin-right: 3px;
        display: inline-block;
    }
}
.resources-filters .form-field--inline-full {
    width: auto;
    margin-top: 1em;
    margin-right: 3px;
    display: inline-block;
}

.form-field--inline-full .form-field__select-dropdown {
    padding: 5px;
}

.sort--active{
    border-bottom: 2px solid #8f1b13;
}


.audio-tag {
    width: 100%;
}

.download-audio, .audio-player-title {
    font-size: 14px;
    padding-bottom: 10px;
}

.hide {
    visibility: hidden;
    height: 0;
}

.display-none {
  display: none;
}

/** ==== CHARTS ==== **/
.svg-container .main-svg .hoverlayer .hovertext
.plotly-charts-tooltip {
  background-color: #FFFFFF;
  border-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.10);
  display: inline-block;
  opacity: 0;
  padding: 8px;
  margin-top: 3px;
  pointer-events: none;
  position: absolute;
  z-index: 1000;
}

.plot-container.plotly text {
  font-family: inherit !important;
  font-size: 14px !important;
}

.hovertext path {
  stroke: transparent !important;
}

.footnotes__item {
  padding-left: 10px;
}

.chart-container .data-selector--wrapper .data-selector {
  position: relative;
  margin-right: 10px;
}

.chart-container .data-selector--wrapper .data-selector.data-selector--active {
  display: inline-block;
}

/** ==== FILTER ==== **/
.js-filter--item.hidden {
  display: none;
}


/** === FOOTNOTES === **/
.footnotes button {
  margin-top: 1em;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  text-transform: uppercase;
  padding: 0.8em;
  font-size: 1.2rem;
}

.footnotes .footnotes__list.hidden {
  display: none;
}

.footnotes button.button {
  outline: none;
}

.body--leaf .footnotes button.button {
  background-color: #109E67;
  border-color: #109E67;
}

.body--bluebell .footnotes button.button {
  background-color: #0089CB;
  border-color: #0089CB;
}

.body--rose .footnotes button.button {
  background-color: #C2145B;
  border-color: #C2145B;
}

.body--sunflower .footnotes button.button {
  background-color: #F49B20;
  border-color: #F49B20;
}

.body--marigold .footnotes button.button {
  background-color: #EB632B;
  border-color: #EB632B;
}

.body--lavendar .footnotes button.button {
  background-color: #89328F;
  border-color: #89328F;
}

.body--leaf .footnotes button.button:focus,
.body--leaf .footnotes button.button:hover,
.body--bluebell .footnotes button.button:focus,
.body--bluebell .footnotes button.button:hover,
.body--rose .footnotes button.button:focus,
.body--rose .footnotes button.button:hover,
.body--sunflower .footnotes button.button:focus,
.body--sunflower .footnotes button.button:hover,
.body--marigold .footnotes button.button:focus,
.body--marigold .footnotes button.button:hover,
.body--lavendar .footnotes button.button:focus,
.body--lavendar .footnotes button.button:hover {
  background-color: #443e42;
}

/** ==== GENERAL ==== **/
select optgroup {
  font-style: normal;
}

.pt-20 {
  padding-top: 20px;
}

/** ==== CALL TO ACTION === **/
.is-typeset .cta__heading {
  font-size: 2rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: .5em;
}
.is-typeset .cta {
  margin-top: 5rem;
}

.body--leaf .accordion__heading {
  background-color: #109E67;
}

.body--poppy .accordion__heading {
  background-color: #e84439;
}

.body--bluebell .accordion__heading {
  background-color: #0089CB;
}

.body--rose .accordion__heading {
  background-color: #C2145B;
}

.body--sunflower .accordion__heading {
  background-color: #F49B20;
}

.body--marigold .accordion__heading {
  background-color: #EB632B;
}

.body--lavendar .accordion__heading {
  background-color: #89328F;
}

.accordion-spacing .accordion__list-item:first-child {
  margin-top: 0;
}

.accordion__heading:hover {
  background-color: #443e42 !important;
}

.accordion__list-item--active .accordion__heading {
  background-color: #443e42 !important;
}

.wysiwyg .accordion-spacing .accordion__list-item:last-child {
  margin-bottom: 2rem;
}

.accordion--light .accordion__heading,
.accordion--light .accordion__heading:hover {
    background-color: #dfdfdf !important;
    color: #443e42;
}

.max-meter.infographic-width {
  max-width: 750px !important;
}

.definitionList__definition {
  font-size: 13px !important;
}

.hero__title span,
.hero__meta-item,
.hero__subtitle,
.hero__content a,
.accordion__heading,
.card__tag,
.l-footer__col a,
.media-caption a,
.section-chapter__link,
.wysiwyg p,
.wysiwyg cite,
.m-downloads__list a,
table th,
.cta,
.js-copy-trigger,
.download__list a,
h2 {
  opacity: initial !important;
}

body.body--bluebell .pullout.so-what {
  background: url('../svg/bluebell-stripes.svg');
}

body.body--leaf .pullout.so-what {
  background: url('../svg/leaf-stripes.svg');
}

body.body--sunflower .pullout.so-what {
  background: url('../svg/sunflower-stripes.svg');
}

body.body--lavendar .pullout.so-what {
  background: url('../svg/lavendar-stripes.svg');
}

body.body--rose .pullout.so-what {
  background: url('../svg/rose-stripes.svg');
}

body.body--marigold .pullout.so-what {
  background: url('../svg/marigold-stripes.svg');
}

body.body--poppy .pullout.so-what {
  background: url('../svg/poppy-stripes.svg');
}

.so-what .pullout__heading {
  color: #443e42 !important;
  border-bottom: 3px solid #443e42 !important;
}

.so-what .m-author__meta {
  color: #fff !important;
}

.so-what.pullout::before {
  width: 0 !important;
}

@media screen and (max-width: 1000px) {
  .so-what-parent > * {
    padding-left: 3em;
  }
  .pullout.so-what{
    background-size: 6% !important;
  }
}

@media screen and (min-width: 1180px){
  .so-what-parent .so-what-box-link, .so-what-parent .share__wrapper:first-of-type {
    margin-left: 8vw;
  }

  .infographic-link-parent .section-chapter__link:nth-child(2) {
    margin-left: 3em;
  }

  .pullout.so-what{
    background-size: 2.5% !important;
  }

  .infographic-link-parent {
    display: flex;
  }

}

.row--narrow.so-what-parent {
  padding-left: 0;
  margin-left: 0;
}

.so-what-parent .pullout__heading-wrapper {
  left: 80px;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #fff;
}

.reduce_section_margins {
  margin: 4em;
}
