sudo: required
dist: trusty
language: python
python:
- '3.5'
services:
- docker
before_install:
- openssl aes-256-cbc -K $encrypted_5acf24e37bbb_key -iv $encrypted_5acf24e37bbb_iv -in deploy_key.enc -out deploy_key -d
- pip install codecov
- echo "DATABASE_URL=postgresql://di_website:di_website_pw@db/di_website" > .env
- docker volume create --name=diwebsite_db
- docker volume create --name="index_db"
- docker network create consul
script:
  - chmod +x scripts/init.sh && ./scripts/init.sh
  - docker-compose run blue /bin/bash -c "python3 -m coverage run manage.py test && python3 -m coverage xml && mv coverage.xml shared" && cd shared && python3 -m codecov

deploy:
 - provider: script
   skip_cleanup: true
   script: cd .. && chmod 600 ./deploy_key && ssh -o StrictHostKeyChecking=no -o SendEnv=BRANCH -o SendEnv=CELERY_BROKER_URL -o SendEnv=DEFAULT_FROM_EMAIL -o SendEnv=EMAIL_BACKEND -o SendEnv=EMAIL_HOST -o SendEnv=EMAIL_HOST_USER -o SendEnv=EMAIL_HOST_PASSWORD -o SendEnv=DATABASE_URL -o SendEnv=ELASTIC_PASSWORD -o SendEnv=ELASTIC_SEARCH_URL -o SendEnv=ELASTIC_USERNAME -o SendEnv=HS_API_KEY -o SendEnv=HS_TICKET_PIPELINE -o SendEnv=HS_TICKET_PIPELINE_STAGE -o SendEnv=RABBITMQ_PASSWORD -o SendEnv=ENVIRONMENT -o SendEnv=SECRET_KEY -i ./deploy_key di_website@178.128.102.213 ./deploy.sh run
   on:
     branch: develop

 - provider: script
   skip_cleanup: true
   script: cd .. && chmod 600 ./deploy_key && ssh -o StrictHostKeyChecking=no -o SendEnv=BRANCH -o SendEnv=CELERY_BROKER_URL -o SendEnv=DEFAULT_FROM_EMAIL -o SendEnv=EMAIL_BACKEND -o SendEnv=EMAIL_HOST -o SendEnv=EMAIL_HOST_USER -o SendEnv=EMAIL_HOST_PASSWORD -o SendEnv=DATABASE_URL -o SendEnv=ELASTIC_PASSWORD -o SendEnv=ELASTIC_SEARCH_URL -o SendEnv=ELASTIC_USERNAME -o SendEnv=HS_API_KEY -o SendEnv=HS_TICKET_PIPELINE -o SendEnv=HS_TICKET_PIPELINE_STAGE -o SendEnv=RABBITMQ_PASSWORD -o SendEnv=ENVIRONMENT -o SendEnv=SECRET_KEY -i ./deploy_key di_website@159.65.56.142 ./deploy.sh run
   on:
     branch: master
