{% load navigation_tags %}
{% get_site_root as site_root %}

<footer role="contentinfo" class="footer">
	<div class="row">
		<div class="l-footer">
			<div class="l-footer__col">
				{% subscribe_to_newsletter %}
			</div>
			<div class="l-footer__col">
				{% get_useful_links parent=site_root calling_page=self %}
			</div>
			<div class="l-footer__col">
				{% get_page_footer_links parent=site_root calling_page=self %}
			</div>
			<div class="l-footer__col">
				{% get_communication_links %}
			</div>
		</div>
		{% get_footer_text %}
	</div>
</footer>
