{% load wagtailcore_tags %}

<h4 class="footer__title">{{ title }}</h4>
<ul class="footer__list">
    {% for menu_item in menu_items %}
        <li><a href="{% pageurl menu_item %}">{{ menu_item.title }}</a></li>
    {% endfor %}

    {% for other_link in other_links %}
        {% if other_link.page %}
            <li><a href="{% pageurl other_link.page %}">{{ other_link.page.title }}</a></li>
        {% elif other_link.link_url %}
            <li><a href="{{ other_link.link_url }}">{{ other_link.label }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
