{% load wagtailimages_tags wagtailcore_tags static responsive %}

{% if other_pages %}

<div class="row row--narrow">
    <h2 class="section__heading">{{ heading }}</h2>
    <div class="l-4up">
      {% for page in other_pages %}
        <a href="{% pageurl page %}" class="card">
          {% if page.hero_image %}
            {% responsiveimage page.hero_image fill-400x250 srcset=global.card_srcs as image %}
            {% if image.url != '/media/not-found' %}
              <div class="card__media" {{ image | responsive_id }}>{{ image | responsive_css }}</div>
            {% else %}
              <div class="card__media" style="background-image: url({% static 'img/fallback-image.jpg' %})"></div>
            {% endif %}
          {% else %}
            <div class="card__media" style="background-image: url({% static 'img/fallback-image.jpg' %})"></div>
          {% endif %}
          <div class="card__body">
            <h3 class="card__title"><span>{{ page.title }}</span></h3>
          </div>
        </a>
      {% endfor %}
    </div>
</div>

{% endif %}
