{% load wagtailcore_tags %}


<div class="row row--narrow">
    <h2 class="section__heading">{{ heading }}</h2>
    <div class="l-4up">
        {% for published_page in published_pages %}
            <a href="{{published_page.url_path}}" class="card">
                <div class="card__media"
                    style="background-image: url(/assets/img/Pin-at-Open-Up-conference-2-400x250.jpg);">
                </div>
                <div class="card__body">
                    <h3 class="card__title"><span>{{published_page.title}}</span></h3>
                </div>
            </a>
        {% endfor %}

    </div>
</div>
