{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "general" %}
{% set section = "Who we are" %}
{% set title = "Our story" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}
{% set image_name = "content-image1.jpg" %}
{% set active_page = "Our story" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'navigation', as="navigation" %}

{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                        {{ secondary_navigation.active(active_page, section, navigation.secondary_who_we_are) }}
                    </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">DI has achieved much over the past 20 years.</h2>
            <div class="is-typeset">
                <p>Here is our story so far...</p>
            </div>
            <div class="carousel">
                <div class="timeline">
                    <button class="timeline__nav timeline__nav--prev" type="button">{{ icons.icon('ico-arrow-poppy', '24') }}</button>
                    <div class="timeline__item"><span>1993</span></div>
                    <div class="timeline__item"><span>1994</span></div>
                    <div class="timeline__item"><span>2000</span></div>
                    <div class="timeline__item"><span>2007</span></div>
                    <div class="timeline__item"><span>2008</span></div>
                    <div class="timeline__item timeline__item--active"><span>2009</span></div>
                    <div class="timeline__item"><span>2011</span></div>
                    <div class="timeline__item"><span>2012</span></div>
                    <div class="timeline__item"><span>2013</span></div>
                    <div class="timeline__item"><span>2018</span></div>
                    <button class="timeline__nav timeline__nav--next" type="button">{{ icons.icon('ico-arrow-poppy', '24') }}</button>
                </div>
                <div class="highlight">
                    <div class="l-highlight">
                        <div class="l-highlight__main">
                            <span class="highlight__flag">2009</span>
                            <h3 class="highlight__heading">The International Aid Transparency Initiative (IATI) is agreed</h3>
                            <div class="is-typeset">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                            <div class="button button--faux button--icon">
                                {{ icons.icon('ico-download-poppy', '24') }}
                                <span class="button--faux__meta">Download</span>
                                <h3 class="button--faux__heading">IATI factsheet</h3>
                                <ul class="button--faux__list">
                                    <li><a href="#">PDF 1.8mb</a></li>
                                    <li><a href="#">Docx 1.8mb</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="l-highlight__aside">
                            <div class="highlight__media">
                                <img src="{{ global.assets_root }}/img/content-image1.jpg" alt="alt tag">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="banner">
                <div class="l-banner">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/content-image2.jpg" alt="alt tag">
                            <span class="banner__credit">Image by <a href="#">Credit name</a></span>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h3 class="banner__heading">The impact of our work</h3>
                        <p class="banner__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="button button--reverse button--faux button--icon">
                            {{ icons.icon('ico-download-blank', '24') }}
                            <span class="button--faux__meta">Download</span>
                            <h3 class="button--faux__heading">Impact report</h3>
                            <ul class="button--faux__list">
                                <li><a href="#">PDF 1.8mb</a></li>
                                <li><a href="#">Docx 1.8mb</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Other pages in this section</h2>
            <div class="l-4up">
                {% for item in card.job_info %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
