{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "who-we-are" %}
{% set section = "What we do" %}
{% set title = "What we do" %}
{% set image_name = "content-image1.jpg" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing." %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'navigation', as="navigation" %}

{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                        {{ secondary_navigation.active(active_page, section, navigation.secondary_what_we_do) }}
                    </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <h2>Our work</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Our focus areas</h2>
            <div class="l-3up">
                {% for item in card.work_feature %}
                    {% include 'cards/card-feature.html' %}
                {% endfor %}
            </div>
            <a href="#" class="button">Find out more about our Focus Areas</a>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Our expertise</h2>
            <div class="is-typeset max-meter">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="l-2up">
                <div class="l-2up__col">
                    {% include 'partials/accordion.html' %}
                </div>
                <div class="l-2up__col">
                    {% include 'partials/accordion.html' %}
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="banner banner--light">
                <div class="l-banner">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/content-image1.jpg" alt="alt tag">
                            <span class="banner__credit">Image by <a href="#">Credit name</a></span>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h2 class="banner__heading">Module title</h2>
                        <p class="banner__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
                        <a href="#" class="button">Learn more about data services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            <h2 class="section__heading">Our consultancy</h2>
            <div class="duo">
                <div class="duo__media">
                    <div class="media-wrapper">
                        <iframe src="https://player.vimeo.com/video/71385845?color=c9ff23&title=0&byline=0&portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                <div class="duo__main">
                    <div class="is-typeset">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <a href="#" class="button">Learn more about our consultancy services</a>
                </div>
            </div>
        </div>
        <div class="row row--narrow space-section-top">
            <div class="testimonial">
                <div class="testimonial__main">
                    <p class="testimonial__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <span class="testimonial__cite">Mark Edwards, Climate Change Finance and Development Effectiveness Advisor, UNDP</span>
                </div>
                <aside class="testimonial__aside">
                    <img src="{{ global.assets_root }}/img/profile2sq.jpg" alt="alt tag">
                </aside>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="banner">
                <div class="l-banner">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/content-image1.jpg" alt="alt tag">
                            <span class="banner__credit">Image by <a href="#">Credit name</a></span>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h2 class="banner__heading">The impact of our work</h2>
                        <p class="banner__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
                        <a href="#" class="button button--reverse">Read our impact report</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Other pages in this section</h2>
            <div class="l-4up">
                {% for item in card.job_info %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
