{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "focus" %}
{% set section = "What we do" %}
{% set title = "Focus areas" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}
{% set image_name = "so-new-somali-business-fund-creates-jobs-780x439.jpg" %}
{% set active_page = "Focus areas" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'form-jobs', as="form" %}
{% model 'navigation', as="navigation" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                        {{ secondary_navigation.active(active_page, section, navigation.secondary_what_we_do) }}
                    </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="project">
                <div class="project__main">
                    <div class="project__header">
                        <div class="project__media">
                            <img src="{{ global.assets_root }}/img/2766433972_0e76af2b3a_o-600x375.jpg" alt="alt">
                        </div>
                        <h2 class="project__heading">Poverty</h2>
                        <h3 class="project__subheading">Measuring the progress of people out of poverty</h3>
                    </div>
                    <div class="is-typeset">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="project__aside">
                    <h3 class="project__subheading">Key projects</h3>
                    <a href="#" class="project-card" style="background-image: url({{ global.assets_root }}/img/14279715726_ef9da4106c_o-600x375.jpg);">
                        <span class="project-card__caption">Project title</span>
                    </a>
                </div>
            </div>

            <div class="project">
                <div class="project__main">
                    <div class="project__header">
                        <div class="project__media">
                            <img src="{{ global.assets_root }}/img/9918645274_95e022b2ce_o-600x375.jpg" alt="alt">
                        </div>
                        <h2 class="project__heading">Resources</h2>
                        <h3 class="project__subheading">Investments to end poverty and build reilience</h3>
                    </div>
                    <div class="is-typeset">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="project__aside">
                    <h3 class="project__subheading">Key projects</h3>
                    <a href="#" class="project-card" style="background-image: url({{ global.assets_root }}/img/27634474642_e47d75c1f8_o-600x375.jpg);">
                        <span class="project-card__caption">A slightly longer project title</span>
                    </a>
                    <a href="#" class="project-card" style="background-image: url({{ global.assets_root }}/img/34301158651_2500a029c5_o-600x375.jpg);">
                        <span class="project-card__caption">Project title</span>
                    </a>
                </div>
            </div>

            <div class="project">
                <div class="project__main">
                    <div class="project__header">
                        <div class="project__media">
                            <img src="{{ global.assets_root }}/img/5520009236_fcbf74d793_o-600x375.jpg" alt="alt">
                        </div>
                        <h2 class="project__heading">Data Use</h2>
                        <h3 class="project__subheading">Measuring the progress of people out of poverty</h3>
                    </div>
                    <div class="is-typeset">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="project__aside">
                    <h3 class="project__subheading">Key projects</h3>
                    <a href="#" class="project-card" style="background-image: url({{ global.assets_root }}/img/42900842442_cc4630d48a_o-600x375.jpg);">
                        <span class="project-card__caption">A longer project title that could be over two lines</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section section--alt">
        <div class="row row--narrow">
            <h2 class="section__heading">Current countries we're working in</h2>
            <div class="is-typeset max-meter">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="l-3up">
                <a href="#" class="card card--offset card--alt">
                    <div class="card__media" style="background-image: url({{ global.assets_root }}/img/hero-project-800x500.jpg);"></div>
                    <div class="card__body">
                        <h3 class="card__title"><span>Kenya</span></h3>
                    </div>
                </a>
                <a href="#" class="card card--offset card--alt">
                    <div class="card__media" style="background-image: url({{ global.assets_root }}/img/4Ben5-800x500.jpg);"></div>
                    <div class="card__body">
                        <h3 class="card__title"><span>Uganda</span></h3>
                    </div>
                </a>
                <a href="#" class="card card--offset card--alt">
                    <div class="card__media" style="background-image: url({{ global.assets_root }}/img/4Ben4-800x500.jpg);"></div>
                    <div class="card__body">
                        <h3 class="card__title"><span>Nepal</span></h3>
                    </div>
                </a>
            </div>
        </div>
    </section> -->

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Other pages in this section</h2>
            <div class="l-4up">
                {% for item in card.job_info %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
