{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "work" %}
{% set section = "jobs" %}
{% set title = "Work for us" %}
{% set excerpt = "The Development Initiatives blog is updated regularly ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." %}
{% set button = "View current vacancies" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="is-typeset is-typeset--additionals max-meter">
                <p>We aim for a culture of honesty and openness and want to attract and retain talented people who share our vision to end absolute poverty by 2030.</p>
                <p>We can offer you the opportunity to use your talents in an innovative working environemnt with colleagues who are as passionate as you are about our vision.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">

        </div>
    </section>
{% endblock %}
