{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'publication.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set colour = "bluebell" %}
{% set id = "publication" %}
{% set section = "Publications" %}
{% set title = "Heading 1" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
{% set image_name = "content-image3.jpg" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section section--post">
        <div class="row row--narrow">
            <div class="max-meter max-meter--center">
                <div class="is-typeset is-typeset--additionals wysiwyg">
                    {% include 'content/longform.html' %}
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
