{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'sidebar.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "jobs" %}
{% set section = "jobs" %}
{% set title = "Communications officer" %}
{% set excerpt = "" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}

{% import 'macros/button.html' as buttons %}
{% import 'macros/icon.html' as icons %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block hero %}
    {% include 'heroes/hero.html' %}
{% endblock %}

{% block main %}
    <section class="section">
        {% include 'partials/breadcrumbs.html' %}
        <div class="highlight">
            <span class="highlight__flag">Full-time, permanent</span>
            <ul class="highlight__list">
                <li><span>Salary scale:</span>&pound;25,000 - &pound;30,00 per annum, dependant on experience</li>
                <li><span>Closing date:</span>2 December 2018</li>
                <li><span>First interview:</span>December 2018</li>
                <li><span>Start date:</span>January 2019</li>
            </ul>
        </div>
    </section>

    <section class="section">
        <div class="is-typeset is-typeset--additionals wysiwyg">
            {% include 'content/longform.html' %}
        </div>
    </section>
{% endblock %}

{% block aside %}
    <div class="aside">
        <h2 class="aside__heading">Apply for this position</h2>
        <p class="aside__excerpt">Please read the full role profile and apply by emailing your CV and cover letter to <a href="#">HR@devinit.org</a>.</p>
        <div class="aside__button-group">
            <a href="#" class="button">Recruitment pack</a>
            <a href="#" class="button">Diversity monitoring form</a>
            <a href="#" class="button">Guaranted Interview form</a>
        </div>
    </div>
{% endblock %}

{% block after_content %}
    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Learn more about Developement Initiatives</h2>
            <div class="l-4up">
                {% for item in card.job_info %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
