{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "data" %}
{% set section = "Data" %}
{% set title = "Data" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing." %}
{% set image_name = "Pin-at-Open-Up-conference-2-1600x780.jpg" %}
{% set button = "View datasets" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'navigation', as="navigation" %}

{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                        {{ secondary_navigation.active(active_page, section, navigation.secondary_data) }}
                    </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            <div class="l-2up">
                <div class="l-2up__col">
                    <div class="testimonial testimonial--reverse">
                        <div class="testimonial__main">
                            <p class="testimonial__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <span class="testimonial__cite">Mark Edwards, Climate Change Finance and Development Effectiveness Advisor, UNDP</span>
                        </div>
                        <aside class="testimonial__aside">
                            <img src="{{ global.assets_root }}/img/quote.png" alt="alt tag">
                        </aside>
                    </div>
                </div>
                <div class="l-2up__col">
                    <p class="m-text-major"><span>583</span> datasets</p>
                    <p class="para para--typeset">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="button">View datasets</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="banner">
                <div class="l-banner l-banner--reverse">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/Primary-leaving-exam-performance-index-map-of-Uganda-800x500.jpg" alt="alt tag">
                            <p class="banner__credit">Spotlight on Uganda</p>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h3 class="banner__heading">Country Spotlights</h3>
                        <div class="banner__content is-typeset">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing. <a href="#none">Vivamus euismod</a> nisl a leo pellentesque sed lobortis ipsum commodo. </p>
                            <p>In dignissim mollis felis non malesuada. Morbi ullamcorper tempus metus sed lobortis. Aenean in justo dapibus quam hendrerit auctor. Phasellus vehicula nisl in felis laoreet lobortis. </p>
                            <p>Nullam sagittis volutpat purus, id tristique diam vestibulum vitae. In a nulla enim, pharetra condimentum ante. Ut suscipit lacinia sem, ac rhoncus lacus fringilla non. Donec adipiscing posuere imperdiet. </p>
                        </div>
                        <a href="#none" class="button button--reverse">Find out more about our Country Spotlights</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            <div class="banner">
                <div class="l-banner">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/4Ben5-800x500.jpg" alt="alt tag">
                            <span class="banner__credit">Image by <a href="#">Credit name</a></span>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h3 class="banner__heading">Data support services</h3>
                        <p class="banner__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="banner__list">
                            <li>Telephone: +44(0) 754 566 8378</li>
                            <li>Email: <a href="mailto:">hellonewbusiness@devinit.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">More about</h2>
            <div class="l-4up">
                {% for item in card.data %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
