{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "data" %}
{% set section = "Data" %}
{% set title = "Data" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo mattis nisi eu adipiscing." %}
{% set image_name = "Pin-at-Open-Up-conference-2-1600x780.jpg" %}
{% set button = "View datasets" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'navigation', as="navigation" %}

{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}


{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero.html' %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                        {{ secondary_navigation.active(active_page, section, navigation.secondary_data) }}
                    </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            <div class="duo duo--offset">
                <div class="duo__main">
                    <h2 class="section__heading">Tools</h2>
                    <div class="is-typeset">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <a href="#" class="button">View all our tools</a>
                </div>
                <div class="duo__media">
                    <h3 class="section__sub-heading">Featured tools</h3>
                    <div class="l-2up">
        				<div class="l-2up__col">
        					<a href="#" class="card card--mid card--offset">
        						<div class="card__media" style="background-image: url({{ global.assets_root }}/img/ptn-example.jpg);"></div>
        						<div class="card__body">
        							<h3 class="card__title"><span>Spotlight on Kenya</span></h3>
                                </div>
        					</a>
        				</div>
        				<div class="l-2up__col">
        					<a href="#" class="card card--mid card--offset">
        						<div class="card__media" style="background-image: url({{ global.assets_root }}/img/ptn-example.jpg);"></div>
        						<div class="card__body">
        							<h3 class="card__title"><span>Spotlight on Uganda</span></h3>
                                </div>
        					</a>
        				</div>
        			</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="l-2up">
                <div class="l-2up__col">
                    <h2 class="section__heading">Datasets</h2>
                    <p class="para para--typeset">You can browse our datasets by publication they feature in, their data source, the topic they relate to and the geographic area they cover. We aim to publich all key datasets, however if there is something you are looking for and cannot find, please get in touch via <a href="#">info@devinit.org</a> and we will be happy to help.</p>
                    <a href="#" class="button">View datasets</a>
                </div>
                <div class="l-2up__col">
                    <p class="m-text-major"><span>583</span> datasets</p>
                    <div class="testimonial testimonial--minor testimonial--reverse">
                        <div class="testimonial__main">
                            <p class="testimonial__copy">Many other organisations, including some government departments, do not have detailed information, or it is out of date. DI continuously update their data, which has proven to be vital, and it is also diverse across many categories.</p>
                            <span class="testimonial__cite">Africa Kiiza, Programme Officer, Trade and Policies and Negotiations, SEATINI</span>
                        </div>
                        <aside class="testimonial__aside">
                            <img src="{{ global.assets_root }}/img/quote.png" alt="alt tag">
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--alt">
        <div class="row row--narrow">
            <div class="banner">
                <div class="l-banner">
                    <div class="l-banner__aside">
                        <div class="banner__media">
                            <img src="{{ global.assets_root }}/img/4Ben5-800x500.jpg" alt="alt tag">
                            <span class="banner__credit">Image by <a href="#">Credit name</a></span>
                        </div>
                    </div>
                    <div class="l-banner__main">
                        <h3 class="banner__heading">Data support services</h3>
                        <p class="banner__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="banner__list">
                            <li>Telephone: +44(0) 754 566 8378</li>
                            <li>Email: <a href="mailto:">hellonewbusiness@devinit.org</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">More about</h2>
            <div class="l-4up">
                {% for item in card.data %}
                    {% include 'cards/card-cta.html' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
