{# 1. Extend the relevant layout #}
{# --------------------------------------- #}

{% extends 'default.html' %}


{# --------------------------------------- #}
{# 2. Assign Settings and variables #}
{# --------------------------------------- #}

{% set id = "spotlight-comparison" %}
{% set section = "Data" %}
{% set title = "Spotlight on [Location]" %}
{% set excerpt = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
{% set image_name = "" %}
{% set active_page = "" %}

{# --------------------------------------- #}
{# 3. Add models and macros #}
{# --------------------------------------- #}

{% model 'cards', as="card" %}
{% model 'navigation', as="navigation" %}
{% model 'timeline', as="timeline" %}
{% model 'locations_uganda', as="location" %}
{% model 'indicators', as="indicator" %}

{% import 'macros/icon.html' as icons %}
{% import 'macros/secondary-navigation.html' as secondary_navigation %}

{# --------------------------------------- #}
{#
   4. Add page content into relevant areas
      Add/Delete blocks as necessary
#}
{# --------------------------------------- #}

{% block body %}
    {% include 'heroes/hero-spotlight.html' %}

    <section class="section">
        <div class="row row--narrow">
            <h2 class="section__heading">Location comparison</h2>
            <div class="spotlight-banner">
                <h3 class="spotlight-banner__heading">Add location</h3>
                <div class="spotlight-banner__aside">
                    <!-- <a href="#" class="m-text-link spotlight__location spotlight__location--active">{{ icons.icon('ico-plus-poppy', '16') }} <span>Add a location</span></a> -->
                    {% include 'partials/country-list.html' %}
                </div>
                <div class="spotlight-banner__main">
                    <div id="js-profile-search-container">
                        <label class="form-label form-label--hidden" for="country-search" aria-hidden="true">Search for a location</label>
                        <input id="js-profile-search" class="form-item form-item--auto" type="text" name="country-search" id="country-search" placeholder="Search for a location">
                        <!-- <button type="button" class="countries__searched-cancel"><span>Cancel</span></button> -->
                        <nav class="countries__searched countries__searched--minor" aria-hidden="true">
                            <ul class="countries__searched__list" id="js-profile-results"></ul>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="spotlight-banner spotlight-banner--alt">
                <ul class="m-pills">
                    <li class="m-pills__item">Masaka <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Kalangala <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Kyesiiga <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Butebo <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Wakiso <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Lwengo <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Lyantonde <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Kisumu <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                    <li class="m-pills__item">Nakuru <button type="button">{{ icons.icon('ico-cross-slate', '20') }}</button></li>
                </ul>
                <button type="button" class="button button--compare">Compare</button>
            </div>

            <div class="spotlight spotlight--full">
                <div class="space-section-bottom--small">
                    <form class="form">
                        <div class="form-field form-field--inline-three">
                            <label for="indicator" class="form-label">Select a topic to explore</label>
                            <div class="form-field__select-dropdown">
                                <select name="country-topic" id="country-topic">
                                    {% for item in indicator.indicators %}
                                        <option value="{{ item.group_name }}">{{ item.group_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-field form-field--inline-three">
                            <label for="indicator" class="form-label">Choose and Indicator</label>
                            <div class="form-field__select-dropdown">
                                <select name="country-indicator" id="country-indicator">
                                    {% for item in indicator.poverty_indicators %}
                                        <option value="{{ item.indicator_name }}">{{ item.indicator_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-field form-field--inline-three">
                            <button type="button" class="button">Update</button>
                        </div>
                    </form>
                </div>
                <div class="spotlight__main">
                    <div class="spotlight__interactive" id="chart"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="spotlight spotlight--full">
                <div class="space-section-bottom--small">
                    <form class="form">
                        <div class="form-field form-field--inline-three">
                            <label for="indicator" class="form-label">Select a topic to explore</label>
                            <div class="form-field__select-dropdown">
                                <select name="country-topic2" id="country-topic2">
                                    {% for item in indicator.indicators %}
                                        <option value="{{ item.group_name }}">{{ item.group_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-field form-field--inline-three">
                            <label for="indicator" class="form-label">Choose and Indicator</label>
                            <div class="form-field__select-dropdown">
                                <select name="country-indicator2" id="country-indicator2">
                                    {% for item in indicator.poverty_indicators %}
                                        <option value="{{ item.indicator_name }}">{{ item.indicator_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-field form-field--inline-three">
                            <button type="button" class="button">Update</button>
                        </div>
                    </form>
                </div>
                <div class="spotlight__main">
                    <div class="spotlight__interactive" id="chart"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="spotlight-banner">
                <div class="spotlight-banner__aside">
                    <a href="#" class="m-text-link spotlight__location spotlight__location--active">{{ icons.icon('ico-plus-poppy', '16') }} <span>Add another comparison</span></a>
                    {% include 'partials/country-list-showhide.html' %}
                </div>
                <div class="spotlight-banner__main">
                    <div id="js-profile-search-container" class="spotlight__countries">
                        <label class="form-label form-label--hidden" for="country-search" aria-hidden="true">Search for a location</label>
                        <input id="js-profile-search" class="form-item form-item--auto" type="text" name="country-search" id="country-search" placeholder="Search for a location">
                        <button type="button" class="countries__searched-cancel"><span>Cancel</span></button>
                        <nav class="countries__searched countries__searched--minor" aria-hidden="true">
                            <ul class="countries__searched__list" id="js-profile-results"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="modal-container">
        <div class="row row--narrow">
            <button type="button" class="button js-modal-trigger">Share visualisation</button>
        </div>
    </section>

    {% include 'partials/share-modal.html' %}

{% endblock %}
