{% load wagtailcore_tags wagtailuserbar wagtailmetadata_tags report_utils static %}
<!doctype html>
<!--[if IE 9]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
  <!-- Default consent states -->
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){
      dataLayer.push(arguments);
    }
    gtag('consent', 'default', {
      'ad_storage': 'denied',
      'ad_user_data': 'denied',
      'ad_personalization': 'denied',
      'analytics_storage': 'denied'
    });
  </script>
  <!-- End default consent states-->
  <!-- GA4 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-07HZJ1SYZS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-07HZJ1SYZS');
  </script>
  <!-- End GA4 -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}{{ page.seo_title|default:page.title }}{% if not global.is_home %} - {{ global.site_name }}{% endif %}{% endblock %}
  </title>
  {% block html_header %}
    {% include 'includes/scaffold/header-assets.html' %}
  {% endblock %}
  {% if page.alias_of %}
    <link rel=canonical href={% pageurl page.alias_of %}>
  {% endif %}
  {% block metadata %}
    {% meta_tags %}
  {% endblock %}
  {% if request.in_preview_panel %}
    <base target="_blank">
  {% endif %}
</head>
<body class="body body--{{ id }} {% block colour %}{% endblock %}" id="body-{{ id }}">
  <!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
  <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
  <script type="text/javascript" charset="UTF-8">
  document.addEventListener('DOMContentLoaded', function () {
  cookieconsent.run({
    "notice_banner_type":"simple",
    "consent_type":"express",
    "palette":"dark",
    "language":"en",
    "page_load_consent_levels":["strictly-necessary"],
    "notice_banner_reject_button_hide":false,
    "preferences_center_close_button_hide":false,
    "page_refresh_confirmation_buttons":false,
    "website_name":"Development Initiatives Poverty Research, Ltd.",
    "website_privacy_policy_url":"https://devinit-prod-static.ams3.cdn.digitaloceanspaces.com/media/documents/Privacy_and_cookies_policy.pdf",
    "callbacks": {
      "scripts_specific_loaded": (level) => {
        switch(level) {
          case 'targeting':
            gtag('consent', 'update', {
              'ad_storage': 'granted',
              'ad_user_data': 'granted',
              'ad_personalization': 'granted',
              'analytics_storage': 'granted'
            });
            break;
        }
      }
    },
    "callbacks_force": true
    });
  });
  </script>

  <!-- Mouseflow -->
  <script type="text/plain" data-cookie-consent="tracking">
    window._mfq = window._mfq || [];
    (function() {
      var mf = document.createElement("script");
      mf.type = "text/javascript"; mf.defer = true;
      mf.src = "//cdn.mouseflow.com/projects/0abe85f5-2641-44d4-bbae-690751b5f50d.js";
      document.getElementsByTagName("head")[0].appendChild(mf);
    })();
  </script>
  <!-- end of Mouseflow-->

  <noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
  <!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->

  {% wagtailuserbar %}
  <div class="ui-base">
    <a href="#pagecontent" class="skiplink" data-js="skiplink">Skip to main content</a>
    {% block header %}
      {% include 'includes/scaffold/header.html' %}
    {% endblock %}
    <!-- ID and -nofocus required for proper skiplink operation -->
    <main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
      {% block hero %}{% endblock %}
      {% block body %}{% endblock %}
      {% block after_content %}{% endblock %}
    </main>
    {% block footer %}
      {% include 'includes/scaffold/footer.html' %}
    {% endblock %}
  </div>
  {% block html_footer %}
    {% include 'includes/scaffold/footer-assets.html' %}
    {% page_contains_chart as charts %}
    {% if charts.plotly_studio %}
      <script src="{% static 'visualisation/js/chart.js' %}"></script>
    {% elif charts.advanced %}
      <script src="{% static 'visualisation/js/dicharts.js' %}"></script>
    {% endif %}
  {% endblock %}

</body>
</html>
