{% extends "layouts/default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}

{% block hero %}
    {% include 'includes/heroes/hero-post.html' with tags=page.topics.all %}
{% endblock hero %}

{% block body %}

<section class="section">
    <div class="row row--narrow">
        <div class="l-sidebar">
            <div class="l-sidebar__body">
                <ul class="breadcrumbs">
                    {% for page in self.get_ancestors %}
                        {% if page.is_root == False %}
                            <li class="breadcrumbs__item">
                                <a href="{% pageurl page %}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="breadcrumbs__item">
                        <a href="{% pageurl page %}">{{ page.title }}</a>
                    </li>
                </ul>

                <div class="is-typeset wysiwyg">
                    {% for block in page.body %}
                        {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
