{% extends "layouts/default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

<section class="section">
    <div class="row row--narrow">
        <div class="l-sidebar">
            <div class="l-sidebar__body">

                {% breadcrumbs %}

                <div class="is-typeset wysiwyg">
                    {% for block in page.body %}
                        {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

    {% if page.project_related_links %}
        <section class="section">
            <div class="row row--narrow">
                <h2 class="section__heading">{{ page.other_pages_heading }}</h2>
                <div class="l-2up-3up">
                {% for page_link in page.project_related_links.all %}
                    {% with item=page_link.other_page.specific %}
                        {% include 'includes/cards/card-related.html' %}
                    {% endwith %}
                {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

{% endblock %}
