<!doctype html>
<!--[if IE 9]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{{ global.site_name }}{% endblock %}</title>
    {% block html_header %}
    	{% include 'scaffold/header-assets.html' %}
    {% endblock %}
</head>
<body class="body body--{{ id }}" id="body-{{ id }}">
	<div class="ui-base">
		<a href="#pagecontent" class="skiplink" data-js="skiplink">Skip to main content</a>	
		{% block header %}
			{% include 'scaffold/header.html' %}
		{% endblock %}	
		<!-- ID and -nofocus required for proper skiplink operation -->
		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
			{% block body %}{% endblock %}
		</main>		
		{% block footer %}
			{% include 'scaffold/footer.html' %}
		{% endblock %}
	</div>
	{% include 'scaffold/footer-assets.html' %}
	{% block html_footer %}	
	{% endblock %}
</body>
</html>