{% load responsive string_utils %}

{% if value.descriptive_text %}
  <div class="max-meter max-meter--center is-typeset wysiwyg">
      {{ value.descriptive_text|content }}
  </div>
{% endif %}

<div class="media-figure">
    {% responsiveimage value.image width-800 srcset=global.image_srcs alt=value.caption class='imageCredit__img' %}
    {% if value.caption or value.caption_link %}
        <div class="media-caption">
            {% if value.caption %}
                {{ value.caption }}
                {% if value.caption_link %}
                    <br>
                {% endif %}
            {% endif %}
            {% if value.caption_link %}
                <a href="{{ value.caption_link }}">{{ value.caption_label | default:value.caption_link }}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
