{% load responsive string_utils wagtailcore_tags footnotes_utils %}

<div class="max-meter max-meter--center">
    <div class="pullOutBlock__headingWrapper">
        <h3 class="pullOutBlock__heading heading type-xxl">Case Study</h3>
    </div>
</div>
<div class="max-meter max-meter--center">
    <div class="pullOutBlock__content pullOutBlock__content--first is-typeset">
        <h1>{{ value.heading }}</h1>
    </div>
</div>

{% for block in value.content %}
    {% if block.block_type != 'infographic' %}
        <div class="max-meter max-meter--center">
            <div class="pullOutBlock__content is-typeset {% if block.block_type == 'captioned_image' %} pullOutBlock__content--media {% endif %}">
                {% if block.block_type == 'rich_text' %}
                    {% content_with_footnotes block.value %}
                {% else %}
                    {% include_block block with id=id|string_start %}
                {% endif %}
            </div>
        </div>
    {% elif block.block_type == 'infographic' %}
        {% include_block block with id=id|string_start %}
    {% endif %}
{% endfor %}
