{% load string_utils %}

{% if chart %}
    {% uid_url page as short_url %}
    <div class="max-meter max-meter--center responsive-graph" id="{{ id }}">
        <a href="#{{ id }}" data-id="{{ id }}" data-js="share-section-trigger"
            class="section-chapter__link">{% include 'publications/icon.html' with file='ico-link-'|add:page.colour size=16 %}Share
            chart</a>
        {% if page %}
            {% include 'publications/share-block.html' with share_type='chart' title=item.title|default:page.title short_url=short_url|add:'#'|add:id data_js='share-section' data_id=id %}
        {% endif %}
        {% include 'visualisation/partials/chart.html' with item=chart share_link=page.full_url|add:'#'|add:id %}
    </div>
{% endif %}
