{% extends 'layouts/default.html' %}

{% load static %}

{% block header %}{% endblock %}
{% block metadata %}{% endblock %}

{% block body %}

  <section class="section">
    <div class="row row--narrow">
        <span class="chart-label">Desktop view</span>
        <div class="max-meter max-meter--center responsive-graph">
            {% include 'visualisation/partials/advanced_chart.html' with item=page %}
        </div>
    </div>
  </section>

{% endblock %}

{% block footer %}{% endblock %}
