{% extends 'layouts/default.html' %}

{% load static %}

{% block header %}{% endblock %}
{% block metadata %}{% endblock %}

{% block body %}

  <section class="section">
    <div class="row row--narrow">
        <div class="max-meter max-meter--center responsive-graph">
            {% include 'visualisation/chart.html' with item=page %}
        </div>
    </div>
  </section>

{% endblock %}

{% block footer %}{% endblock %}

{% block html_footer %}
    {{ block.super }}
    <script src="{% static 'visualisation/js/chart.js' %}"></script>
{% endblock %}
