{% load wagtailroutablepage_tags wagtailimages_tags footnotes_utils chart_utils %}

<h3 class="type-l type-l--trailer">{{ item.title }}</h3>
<div class="chart-container chart-container--full js-plotly-chart-wrapper js-lazy-loading">
  {% if item.selectable %}
    <select class="data-selector js-plotly-chart-data-selector"></select>
  {% endif %}
  <div
    class="charts__chart js-plotly-chart"
    {% if not request.is_preview %}
      data-url="{% routablepageurl item 'data' %}"
    {% endif %}
    {% if item.aggregated %}
      data-aggregated="{{ item.aggregated }}"
    {% endif %}
    data-min-width="
      {% if page.display_fallback_tablet %}
        700
      {% elif page.display_fallback_mobile %}
        400
      {% else %}
        0
      {% endif %}
    "
  >
    <div class="chart-loading">
      <div class="chart-loading__block"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
  {% if request.is_preview %}
    <script class="js-plotly-chart-raw-data" type="application/json">{{ item.chart_json|as_json|safe }}</script>
  {% endif %}
</div>

<div class="chart-fallback">
  {% image item.fallback_image width-1000 as fallback %}
  {% image item.fallback_image width-1400 as full %}
  <a href="{{ full.url }}" target="_blank" title="Click to open image in a new window">
      <span class="chart-fallback__no-js-small-screen-image" style="background-image: url('{{ fallback.url }}'); {{ fallback|padding_by_ratio }}"></span>
  </a>
</div>

<div class="chart-fallback__alert">
  <p>{{ item.parent.no_js_text }}</p>
</div>
<div class="chart-fallback__alert chart-fallback__alert--ss">
  <p>{{ item.parent.larger_screen_text }}</p>
</div>

{% include 'visualisation/chart_instructions.html' %}

{% if item.caption %}
  <figcaption class="media-caption">
    {% content_with_footnotes item.caption %}
  </figcaption>
{% endif %}
