{% load wagtailroutablepage_tags wagtailimages_tags footnotes_utils chart_utils %}

<h3 class="type-l type-l--trailer">{{ item.title }}</h3>
<div class="chart-container chart-container--full js-plotly-chart-wrapper js-lazy-loading">
  {% if item.selectable %}
    <select class="data-selector js-plotly-chart-data-selector"></select>
  {% endif %}
  <div
    class="charts__chart js-plotly-chart"
    data-title="{{item.title}}"
    data-min-width="{% if page.display_fallback_tablet %}700{% elif page.display_fallback_mobile %}400{% else %}0{% endif %}"
    data-share-link="{{share_link}}"
    {% if item.source %}data-source="{{item.source}}"{% endif %}
    {% if not request.is_preview %}data-url="{% routablepageurl item 'data' %}"{% endif %}
    {% if item.aggregated %}data-aggregated="{{ item.aggregated }}"{% endif %}
    {% if item.aggregation_excludes %}data-aggregation-excludes="{{ item.aggregation_excludes }}"{% endif %}
    {% if item.aggregation_includes %}data-aggregation-includes="{{ item.aggregation_includes }}"{% endif %}
    {% if item.selector_excludes %}data-selector-excludes="{{ item.selector_excludes }}"{% endif %}
    {% if item.selector_includes %}data-selector-includes="{{ item.selector_includes }}"{% endif %}
    {% if item.aggregate_option_label %}data-aggregate-option-label="{{ item.aggregate_option_label }}"{% endif %}
    {% if item.y_axis_prefix %}data-y-axis-prefix="{{ item.y_axis_prefix }}"{% endif %}
    {% if item.y_axis_suffix %}data-y-axis-suffix="{{ item.y_axis_suffix }}"{% endif %}
    {% if item.image_caption %}data-image-caption="{{item.image_caption}}"{% endif %}
  >
    <div class="chart-loading">
      <div class="chart-loading__block"><div></div><div></div><div></div><div></div></div>
    </div>
  </div>
  {% if request.is_preview %}
    <script class="js-plotly-chart-raw-data" type="application/json">{{ item.chart_json|as_json|safe }}</script>
  {% endif %}
</div>

<div class="chart-fallback">
  {% image item.fallback_image width-1000 as fallback %}
  {% image item.fallback_image width-1400 as full %}
  <a href="{{ full.url }}" target="_blank" title="Click to open image in a new window">
      <span class="chart-fallback__no-js-small-screen-image" style="background-image: url('{{ fallback.url }}'); {{ fallback|padding_by_ratio }}"></span>
  </a>
</div>

<div class="chart-fallback__alert">
  <p>{{ item.parent.no_js_text }}</p>
</div>
<div class="chart-fallback__alert chart-fallback__alert--ss">
  <p>{{ item.parent.larger_screen_text }}</p>
</div>

{% include 'visualisation/chart_instructions.html' %}

{% if item.caption %}
  <figcaption class="media-caption">
    {% content_with_footnotes item.caption %}
  </figcaption>
{% endif %}
