{% extends 'layouts/default.html' %}

{% load static %}

{% block header %}{% endblock %}
{% block metadata %}{% endblock %}

{% block body %}

  <section class="section">
    <div class="row row--narrow">
      {% include 'visualisation/chart.html' with item=page class='chart-container--full' %}
    </div>
  </section>

{% endblock %}

{% block footer %}{% endblock %}

{% block html_footer %}
  {% include 'includes/scaffold/footer-assets.html' %}
  <script src="{% static 'visualisation/js/chart.js' %}"></script>
{% endblock %}
