
{% if item.use_plotly %}
  {% if item.plotly_bundle == 'basic' %}
    <script src="https://cdn.plot.ly/plotly-basic-latest.min.js"></script>
  {% elif item.plotly_bundle == 'cartesian' %}
    <script src="https://cdn.plot.ly/plotly-cartesian-latest.min.js"></script>
  {% endif %}
{% endif %}

{% if item.use_d3 %}
  <script src="https://d3js.org/d3.{{item.d3_version}}.js"></script>

  {% for module in item.d3_modules %}
    {% if module.value == 'colour' %}
      <script src="https://d3js.org/d3-color.{% if item.d3_version == 'v4' %}v1{% else %}v2{% endif %}.min.js"></script>
    {% elif module.value == 'interpolate' %}
      <script src="https://d3js.org/d3-interpolate.{% if item.d3_version == 'v4' %}v1{% else %}v2{% endif %}.min.js"></script>
    {% elif module.value == 'scale-chromatic' %}
      <script src="https://d3js.org/d3-scale-chromatic.{% if item.d3_version == 'v4' %}v1{% else %}v2{% endif %}.min.js"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if item.use_echarts %}
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
{% endif %}
