<section class="section">
    <div class="row row--narrow">
        <div class="l-4up">

            <div class="l-4up__col">
                <div class="profile">
                    <div class="profile__media">
                        <img src="/assets/img/profile2sq.jpg" alt="alt">
                    </div>
                    <div class="profile__caption">
                        <h3 class="profile__title">Amanda Hughes Reilley</h3>
                        <p class="profile__meta">Data Analyst Intern</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>