
{% load wagtailimages_tags %}


<section class="section">
    {% for profile in self.profiles %}
        {% image profile.image max-260x260 as img %}
        <div class="row row--narrow">
            <div class="l-4up">
                <div class="l-4up__col">
                    <div class="profile">
                        <div class="profile__media">
                            <img src={{img.url}} alt="alt">
                        </div>
                        <div class="profile__caption">
                            <h3 class="profile__title">{{profile.name}}</h3>
                            <p class="profile__meta">{{profile.position}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
