.accordion-leaf {
  background-color: #109E67;
}

.accordion-poppy{
  background-color: #e84439;
}

.accordion-bluebell {
  background-color: #0089CB;
}

.accordion-rose {
  background-color: #C2145B;
}

.accordion-sunflower {
  background-color: #F49B20;
}

.accordion-marigold {
  background-color: #EB632B;
}

.accordion-lavendar {
  background-color: #89328F;
}

.accordion-spacing:first-child {
  margin-top: 0;
}
