{% extends "layouts/default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}
{% get_site_root as site_root %}

{% block hero %}
{% include 'includes/heroes/hero-post.html' %}
{% endblock hero %}

{% block body %}
<section class="section section--post">
    <div class="row row--narrow">
        <div class="max-meter max-meter--center">
          {% if page.internal_author_page and page.other_authors|length > 0 %}
            {% include 'includes/partials/multi-authors.html' with first_author=page.internal_author_page authors=page.other_authors %}
          {% elif page.other_authors|length > 1 %}
            {% include 'includes/partials/multi-authors.html' with authors=page.other_authors %}
          {% endif %}
            <div class="is-typeset is-typeset--additionals wysiwyg">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
            {% include 'blog/footnotes.html' %}
        </div>
    </div>
</section>

    {% if related_pages %}
        {% with related_pages=related_pages heading='Related content'  %}
            {% include 'includes/partials/related_content.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
