{% extends "default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}
{% get_site_root as site_root %}

{% block hero %}
{% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}
  <section class="section">
    <div class="row row--narrow">
      <div class="filter">
        <h3 class="filter__title">View blogs by topic:</h3>
        <ul class="filter__list">
          {% for topic in topics %}
            {% if topic.slug == selected_topic %}
              <li class="filter__list__item filter__list__item--active"><a href="{% pageurl self %}">{{topic.name}}</a></li>
            {% else %}
              <li class="filter__list__item"><a href="{% pageurl self %}?topic={{topic.slug}}">{{topic.name}}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row row--narrow">
    <h2 class="section__heading">Latest blog posts</h2>
    <div class="l-2up-3up">
      {% for article in articles %}
      <a href="{% pageurl article %}" class="card card--offset">
        {% image article.hero_image max-260x260 as hero_img %}
        <div class="card__media" style="background-image: url({{hero_img.url}});"></div>
        <div class="card__body">
          <span class="card__meta">{{article.first_published_at}}</span>
          <h3 class="card__title"><span>{{article.title}}</span></h3>
          <p class="card__excerpt">{{article.hero_text}}</p>

          <div class="m-author">
            <div class="m-author__image">
              <img src="/assets/img/profile2sq.jpg" alt="alt tag">
            </div>
            <div class="m-author__body">
              <span class="m-author__meta">Guest author</span>
              <h3 class="m-author__title">Written by [Author name]</h3>
              <p class="m-author__job">[Company name]</p>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
    {% include "includes/scaffold/pagination-links.html" with children=articles %}
    </div>
  </section>
{% endblock %}
