{% extends "layouts/default.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}
  <section class="section">
      <div class="row row--narrow">
          <div class="l-sidebar">
              <aside class="l-sidebar__aside">
                  <div class="aside aside--clipping">
                      {% secondary_menu parent=self %}
                  </div>
              </aside>
              <div class="l-sidebar__body">
                  <div class="is-typeset wysiwyg">
                    {% for block in page.body %}
                      {% include_block block %}
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </section>
  {% include_block self.timeline_items %}
  {% for block in page.post_carousel_body %}
    {% include_block block %}
  {% endfor %}
{% endblock %}
