{% extends "layouts/default.html" %}

{% load wagtailcore_tags string_utils navigation_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}
    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                  <div class="aside aside--clipping">
                    {% secondary_menu parent=self.get_parent calling_page=self %}
                  </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        {{page.intro|richtext_strip_wrapper}}
                    </div>
                    <a href="#" class="button">Sign up to our newsletter</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="l-2up-3up">
                {% for item in stories %}
                    {% include 'includes/cards/card-news.html' with show_tag=True %}
                {% endfor %}
            </div>
            {% include "includes/scaffold/pagination.html" with children=stories %}
        </div>
    </section>
{% endblock %}
