{% extends "layouts/sidebar.html" %}

{% load navigation_tags static wagtailcore_tags wagtailimages_tags card_tags %}

{% block hero %}
    {% include 'includes/heroes/hero-news.html' %}
{% endblock hero %}

{% block main %}
    <section class="section section--post">
        <div class="row row--narrow">
            <div class="max-meter max-meter--center">
                <div class="is-typeset is-typeset--additionals wysiwyg">
                    {% for block in page.body %}
                        {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- TODO: include sidebar links from what we do once they're approved -->

{% block after_content %}
    {% if page.news_related_links %}
        {% with related_pages=page.news_related_links.all heading='Related content'  %}
            {% include 'includes/partials/related_content.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}
