<!doctype html>
<!--[if IE 9]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Development Initiatives Pattern Library</title>
    <style>
        ul#horizontal-list {
            min-width: 696px;
            list-style: none;
            padding-top: 20px;
        }

        ul#horizontal-list li {
            display: inline;
            padding: 10px;
        }
    </style>
</head>
<body class="body body--error" id="body-error">
	<div class="ui-base">
		<header role="banner" class="header">
            <div class="row">
                <a href="/" class="branding">Development Initiatives</a>
                <nav class="navigation-primary" role="navigation" id="navigation-primary">
                    <ul class="navigation-primary__items" style="list-style: none;" id="horizontal-list">
                        <li id="section-Who we are" class='navigation-primary__item'><a href="#">Who we are</a></li>
                        <li id="section-What we do" class='navigation-primary__item'><a href="#">What we do</a></li>
                        <li id="section-How we work" class='navigation-primary__item'><a href="#">How we work</a></li>
                        <li id="section-Publications" class='navigation-primary__item'><a href="#">Publications</a></li>
                        <li id="section-Data" class='navigation-primary__item'><a href="#">Data</a></li>
                        <li id="section-Blog" class='navigation-primary__item'><a href="#">Blog</a></li>
                        <li id="section-Work for us" class='navigation-primary__item'><a href="#">Work for us</a></li>
                    </ul>
                </nav>
            </div>
        </header>

		<!-- ID and -nofocus required for proper skiplink operation -->
		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
            <section class="hero hero--minor">
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <span class="hero__flourish"></span>
                <div class="row row--narrow">
                    <div class="hero__content">
                        <h1 class="hero__title"><span>There's been an error</span></h1>
                        <p class="hero__excerpt"><span>What you were looking for cannot be found</span></p>
                    </div>
                </div>
            </section>

            <div class="section">
                <div class="row row--narrow">
                    <div class="is-typeset as-wysiwyg max-meter">
                        <p>Sorry about that. Please use the navigation above to explore the website or contact us if you still can’t find what you’re looking for.</p>
                        <h4>Some things that might be helpful</h4>
                        <ul>
                            <li>Report this link as broken by emailing <a href="mailto:email@devinigt.org.uk">email@devinit.org.uk</a></li>
                            <li><a href="/" rel="home">Our homepage</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
		</main>
	</div>
</body>
</html>
