{% extends 'layouts/default.html' %}

{% block title %}404. Oh dear, that page doesn’t exist anymore - {{ global.site_name }}{% endblock %}
{% block metadata %}{% endblock %}

{% block body %}

{% load contactus %}

<section class="hero hero--minor">
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <div class="row row--narrow">
        <div class="hero__content">
            <h1 class="hero__title"><span>There's been an error</span></h1>
            <p class="hero__excerpt"><span>What you were looking for cannot be found</span></p>
        </div>
    </div>
</section>

<div class="section">
    <div class="row row--narrow">
        <div class="is-typeset as-wysiwyg max-meter">
            <p>Sorry about that. Please use the navigation above to explore the website or contact us if you still can’t find what you’re looking for.</p>
            <h4>Some things that might be helpful</h4>
            <ul>
                <li>Report this link as broken by emailing <a href="mailto:info@devinit.org">info@devinit.org</a></li>
                <li><a href="/" rel="home">Our homepage</a></li>
                {% load_contactus %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
