<!doctype html>
<!--[if IE 9]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en-GB" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Development Initiatives Pattern Library</title>
</head>
<body class="body body--error" id="body-error">
	<div class="ui-base">
		<!-- ID and -nofocus required for proper skiplink operation -->
		<main id="pagecontent" class="pagecontent -nofocus" role="main" tabindex="-1">
            <div class="l-error">
                <div class="row">
                    <h1 class="type-xl type-xl--trailer heading">500 error</h1>
                    <p class="para">Something technical has gone wrong. It's not your fault. We've been notified and this page will be back soon.</p>
                </div>
            </div>
		</main>
	</div>
</body>
</html>
