{% extends "wagtailadmin/admin_base.html" %}
{% load static i18n %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
        <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="{% static 'wagtailadmin/css/layouts/login.css' %}" type="text/css" />
{% endblock %}

{% block furniture %}
    <div class="content-wrapper">
        {% if form.errors %}
            <div class="messages">
                <ul>
                    <li class="error">{{ form.password.errors.0 }}</li>
                </ul>
            </div>
        {% endif %}

        <form action="{{ action_url }}" method="POST" autocomplete="off">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {{ form.non_field_errors }}
            <h1>Sign in to <img src="{% static "img/logo.png" %}" alt="{{ global.site_name }}" style="height: 1.4em; vertical-align: bottom;" /></h1>
            <p>{{ global.site_name }} is not ready yet. If you have a password, please enter to access the site.</p>

            <ul class="fields">

                <li class="full">
                    <div class="field iconfield">
                        {{ form.password.label_tag }}
                        <div class="input icon-password">
                            {{ form.password }}
                        </div>
                    </div>
                    {% if show_password_reset %}
                        <p class="help"><a href="{% url 'wagtailadmin_password_reset' %}">{% trans "Forgotten it?" %}</a></p>
                    {% endif %}
                </li>

                <li class="submit">
                    <button type="submit" class="button button-longrunning" tabindex="3" data-clicked-text="{% trans 'Signing in...' %}"><span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em></button>
                </li>
            </ul>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script>
    $(function(){
        $('form input[name=password]').focus();
    })
</script>
{% endblock %}
