{% load wagtailcore_tags wagtailimages_tags static %}

{% if item %}
  <a href="{% pageurl item %}" class="card card--offset">
    {% if tag %}
      <span class="card__tag">{{tag}}</span>
    {% endif %}
    <span class="card__tag">{{ tag }}</span>
    {% if item.hero_image %}
      {% image item.hero_image max-400x250 as hero_img %}
      <div class="card__media" style="background-image: url({{hero_img.url}});"></div>
    {% else %}
      <div class="card__media" style="background-image: url({% static 'img/fallback-image.jpg' %});"></div>
    {% endif %}
    <div class="card__body">
      {% if item.first_published_at %}
        <span class="card__meta">{{ item.first_published_at|date:"j F Y" }}</span>
      {% endif %}
        <h3 class="card__title"><span>{{ item.title }}</span></h3>
        <div class="card__excerpt">{{ item.hero_text|richtext }}</div>
    </div>
  </a>
{% endif %}
