{% load wagtailcore_tags %}

{% if event %}
<a href="{% pageurl event %}" class="card card--{% if card_type %}{{card_type}}{% else %}offset{% endif %}">
    {% if show_tag %}
        <span class="card__tag">Event</span>
    {% endif %}

    {% include 'includes/cards/card-image.html' with item=event %}

    <div class="card__body">
        <h3 class="card__title"><span>{{ event.title }}</span></h3>
        <ul class="card__list">
            <li>
                <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-slate"></i>
                {% if event.start_date == event.end_date %}
                    {{ event.start_date|date:"j F Y" }}
                {% elif event.start_date.year == event.end_date.year %}
                    {{ event.start_date|date:"j F" }} - {{ event.end_date|date:"j F Y" }}
                {% else %}
                    {{ event.start_date|date:"j F Y" }} - {{ event.end_date|date:"j F Y" }}
                {% endif %}
            </li>
            {% if event.start_time or event.end_time %}
              <li>
                  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-clock-slate"></i>
                  {% if event.start_time and event.end_time %}
                    {{ event.start_time }} - {{ event.end_time }}
                  {% elif event.start_time %}
                    {{ event.start_time }}
                  {% elif event.end_time %}
                    {{ event.end_time }}
                  {% endif %}
              </li>
            {% endif %}
            {% if event.location %}
              <li>
                  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-slate"></i>
                  {{ event.location }}
              </li>
            {% endif %}
        </ul>
    </div>
</a>
{% endif %}
