{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% pageurl item %}" class="card card--offset">
    {% image item.hero_image max-400x250 as hero_img %}
    <span class="card__tag">{{ tag }}</span>
    <div class="card__media" style="background-image: url({{hero_img.url}});"></div>
    <div class="card__body">
        <span class="card__meta">{{ item.first_published_at }}</span>
        <h3 class="card__title"><span>{{ item.title }}</span></h3>
        <div class="card__excerpt">{{ item.hero_text|richtext }}</div>
    </div>
</a>
