{% load wagtailcore_tags generic_tags %}

<a href="{% pageurl item %}" class="card card--simple">
    <div class="card__body">
        <span class="card__flag">
            {% if item|classname == global.blog_classname %}Blog{% endif %}
            {% if item|classname in global.publication_classnames %}{{ item.publication_type|default_if_none:"Publication" }}{% endif %}
            {% if item|classname == global.dataset_classname %}Dataset{% endif %}
        </span>
        {% if item.published_date  %}
          <span class="card__meta">{{ item.published_date|date:"j F Y" }}</span>
        {% elif item.first_published_at %}
          <span class="card__meta">{{ item.first_published_at|date:"j F Y" }}</span>
        {% elif item.release_date %}
            <span class="card__meta">{{ item.release_date|date:"j F Y" }}</span>
        {% endif %}
        <h3 class="card__title"><span>{{ item.title }}</span></h3>
    </div>
</a>
