{% load wagtailcore_tags generic_tags %}

{% if blog %}
  <a href="{% pageurl blog %}{{ nav_param|default_if_none:'' }}" class="card card--{% if card_type %}{{card_type}}{% else %}offset{% endif %}">
    {% if show_tag %}
      <span class="card__tag">Blog</span>
    {% endif %}

    {% include 'includes/cards/card-image.html' with item=blog %}

    <div class="card__body">
      {% if blog.published_date %}
        <span class="card__meta">{{ blog.published_date|date:"j F Y" }}</span>
      {% endif %}
      <h3 class="card__title"><span>{{ blog.title }}</span></h3>
      <div class="card__excerpt">
        {% if blog.hero_text %}
          {{blog.hero_text|richtext}}
        {% else %}
          {{ blog.body|first|striptags|truncatewords:40 }}
        {% endif %}
      </div>

      {% if blog.internal_author_page %}
        {% with blog.internal_author_page.specific as internal %}
          {% with page=internal img=internal.image name=internal.name position=internal.position %}
            {% include 'includes/partials/author.html' with author_prefix="Written by" %}
          {% endwith %}
        {% endwith %}

      {% elif blog.other_authors %}
        {% if blog.count_other_authors > 1 %}

          {% with authors=blog.other_authors %}
            {% include 'includes/partials/multi_authors.html' with author_count=blog.count_other_authors %}
          {% endwith %}

        {% else %}

          {% with other_author=blog.other_authors|first %}
            {% if other_author.block_type == 'internal_author' %}
              {% with other_author.value.specific as internal %}
                  {% with page=internal img=internal.image name=internal.name position=internal.position %}
                      {% include 'includes/partials/author.html' with author_prefix="Written by" %}
                  {% endwith %}
              {% endwith %}
            {% else %}
              {% with link=other_author.value.page img=other_author.value.photograph name=other_author.value.name position=other_author.value.title %}
                  {% include 'includes/partials/author.html' with author_prefix="Written by" %}
              {% endwith %}
            {% endif %}
          {% endwith %}

        {% endif %}

      {% endif %}
    </div>
  </a>
{% endif %}
