{% load wagtailcore_tags wagtailimages_tags responsive string_utils%}

<a href="{% pageurl item %}" class="card card--offset">
    {% responsiveimage item.hero_image fill-400x250 srcset=global.card_srcs as card_img %}
    <div class="card__media" style="background-image: url('{{ card_img.url }}');"></div>
    <div class="card__body">
        <h3 class="card__title"><span>{{item.title}}</span></h3>
        <ul class="card__list">
            <li>
                <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-slate"></i>
                {{item.start_time|format_date:item.end_time}}
            </li>
            <li>
                <i role="presentation" aria-hidden="true" class="ico ico--14 ico-clock-slate"></i>
                {{item.start_time|date:"h A"}} - {{item.end_time|date:"h A"}}
            </li>
            <li>
                <i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-slate"></i>
                {{item.location}}
            </li>
        </ul>
    </div>
</a>
