{% load wagtailcore_tags wagtailimages_tags static %}

{% if item %}
  <a href="{% pageurl item %}{{ nav_param|default_if_none:'' }}" class="card card--offset">
    {% if tag %}
      <span class="card__tag">{{tag}}</span>
    {% endif %}

    {% include 'includes/cards/card-image.html' with item=item %}

    <div class="card__body">
        {% if not hide_date %}
          {% if item.published_date %}
            <span class="card__meta">{{ item.published_date|date:"j F Y" }}</span>
          {% else %}
            <span class="card__meta">{{ item.first_published_at|date:"j F Y" }}</span>
          {% endif %}
        {% endif %}
        <h3 class="card__title"><span>{{ item.title }}</span></h3>
        <div class="card__excerpt">{{ item.hero_text|richtext }}</div>
    </div>
  </a>
{% endif %}
