{% load wagtailcore_tags wagtailimages_tags static %}

<a href="{% pageurl more_about_page %}" class="card">
    {% if more_about_page.hero_image %}
        {% image more_about_page.hero_image max-400x250 as hero_img %}
        <div class="card__media" style="background-image: url({{hero_img.url}});"></div>
    {% else %}
        <div class="card__media" style="background-image: url({% static 'img/fallback-image.jpg' %});"></div>
    {% endif %}

    <div class="card__body">
        <h3 class="card__title"><span>{{ more_about_page.title }}</span></h3>
    </div>
</a>