{% load wagtailcore_tags wagtailimages_tags responsive %}

<div class="banner">
    <div class="l-banner">
        <div class="l-banner__aside">
            <div class="banner__media">
                <div class="media-wrapper">
                    {% if self.video %}
                        {{ self.video }}
                    {% endif %}

                    {% if self.image %}
                        {% responsiveimage self.image fill-460x260 srcset=global.banner_srcs alt='alt image' %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="l-banner__main">
            <p class="banner__excerpt">{{ self.text }}</p>
            <span class="banner__meta">{{ self.meta }}</span>

            {% if self.button_page %}
                <a href="{% pageurl self.button_page %}" class="button button--reverse">
                    {% if self.button_caption %}
                        {{ self.button_caption }}
                    {% else %}
                        {{ self.button_page.title }}
                    {% endif %}
                </a>
            {% elif self.button_link %}
                <a href="{{ self.button_link }}" class="button button--reverse">
                    {{ self.button_caption }}
                </a>
            {% endif %}
        </div>
    </div>
</div>
