<section class="section section--chart {% if loop.index%2 != 0 %}section--alt{% endif %}">
    <div class="row row--narrow">
        <div class="max-meter max-meter--center">
            <div class="is-typeset">
                <h2>{{ item.title }}</h2>
                <p>{{ item.description }}</p>
            </div>
        </div>
    </div>
    <div class="row row--narrow">
        <div class="max-meter max-meter--center">
            <a href="#" name="2.1" class="section-chapter__link">{{ icons.icon('ico-link-poppy', '16') }} Share chart</a>
            <div class="chart-container chart-container--full">
                <select class="data-selector"></select>
                <div
                    class="charts__chart"
                    id="{{ item.id }}"
                    data-url="{{ item.data_url }}"
                    data-interactive="{{ item.interactive }}"
                    data-combined="{{ item.combined }}"
                    data-drilldown="{{ item.drilldown }}">
                </div>
            </div>
        </div>
    </div>
    <div class="row row--narrow">
        <div class="max-meter max-meter--center">
            {% include 'partials/accordion-chart.html' %}
        </div>
    </div>
</section>
