
{% extends "layouts/default.html" %}

{% load wagtailcore_tags %}

{% block hero %}
  {% include 'includes/heroes/hero-minor.html' %}
{% endblock hero %}

{% block body %}
  <section class="section">
    <div class="row row--narrow">
      <div class="max-meter">
        <div class="is-typeset">
          {% for block in page.body %}
            {% include_block block %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% include 'contactus/includes/contact_details.html' %}
{% endblock body %}
