{% load wagtailcore_tags %}


{% if ancestors %}
    <ul class="breadcrumbs">
        {% for ancestor in ancestors|slice:"1:" %}
            {% if forloop.last %}
                <li class="breadcrumbs__item" aria-level="{{ancestors|length}}">
                    <a href="#">{{ ancestor }}</a>
                </li>
            {% else %}
                <li class="breadcrumbs__item" aria-level="{% cycle 1 2 3 4 5 %}">
                    <a href="{% pageurl ancestor %}">{{ ancestor }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
