{% load wagtailcore_tags %}

<section class="section">
    <div class="row row--narrow">
        <h2 class="section__heading">Where we are based</h2>
        <div class="l-4up">
            <div class="location">
                <h3 class="location__heading">UK</h3>
                <p class="location__copy">North Quay House Quay Side, Temple Back Bristol, BS1 6FL, UK</p>
                <span class="location__contact">+44 (0) 1179 272 505</span>
            </div>
            <div class="location">
                <h3 class="location__heading">Kenya</h3>
                <p class="location__copy">Shelter Afrique Building 4th Floor, Mamlaka Road Nairobi, Kenya PO Box 102802-00101 </p>
                <span class="location__contact">+254 (0) 20 272 5346</span>
            </div>
            <div class="location">
                <h3 class="location__heading">Uganda</h3>
                <p class="location__copy">Ggaba Road, Mutesasira Zone, Kansanga PO Box 22459 Kampala, Uganda</p>
                <span class="location__contact">+266 (0) 312 26629/30</span>
            </div>
            <div class="location">
                <h3 class="location__heading">United States</h3>
                <p class="location__copy">1110 Vermont Ave NW, Suite 500, Washington DC 20005, USA</p>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="row row--narrow">
        <h2 class="section__heading">Registered addresses</h2>
        <div class="l-2up">
            <div class="l-2up__col">
                <p class="para para--typeset">Development Initiatives Poverty Research Ltd (Registered in England and Wales, Company No. 06368740) and DI International Ltd (Registered in England Wales, Company No. 5802543)</p>
                <ul class="nobullet-list">
                    <li>North Quay House</li>
                    <li>Quay side</li>
                    <li>Temple Back</li>
                    <li>Bristol</li>
                    <li>BS1 6FL</li>
                    <li>UK</li>
                </ul>
            </div>
            <div class="l-2up__col">
                <p class="para para--typeset">Development Initiatives Poverty Research America Inc. (a 501(C)3 company registered in the state of Delaware with registration number 5737757)</p>
                <ul class="nobullet-list">
                    <li>1209 Orange Street</li>
                    <li>Wilmington</li>
                    <li>New Castle County</li>
                    <li>Delaware 19801</li>
                    <li>USA</li>
                </ul>
            </div>
        </div>
    </div>
</section>
