{% load string_utils %}

{% if value.file %}
    <a
        href="{{ value.file.url }}"
        class="card js-ga-download-click"
        data-event-label="Download {{ group.singular_name|lower }} / {{ page.title }}"
        title="Download {{ group.singular_name|lower }} | {% if value.file|file_exists %} {{ value.file|file_info }} {% endif %}"
    >
        <span class="card__anchor"></span>
        <h3 class="card__headng">{{ value.title }}</h3>
        <p class="card__excerpt">{{ value.description }}</p>
        <div class="button button--reverse button--a11y" title="Download {{ group.singular_name|lower }} | {% if value.file|file_exists %} {{ value.file|file_info }} {% endif %}"><span>Download {% if value.file|file_exists %}{{ value.file|file_label }}{% endif %}</span></div>
    </a>
{% endif %}
