{% load string_utils %}

{% if value.file %}
    <a
        href="{{ value.file.url }}"
        class="card js-ga-download-click"
        data-event-label="Download {{ group.singular_name|lower }} / {{ page.title }}"
        title="Download {{ group.singular_name|lower }} | {{ value.file|file_info }}"
    >
        <span class="card__anchor"></span>
        <h3 class="card__headng">{{ value.title }}</h3>
        <p class="card__excerpt">{{ value.description }}</p>
        <div class="button button--reverse button--a11y" title="Download {{ group.singular_name|lower }} | {{ value.file|file_info }}"><span>Download {{ value.file|file_label }}</span></div>
    </a>
{% endif %}
