<section class="panel palette summary nice-padding divider-after fff-custom-panel">
    <style scoped type="text/css">
        h2 {
            text-transform: none;
        }
        .fff-custom-panel {
            border-bottom: 1px dashed #e6e6e6;
            margin-bottom: 0;
            padding-bottom: 2em;
        }
        .fff-custom-panel__goto {
            float: right;
        }
    </style>
    <a class="fff-custom-panel__goto" href="#site-summary">Go to site summary <span class="icon icon-order-down"></span></a>

    <!--
    <h2>Overview</h2>
    <p>This site is comprised of:</p>
    <ul>
        <li><strong>Top level pages:</strong> usually singular</li>
        <li><strong>Child pages:</strong> can sometimes have multiple instances of the same type</li>
        <li><strong>Taxonomies:</strong> categories for the research topics</li>
    </ul>
    <p>To help you navigate the editing interface, pages and taxonomies which can have multiple instances have been grouped together in the left hand navigation.</p>
    <p>If you haven't already, have a read of <a href="http://docs.wagtail.io/en/v1.13.1/editor_manual/index.html" target="wagtail">Using Wagtail: an Editor’s guide</a> to get up to speed on what Wagtail can do.</p>

    <hr/>

    <h2>Pages</h2>
    <p>Use the explorer link in the left nav to navigate to the site's main top level pages.</p>
    <p>From within each page view in the explorer, you can:</p>
    <ul>
        <li>Edit the page</li>
        <li>Edit the children of the page</li>
        <li>Browse to children of the child pages (if available)</li>
        <li>Add child pages (if available)</li>
    </ul>
    <p>There is lots more functionality available than the list above: see the <a href="http://docs.wagtail.io/en/v1.13.1/editor_manual/finding_your_way_around/the_explorer_menu.html" target="wagtail">explorer</a> and <a href="http://docs.wagtail.io/en/v1.13.1/editor_manual/finding_your_way_around/the_explorer_page.html" target="wagtail">explorer page</a> guides for in-depth help.</p>

    <hr/>

    <h2>Page ordering</h2>
    <p>When pages are not actively selected by an editor, or displayed by date, they will usually be displayed in the order they appear within the page list.</p>
    <p>To understand how to view and edit pages by list order, see <a href="http://docs.wagtail.io/en/v1.13.1/editor_manual/finding_your_way_around/the_explorer_page.html#reordering-pages" target="wagtail">reordering pages</a> in the user guide.</p>

    <hr/>

    <h2>Standard pages</h2>
    <p>Standard pages can be children of the home page or other standard pages.</p>

    <p>There is an option for these pages to be treated as standalone (like the 'Privacy' or 'Terms' pages), in which case they won't display any sub-navigation. By default they will automatically display a sub-nav that includes themselves and their sibling pages.</p>
    <hr/>

    <h2>Images</h2>
    <p>Wagtail will perform image processing for you, so please try to upload at the specified optimal size</p>
    <hr/>

    <h2>Settings</h2>
    <p>Global content snippets are available under the settings menu to edit menus, contact details, footer content and to add code snippets such as analytics.</p>
    -->


</section>

<a id="site-summary"></a>
