<form method="get" action="{{self.pageurl}}" class="form resources-filters">
  <div class="form-field form-field--inline-five">
    <label for="types" class="form-label form-label--hidden">
      All Types
    </label>
    <div class="form-field__select-dropdown">
      <select name="types" id="types">
        <option value="" id="filter-by-types">All types</option>
        {% regroup resource_types by resource_category as resources_list %}
        {% for category in resources_list %}
          <optgroup label="{{ category.grouper }}">
            {% for resource_type in category.list %}
              <option value="{{resource_type.slug}}" id="{{resource_type.slug}}" {% if resource_type.slug == selected_type %}selected{% endif %}>
                {{resource_type}}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-field form-field--inline-five">
    <label for="topic" class="form-label form-label--hidden">
      All topics
    </label>
    <div class="form-field__select-dropdown">
      <select name="topic" id="topic">
        <option value="" id="filter-by-topic">All topics</option>
        {% for topic in topics %}
          <option value="{{topic.slug}}" id="{{topic.slug}}" {% if topic.slug == selected_topic %}selected{% endif %}>
            {{topic}}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-field form-field--inline-five">
    <label for="country" class="form-label form-label--hidden">
      All countries
    </label>
    <div class="form-field__select-dropdown">
      <select name="country" id="country">
        <option value="" id="filter-by-country">All countries</option>
        {% regroup countries by region as country_list %}
        {% for region in country_list %}
          <optgroup label="{{ region.grouper }}">
            {% for country in region.list %}
              <option value="{{country.slug}}" id="{{country.slug}}" {% if country.slug == selected_country %}selected{% endif %}>
                {{country}}
              </option>
            {% endfor %}
          </optgroup>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-field form-field--inline-five">
    <label for="q" class="form-label form-label--hidden">Search by keyword</label>
    <input class="form-item" type="text" name="q" placeholder="Search..." value="{{search_filter|default_if_none:''}}">
  </div>
  <div class="form-field form-field--inline-five">
    <label for="sort" class="form-label form-label--hidden">
      Order by
    </label>
    <div class="form-field__select-dropdown">
      <select name="sort" id="sort">
        {% for sort_option_id, sort_option_name in sort_options %}
          <option value="{{ sort_option_id }}" id="{{ sort_option_id }}" {% if sort_option_id == selected_sort %}selected{% endif %}>{{ sort_option_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-field form-field--inline-five resources-filter--button">
    <button type="submit" class="button">Filter</button>
  </div>
</form>
