{% load wagtailimages_tags wagtailcore_tags responsive%}

{% responsiveimage page.hero_image fill-1600x780-c100 srcset=global.hero_srcs as image %}
<section class="hero {% if image %}hero--image{% endif %}">
    {% if image %}
        <div class="hero__image" style="background-image: url('{{ image.url }}');"></div>
        {% if self.hero_image_credit_name %}
            <span class="hero__credit">Image by
            {% if self.hero_image_credit_url %}
                <a href="{{self.hero_image_credit_url}}" target="_blank">{{self.hero_image_credit_name}}</a>
            {% else %}
                {{self.hero_image_credit_name}}
            {% endif %}
            </span>
        {% endif%}
    {% endif %}

    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <span class="hero__flourish"></span>
    <div class="row row--narrow">
        <div class="hero__content">
          {% if self.get_verbose_name == 'Blog article page' %}
            <ul class="hero__meta">
              <li class="hero__meta-item hero__meta-item--block">Blog</li>
              <li class="hero__meta-item">{{ self.first_published_at }}</li>
            </ul>
          {% endif %}
            <h1 class="hero__title">
                <span>{{ page.title }}</span>
            </h1>
            {% if page.hero_text %}
                <div class="hero__excerpt"><span>{{ page.hero_text|richtext }}</span></div>
            {% endif %}
            {% if page.hero_link and page.hero_link_caption %}
                <a href="{% pageurl page.hero_link %}" class="button button--reverse">{{ page.hero_link_caption }}</a>
            {% endif %}
        </div>
    </div>
    {% if self.get_verbose_name == 'Blog article page' %}
      {% if self.internal_author_page %}
        <a href="{% pageurl self.internal_author_page %}" class="m-author">
        {% if self.internal_author_page.specific.image %}
          {% image self.internal_author_page.specific.image fill-80x80-c100 as author_img %}
          <div class="m-author__image">
            <img src="{{author_img.url}}" alt="{{author_img.alt}}">
          </div>
        {% endif %}
          <div class="m-author__body">
            <h3 class="m-author__title">Written by {{self.internal_author_page.specific.name|default_if_none:""}}</h3>
            <p class="m-author__job">{{self.internal_author_page.specific.position|default_if_none:""}}</p>
          </div>
        </a>
      {% else %}
        <a href="{% pageurl self.internal_author_page %}" class="m-author">
        {% if self.external_author_photograph %}
          {% image self.external_author_photograph fill-80x80-c100 as author_img %}
          <div class="m-author__image">
            <img src="{{author_img.url}}" alt="{{author_img.alt}}">
          </div>
        {% endif %}
          <div class="m-author__body">
            <span class="m-author__meta">Guest author</span>
            <h3 class="m-author__title">Written by {{self.external_author_name|default_if_none:""}}</h3>
            <p class="m-author__job">{{self.external_author_title|default_if_none:""}}</p>
          </div>
        </a>
      {% endif %}
    {% endif %}
</section>
