{% extends 'includes/heroes/hero.html' %}

{% block hero_class %}{% if not page.hero_image %}hero--minor{% endif %}{% endblock hero_class %}

{% block hero_meta %}
    <ul class="hero__meta">
        <li class="hero__meta-item hero__meta-item--block">News</li>
        {% if page.published_date %}
          <li class="hero__meta-item">{{ page.published_date|date:"j F Y" }}</li>
        {% else %}
          <li class="hero__meta-item">{{ page.first_published_at|date:"j F Y" }}</li>
        {% endif %}
    </ul>
{% endblock hero_meta %}
