{% extends 'includes/heroes/hero.html' %}

{% block hero_class %}hero--minor{% endblock hero_class %}

{% block hero_meta %}
    <ul class="hero__meta">
        <li class="hero__meta-item hero__meta-item--block">{{ page.publication_type|default_if_none:"Publication" }}</li>
        {% if page.published_date %}
          <li class="hero__meta-item">{{ page.published_date|date:"j F Y" }}</li>
        {% endif %}
    </ul>
{% endblock hero_meta %}

{% block hero-link %}
  {% if page.publication_downloads_list|length > 0 or page.data_downloads_list|length > 0 %}
    <a href="#downloads" class="button button--reverse">Publication downloads</a>
  {% endif %}
{% endblock hero-link %}
