{% extends 'includes/heroes/hero-pubs.html' %}

{% block hero-buttons %}
  {% if page.read_online_button_text %}
    <a href="#exec-summary" class="button button--reverse">{{ page.read_online_button_text }}</a>
  {% endif %}
  {% if page.publication_downloads_list|length > 0 or page.data_downloads_list|length > 0 %}
    <a href="#downloads" class="button button--reverse">Download options</a>
  {% endif %}
  {% if page.request_hard_copy_text and page.call_to_action_has_top_position %}
    <a href="#hardcopy" class="button button--reverse">{{ page.request_hard_copy_text }}</a>
  {% endif %}
{% endblock hero-buttons %}
