{% load wagtailcore_tags string_utils footnotes_utils %}

<div class="max-meter max-meter--center accordion-spacing">
  {% for item in self.accordion_items %}
    <li class="accordion__list-item">
      <button type="button" class="accordion__heading">
        {{item.name}}
        <i role="presentation" aria-hidden="true" class="ico ico--20 ico-plus-blank"></i>
      </button>
      <div class="accordion__content">
        <div class="is-typeset">
          {% content_with_footnotes item.description %}
        </div>
      </div>
    </li>
  {% endfor %}
</div>
