{% load string_utils %}

<section class="section{% if self.alt %} section--alt{% endif %}">
    <div class="row row--narrow">
        <h2 class="section__heading">{{ self.section_heading|default_if_none:"" }}</h2>
        <div class="is-typeset max-meter">
          {% if self.section_sub_heading %}
            {{ self.section_sub_heading|content }}
          {% endif %}
        </div>
        <div class="l-3up">
          {% for doc_box in self.document_boxes %}
            <div class="l-3up__col">
              <div class="button {% if doc_box.value.dark_mode %}button--reverse{% endif %} button--faux button--icon">
                  <i role="presentation" aria-hidden="true" class="ico ico--24 {% if doc_box.value.dark_mode %}ico-download-blank{% else %}ico-download-poppy{% endif %}"></i>
                  <span class="button--faux__meta">Download</span>
                  <h3 class="button--faux__heading">{{ doc_box.value.box_heading }}</h3>
                  <ul class="button--faux__list">
                    {% for doc in doc_box.value.documents %}
                      {% if doc.value.file|file_exists %}
                        <li>
                          <a href="{{ doc.value.url }}">
                            {{ doc.value.file_extension|upper }} {{ doc.value.file.size|filesizeformat }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
