<section class="section section--alt">
    <div class="row row--narrow">
        <h2 class="section__heading">{{ self.section_heading|default_if_none:"" }}</h2>
        <div class="is-typeset max-meter">
            <p>{{ self.section_sub_heading|default_if_none:"" }}</p>
        </div>
        <div class="l-3up">
          {% for doc_box in self.document_boxes %}
            <div class="l-3up__col">
              <div class="button {% if doc_box.value.dark_mode %}button--reverse{% endif %} button--faux button--icon">
                  <i role="presentation" aria-hidden="true" class="ico ico--24 {% if doc_box.value.dark_mode %}ico-download-blank{% else %}ico-download-poppy{% endif %}"></i>
                  <span class="button--faux__meta">Download</span>
                  <h3 class="button--faux__heading">{{ doc_box.value.box_heading }}</h3>
                  <ul class="button--faux__list">
                    {% for doc in doc_box.value.documents %}
                      <li>
                        <a href="{{ doc.value.url }}">
                          {{ doc.value.title }} {{ doc.value.file_extension|upper }} {{ doc.value.file.size|filesizeformat }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
