{% load wagtailcore_tags wagtailimages_tags string_utils responsive %}

<section class="section {% if self.alt %}section--alt{% endif %}">
  <div class="row row--narrow">
    {% if self.heading %}
      <h2 class="section__heading">{{self.heading}}</h2>
    {% endif %}
    <div class="duo">
      <div class="duo__media">
        <div class="media-figure">
          {% responsiveimage self.image fill-800x500-c100 srcset=global.duo_srcs as image %}
          <img src="{{ image.url }}" alt="{{ self.image.title }}" srcset="{{ image.srcset }}">
          <span class="media-figure__credit">Image by
            {% if self.credit_url %}
              <a href="{{self.credit_url}}">{{self.credit_name}}</a>
            {% else %}
              {{self.credit_name}}
            {% endif %}
          </span>
        </div>
      </div>
      <div class="duo__main">
        <div class="is-typeset">
          {{self.side_text|content}}
        </div>
        {% if self.button %}
          {% include_block self.button %}
        {% endif %}
      </div>
    </div>
  </div>
</section>
