{% load wagtailcore_tags wagtailimages_tags string_utils responsive %}

<section class="section">
    <div class="row row--narrow">
        <div class="duo">
                <div class="duo__media"> 
                    <div class="media-figure">
                        {% responsiveimage self.image fill-800x500-c100 srcset=global.image_srcs as image %} 
                        <img src="{{ image.url }}" alt="alt">
            
                        <span class="media-figure__credit">Image by 
                        {% if self.credit_url %}
                            <a href="{{self.credit_url}}" target="_blank">{{self.credit_name}}</a>
                        {% else %}
                            {{self.credit_name}}
                        {% endif %}
                        </span>
                    </div>
                </div>
            <div class="duo__main">
                <div class="is-typeset">
                    {{self.side_text|richtext_strip_wrapper}}
                </div>
            </div>
        </div>
    </div>
</section>

