{% extends 'includes/partials/project.html' %}
{% load wagtailimages_tags wagtailcore_tags static %}

{% block project_aside %}
  <h3 class="project__subheading">Key projects</h3>
    {% if self.first_project_page.projectpage %}
        {% if self.first_project_page.projectpage.hero_image %}
            {% image self.first_project_page.projectpage.hero_image max-313x178 as hero_img %}
            <a href="#" class="project-card" style="background-image: url({{hero_img.url}});">
        {% else %}
            <a href="#" class="project-card" style="background-image: url({% static 'img/fallback-image.jpg' %});">
        {% endif %}
            <span class="project-card__caption">{{ self.first_project_page.specific.body }}</span>
            </a>
    {% endif %}

    {% if self.second_project_page.projectpage %}
        {% if self.second_project_page.projectpage.hero_image %}
            {% image self.second_project_page.projectpage.hero_image max-313x178 as hero_img %}
            <a href="#" class="project-card" style="background-image: url({{hero_img.url}});">
        {% else %}
            <a href="#" class="project-card" style="background-image: url({% static 'img/fallback-image.jpg' %});">
        {% endif %}
            <span class="project-card__caption">{{ self.second_project_page.specific.body }}</span>
            </a>
    {% endif %}
{% endblock project_aside %}
