{% load wagtailcore_tags card_tags string_utils %}

{% get_office_locations as locations %}
{% if locations %}
  <section class="section{% if self.light %} section--alt{% endif %}">
    <div class="row row--narrow">
      <h2 class="section__heading">{{self.heading}}</h2>
      <div class="is-typeset max-meter">
          {{self.description|richtext_strip_wrapper}}
      </div>
      <div class="media-map media-map--minor">
        <div id="map" class="media-map__location" data-latlng="25.453669,-55.585922">
          {% for location in locations %}
            {% if location.latitude is not None %}
              <div class="media-map__location__point"
                data-latlng="{{ location.latitude }}, {{ location.longitude }}"
                data-title="{{ location.location }}" data-desc="{{ location.address }}"
                data-tel="{{ location.contact }}" data-email="" data-web=""></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if self.button_page %}
        <a href="{% pageurl self.button_page %}" class="button">
          {% if self.button_caption %}
            {{ self.button_caption }}
          {% else %}
            {{ self.button_page.title }}
          {% endif %}
        </a>
      {% elif self.button_url %}
          <a href="{{ self.button_url }}" class="button">
            {{ self.button_caption }}
          </a>
      {% endif %}
    </div>
  </section>
{% endif %}
