{% load wagtailcore_tags card_tags string_utils %}

{% if page.locations_where_we_work %}
  <section class="section{% if self.light %} section--alt{% endif %}">
    <div class="row row--narrow">
      <h2 class="section__heading">{{self.heading}}</h2>
      <div class="is-typeset max-meter">
          {{self.description|richtext_strip_wrapper}}
      </div>
      <div class="media-map media-map--minor">
        <div id="map" class="media-map__location" data-latlng="25.453669,-55.585922">
          {% for location in page.locations_where_we_work %}
            {% if location.value.google_map.lat is not None %}
              <div class="media-map__location__point"
                data-latlng="{{ location.value.google_map.lat }}, {{ location.value.google_map.lng }}"
                data-title="{{ location.value.name }}"
                data-tel="{{ location.value.phone }}" data-email="" data-web=""></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if self.button %}
        {% include_block self.button %}
      {% endif %}
    </div>
  </section>
{% endif %}
