{% load wagtailcore_tags wagtailimages_tags static %}

<div class="l-5up__col">
  <a href="{% pageurl self.person %}" class="profile">
    <div class="profile__media">
    {% if self.person.image %}
      {% image self.person.image fill-200x200-c100 as image %}
      <img src="{{ image.url }}" alt="{{ image.alt }}">
    {% else %}
      <img height="140px" width="140px" src="{% static 'img/profile-fallback.jpg' %}" alt="Placeholder profile picture">
    {% endif %}
    </div>

    <div class="profile__caption">
      <h3 class="profile__title">{{ self.person.name }}</h3>
      <p class="profile__meta">{{ self.person.position }}</p>
    </div>
  </a>
</div>
