{% extends "default.html" %}

{% load navigation_tags static wagtailcore_tags  wagtailimages_tags %}
{% get_site_root as site_root %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}
<section class="section">
    <div class="row row--narrow">
        <div class="l-sidebar">
            <aside class="l-sidebar__aside">
                <div class="aside aside--clipping">
                    {% secondary_menu parent=page %}
                </div>
            </aside>
        </div>
    </div>
</section>

<section class="section">
    {% for profile in profiles %}
        {% image profile.image max-260x260 as img %}
        <div class="row row--narrow">
            <div class="l-4up">
                <div class="l-4up__col">
                    <div class="profile">
                        <div class="profile__media">
                            <img src={{img.url}} alt="alt">
                        </div>
                        <div class="profile__caption">
                            <h3 class="profile__title">{{profile.name|default_if_none:""}}</h3>
                            <p class="profile__meta">{{profile.position|default_if_none:""}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
