{% load wagtailimages_tags wagtailcore_tags static responsive %}

<div class="m-author">
  {% image img fill-200x200-c100 as image %}
  {% static 'img/profile-fallback.jpg' as fallback_image %}
  {% if img %}
    {% if image.url != '/media/not-found' %}
      <div class="m-author__image" style="background-image:url({{ image.url }})"></div>
    {% else %}
      <div class="m-author__image" style="background-image:url({{fallback_image}})"></div>
    {% endif %}
  {% else %}
      <div class="m-author__image" style="background-image:url({{fallback_image}})"></div>
  {% endif %}

  <div class="m-author__body">
    {% if guest_author %}
      <span class="m-author__meta">Guest author</span>
    {% endif %}
    <h3 class="m-author__title">{{author_prefix|default_if_none:"Written by"}} {{name|default_if_none:""}}</h3>
    <p class="m-author__job">{{position|default_if_none:""}}</p>
  </div>
</div>
