{% load wagtailimages_tags wagtailcore_tags static responsive %}

<div class="m-author">
    <div class="m-author__image">
        {% if img %}
          {% responsiveimage img fill-80x80-c100 srcset=global.card_srcs as image %}
          {% if image.url != '/media/not-found' %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
          {% else %}
            <img height="80px" width="80px" src="{% static 'img/profile-fallback.jpg' %}" alt="Placeholder profile picture">
          {% endif %}
        {% else %}
            <img height="80px" width="80px" src="{% static 'img/profile-fallback.jpg' %}" alt="Placeholder profile picture">
        {% endif %}
    </div>
    <div class="m-author__body">
        <h3 class="m-author__title">Written by {{name|default_if_none:""}}</h3>
        <p class="m-author__job">{{position|default_if_none:""}}</p>
    </div>
</div>
