{% load wagtailimages_tags wagtailcore_tags static %}

<a href="{% if page %}{% pageurl page %}{% else %}{{link}}{% endif %}" class="m-author {{class_name}}">
    <div class="m-author__image">
        {% if img %}
          {% image img fill-80x80-c100 as image %}
          {% if image.url != '/media/not-found' %}
            <img src="{{ image.url }}" alt="{{ image.alt }}">
          {% else %}
            <img height="80px" width="80px" src="{% static 'img/profile-fallback.jpg' %}" alt="Placeholder profile picture">
          {% endif %}
        {% else %}
          <img height="80px" width="80px" src="{% static 'img/profile-fallback.jpg' %}" alt="Placeholder profile picture">
        {% endif %}
    </div>
    <div class="m-author__body">
        <h3 class="m-author__title">{{author_prefix|default_if_none:"Written by"}} {{name|default_if_none:""}}</h3>
        <p class="m-author__job">{{position|default_if_none:""}}</p>
    </div>
</a>
