{% load wagtailcore_tags %}

<li>
  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-calendar-slate"></i>
  {% if event.start_date == event.end_date %}
    {{ event.start_date|date:"j F Y" }}
  {% elif event.start_date.year == event.end_date.year %}
    {{ event.start_date|date:"j F" }} - {{ event.end_date|date:"j F Y" }}
  {% else %}
    {{ event.start_date|date:"j F Y" }} - {{ event.end_date|date:"j F Y" }}
  {% endif %}
</li>
{% if event.start_time or event.end_time %}
<li>
  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-clock-slate"></i>
  {% if event.start_time and event.end_time %}
    {{ event.start_time|date:"fA"|lower }} - {{ event.end_time|date:"fA"|lower }} {{ event.timezone }}
  {% elif event.start_time %}
    {{ event.start_time|date:"fA"|lower }} {{ event.timezone }}
  {% elif event.end_time %}
    {{ event.end_time|date:"fA"|lower }} {{ event.timezone }}
  {% endif %}
</li>
{% endif %}
{% if event.location %}
<li>
  <i role="presentation" aria-hidden="true" class="ico ico--14 ico-location-slate"></i>
  {{ event.location }}
</li>
{% endif %}
