{% load wagtailimages_tags wagtailcore_tags %}

<div class="project">
  <div class="project__main">
    <div class="project__header">
      {% if self.image %}
        {% image self.image fill-180x112-c100 as image %}
        <div class="project__media">
          <img src="{{ image.url }}" alt="{{ image.alt }}">
        </div>
      {% endif %}
      <h2 class="project__heading">{{self.title}}</h2>
      <h3 class="project__subheading">{{self.subtitle|default_if_none:""}}</h3>
    </div>
    <div class="is-typeset">
      {{self.body|richtext}}
    </div>
  </div>
  <div class="project__aside">
    {% block project_aside %}{% endblock project_aside %}
  </div>
</div>
