{% load static wagtailcore_tags card_tags generic_tags %}

<section class="section">
    <div class="row row--narrow">
        <h2 class="section__heading">{{heading}}</h2>
        <div class="l-2up{% if related_pages|length > 2 %}-3up{% endif %}">
          {% with nav_param="?nav=more-about" hide_date=page.hide_date%}
            {% for page in related_pages %}
              {% if page.specific|classname == global.blog_classname %}
                  {% with blog=page.specific show_tag=True %}
                      {% include 'includes/cards/card-blog.html' with hide_date=True %}
                  {% endwith %}
              {% elif page.specific|classname == global.event_classname %}
                  {% with event=page.specific show_tag=True %}
                      {% include 'includes/cards/card-event.html' with hide_date=True %}
                  {% endwith %}
              {% elif page.specific|classname == global.news_classname %}
                  {% with item=page.specific show_tag=True %}
                      {% include 'includes/cards/card-news.html' with hide_date=True %}
                  {% endwith %}
              {% elif page.specific|classname in global.publication_classnames %}
                {% with item=page.specific show_tag=True %}
                  {% include 'includes/cards/card-publication.html' with hide_date=True %}
                {% endwith %}
              {% else %}
                  {% with item=page.specific tag=tag %}
                      {% include 'includes/cards/card-related.html' with hide_date=True %}
                  {% endwith %}
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
    </div>
</section>
