{% extends 'layouts/default.html' %}
{% load wagtailcore_tags navigation_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}


{% block body %}

<div class="section">
	<div class="row row--narrow">
		<div class="is-typeset as-wysiwyg max-meter">
			<p>{{ page.body }}</p>
			<h4>Some things that might be helpful</h4>
			<ul>
                {% if page.email %}
                    <li>Report this link as broken by emailing <a href="mailto:{{ page.email }}">{{ page.email }}</a></li>
                {% endif %}

                {% if page.home_url %}
                    <li><a href="{{ page.home_url }}" rel="home">Our homepage</a></li>
                {% endif %}

                {% if page.contactus_url %}
                    <li><a href="{{ page.contactus_url }}">Contact us</a></li>
                {% endif %}

			</ul>
		</div>
	</div>
</div>

{% endblock body %}
