{% extends "layouts/default.html" %}

{% load wagtailcore_tags navigation_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                  <div class="aside aside--clipping">
                    {% secondary_menu %}
                  </div>
                </aside>
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        {% for block in page.body %}
                          {% include_block block %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="l-2up-3up">
                {% for event in events %}
                    {% include 'includes/cards/card-event.html' %}
                {% endfor %}
            </div>
            {% include "includes/scaffold/pagination.html" with children=events %}
        </div>
    </section>

{% endblock %}
