{% extends "layouts/default.html" %}

{% load wagtailcore_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <!-- TODO: add what we do section when approved -->
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        {% for block in page.body %}
                            {% if block.block_type == 'paragraph_block' or block.block_type == 'block_quote' %}
                                {% include_block block %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="l-2up-3up">

                {% for event in events %}
                    {% include 'includes/cards/card-event.html' %}
                {% endfor %}

            </div>

            {% include "includes/scaffold/pagination-links.html" with children=events %}

        </div>
    </section>

{% endblock %}


{% block footer %}
    {% include 'includes/scaffold/footer.html' %}
{% endblock %}
