{% extends 'layouts/default.html' %}

{% load wagtailcore_tags %}

{% block hero %}
    {% include 'includes/heroes/hero.html' %}
{% endblock hero %}


{% block body %}
    <section class="section">
        <div class="row row--narrow">
            <div class="l-sidebar">
                <aside class="l-sidebar__aside">
                    <div class="aside aside--clipping">
                       
                    </div>
                </aside>
                
                <div class="l-sidebar__body">
                    <div class="is-typeset wysiwyg">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row row--narrow">
            <div class="l-2up-3up">
                {% if events %}
                    {% for item in events %}
                        {% include 'includes/cards/card-events.html' %}
                    {% endfor %}
                {% endif %}
            </div>
            {% include 'includes/scaffold/pagination-links.html' %}
        </div>
    </section>
{% endblock %}
