.termsfeed-com---palette-dark .cc-nb-okagree {
  color: #fff !important;
  background-color: #8f1b13 !important;
}
.termsfeed-com---palette-dark .cc-nb-reject {
  color: #fff !important;
  background-color: #8f1b13 !important;
}
.termsfeed-com---palette-dark .cc-cp-foot-save {
  background: #8f1b13 !important;
  color: #fff !important;
}
.cc-custom-checkbox label {
  color: #fff !important;
}
.termsfeed-com---palette-dark {
  font-family: "Geomanist Regular",sans-serif !important;
}
