{% load string_utils report_utils %}

{% if page.chapters %}
    <div class="js-chapter-nav{% if page.get_verbose_name == "Short Publication" %}-simple{% endif %}">
        <div class="page__action">
            {% if page.get_verbose_name != "Short Publication" %}
              {% include 'publications/chapter-nav/prev-next.html' %}
            {% endif %}
            <div class="page__action__menu">
                <span tabindex="0" class="page__action_text">{{ menu_label|default:'Jump to chapter' }}</span>
                <div class="page__action__burgerWrapper">
                    <div class="burger burger--reverse"><span></span></div>
                </div>
            </div>
        </div>

        <div class="chapter-nav-wrapper{% if page.get_verbose_name == "Short Publication" %} chapter-nav-wrapper--simple{% endif %}">
            <div class="row__nojs">
                <nav class="chapter-nav" role="navigation" aria-label="navigation">
                    <div class="chapter-scroll">
                        <ul class="chapter-nav__list">
                            {% chapter_nav_slice page.chapters chapter_number as nav_slice %}
                            {% for item in page.chapters|slice:nav_slice %}
                                {% include 'publications/chapter-nav/nav-item.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endif %}
