{% load string_utils report_utils wagtailcore_tags %}

{% if page.listing_and_appendicies %}
    <div class="js-chapter-nav{% if page.get_verbose_name == "Short Publication" %}-simple{% endif %}">
        <div class="page__action">
            {% if page.get_verbose_name != "Short Publication" %}
              {% include 'publications/chapter-nav/prev-next.html' %}
            {% endif %}
            <div class="page__action__menu">
                <span tabindex="0" class="page__action_text">{{ menu_label|default:'Jump to chapter' }}</span>
                <div class="page__action__burgerWrapper">
                    <div class="burger burger--reverse"><span></span></div>
                </div>
            </div>
        </div>

        <div class="chapter-nav-wrapper{% if page.get_verbose_name == "Short Publication" %} chapter-nav-wrapper--simple{% endif %}">
            <div class="row__nojs">
                <nav class="chapter-nav" role="navigation" aria-label="navigation">
                    <div class="chapter-scroll">
                        <ul class="chapter-nav__list">
                          {% if page.get_verbose_name != "Publication Page" and page.get_verbose_name != "Short Publication" %}
                            <a href="{% pageurl page %}" class="button button--summary button--a11y" title="View full report"><i role="presentation" aria-hidden="true" class="ico ico--16 ico-list-poppy"></i> <span>View full report</span></a>
                          {% endif %}
                            {% chapter_nav_slice page.listing_and_appendicies chapter_number as nav_slice %}
                            {% for item in page.listing_and_appendicies|slice:nav_slice %}
                                {% include 'publications/chapter-nav/nav-item.html' %}
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% endif %}
