{% load report_utils %}

{% if label %}
    <div class="page__action__pagination">
        {% get_previous_page page.listing_and_appendicies label as previous %}
        {% if previous %}
            <a href="{{ previous.url }}" class="page__action__previous">
                {% include 'publications/icon.html' with file='ico-arrow-left-blank' size=16 %}
            </a>
        {% endif %}
        {% if nav_label %}
            <span class="page-action__section">{{nav_label}}</span>
        {% else %}
            <span class="page-action__section">{{label_num}}</span>
        {% endif %}
        {% get_next_page page.listing_and_appendicies label as next %}
        {% if next %}
            <a href="{{ next.url }}" class="page__action__next">
                {% include 'publications/icon.html' with file='ico-arrow-right-blank' size=16 %}
            </a>
        {% endif %}
    </div>
  {% endif %}
