{% extends "layouts/default.html" %}
{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block hero %}
  {% include 'includes/heroes/hero.html' %}
{% endblock hero %}

{% block body %}

<section class="section">
  <div class="row row--narrow">
    <div class="l-sidebar">
      {% comment %} TODO:: Add more about section here {% endcomment %}
      <div class="l-sidebar__body">
        <div class="is-typeset wysiwyg">
          <p>
            {{ page.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="row row--narrow">
    <div class="l-2up">
      <div class="l-2up__col">

{% if random_quote.value.team_member %}

<div class="testimonial testimonial--reverse">
  <div class="testimonial__main">
    <p class="testimonial__copy">
      {{ random_quote.value.quote_text }}
    </p>
    <span class="testimonial__cite">
      {{ random_quote.value.team_member.specific.name }}, {{ random_quote.value.team_member.specific.position }}, DI
    </span>
  </div>
  <aside class="testimonial__aside">
    {% if random_quote.value.team_member.specific.image %}
      {% image random_quote.value.team_member.specific.image max-400x250 as profile_img %}
      <img src="{{ profile_img.url }}" alt="alt tag">
    {% else %}
      <img src="img/fallback-image.jpg" alt="alt tag">
    {% endif %}
  </aside>
</div>

{% else %}
<div class="testimonial testimonial--reverse">
  <div class="testimonial__main">
    <p class="testimonial__copy">
      {{ random_quote.value.quote_text }}
    </p>
    <span class="testimonial__cite">
      {{ random_quote.value.name }}, {{ random_quote.value.role }}, {{ random_quote.value.organisation }},
    </span>
  </div>
  <aside class="testimonial__aside">
    {% if random_quote.value.external_member_photo %}
      {% image random_quote.value.external_member_photo max-400x250 as profile_img %}
      <img src="{{ profile_img.url }}" alt="alt tag">
    {% else %}
      <img src="img/fallback-image.jpg" alt="alt tag">
    {% endif %}
  </aside>
</div>

{% endif %}

      </div>
      <div class="l-2up__col">
        <p class="m-text-major"><span>583</span> datasets</p>
        <p class="para para--typeset">
          {{ page.dataset_subtitle }}
        </p>
        <a href="{{ page.hero_link }}" class="button">View datasets</a>
      </div>
    </div>
  </div>
</section>

{% for block in page.data_support %}

<section class="section">
  <div class="row row--narrow">
    <div class="banner">
      <div class="l-banner">
        <div class="l-banner__aside">
          <div class="banner__media">
          {% if block.value.photo %}
            {% image block.value.photo max-400x250 as photo %}
            <img src="{{ photo.url }}" alt="alt tag">
            <span class="banner__credit">Image by <a href="{{ block.value.photo_credit }}">{{ block.value.photographer }}</a></span>
          {% else %}
            <img src="img/fallback-image.jpg" alt="alt tag">
          {% endif %}
          </div>
        </div>
        <div class="l-banner__main">
          <h3 class="banner__heading">{{ block.value.title }}</h3>
          <p class="banner__excerpt">
            {{ block.value.description }}
          </p>
          <ul class="banner__list">
            <li>Telephone: {{ block.value.telephone }}</li>
            <li>Email: <a href="mailto:">{{ block.value.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% endfor %}

{% endblock %}
