// Referenced in base/libs/_placeholders.scss

// ------------------------------------------------------------
// Local fonts
// ------------------------------------------------------------

// Name / file name (must be the same for each webfont type
@include font-face("Geomanist Regular","geomanist-regular-webfont");
@include font-face("Geomanist Light","geomanist-light-webfont");
@include font-face("Geomanist Bold","geomanist-bold-webfont");


// ------------------------------------------------------------
// SVN fonts
// ------------------------------------------------------------

// @import url(http://fonts.googleapis.com/css?family=Merriweather:400,700);
